Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

add unique-username routes to unauthenticated list
  src/api/middlewares/Authentication.ts
Due: eslint, prettier --write

rename pomeloEnabled to uniqueUsernames
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/users/@me/index.ts
  src/api/routes/users/@me/relationships.ts
  src/connections/Discord/index.ts
  src/schemas/uncategorised/RelationshipPostSchema.ts
  src/util/config/types/GeneralConfiguration.ts
  src/util/entities/User.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Implement Pomelo Registration
  assets/locales/en/auth.json
  src/api/routes/auth/register.ts
  src/api/routes/unique-username/username-attempt-unauthed.ts
  src/api/routes/unique-username/username-suggestions-unauthed.ts
  src/api/routes/users/@me/index.ts
  src/schemas/responses/UsernameAttemptResponse.ts
  src/schemas/uncategorised/UsernameAttemptUnauthedSchema.ts
  src/schemas/uncategorised/index.ts
  src/util/entities/User.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Send experiment required to enable pomelo UI in discord client
  src/api/routes/experiments.ts
  src/util/interfaces/Experiments.ts
Due: eslint, prettier --write

rename handle to tag
  src/api/routes/auth/forgot.ts
  src/util/entities/User.ts
Due: eslint, prettier --write

add legacy_username user field
  src/api/routes/users/#id/profile.ts
  src/api/routes/users/#user_id/profile.ts
  src/util/entities/User.ts
Due: eslint, prettier --write

initial pomelo implementation
  src/api/routes/auth/forgot.ts
  src/api/routes/channels/#channel_id/messages/#message_id/crosspost.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/guilds/#guild_id/bans.ts
  src/api/routes/guilds/#guild_id/messages/search.ts
  src/api/routes/oauth2/authorize.ts
  src/api/routes/users/#user_id/relationships.ts
  src/api/routes/users/@me/index.ts
  src/api/routes/users/@me/relationships.ts
  src/connections/Discord/index.ts
  src/schemas/responses/GuildBansResponse.ts
  src/schemas/responses/GuildWidgetJsonResponse.ts
  src/schemas/responses/UserRelationsResponse.ts
  src/schemas/uncategorised/RelationshipPostSchema.ts
  src/util/config/types/GeneralConfiguration.ts
  src/util/dtos/UserDTO.ts
  src/util/entities/User.ts
  src/util/util/email/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

send disclosure for pomelo
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

update pomelo experiment
  src/api/routes/experiments.ts
Due: eslint, prettier --write

Update username-suggestions-unauthed.ts
  src/api/routes/unique-username/username-suggestions-unauthed.ts
Due: eslint, prettier --write

Post-rebase fixes
  src/api/routes/unique-username/username-attempt-unauthed.ts
  src/api/routes/users/#id/profile.ts
  src/api/routes/users/@me/pomelo-attempt.ts
  src/api/routes/users/@me/pomelo.ts
  src/connections/Discord/index.ts
  src/schemas/api/users/User.ts
  src/schemas/uncategorised/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

fix being able to register with taken username
  src/api/routes/experiments.ts
  src/api/routes/unique-username/username-attempt-unauthed.ts
  src/api/routes/users/@me/index.ts
  src/util/entities/User.ts
Due: eslint, prettier --write

implement authed pomelo routes
  src/api/routes/users/@me/pomelo-attempt.ts
  src/api/routes/users/@me/pomelo-suggestions.ts
  src/api/routes/users/@me/pomelo.ts
Due: eslint, prettier --write

rename unique uesrname response and schema
  src/api/routes/unique-username/username-attempt-unauthed.ts
  src/api/routes/unique-username/username-suggestions-unauthed.ts
  src/schemas/responses/TypedResponses.ts
  src/schemas/responses/UniqueUsernameAttemptResponse.ts
  src/schemas/responses/UsernameAttemptResponse.ts
  src/schemas/uncategorised/UniqueUsernameAttemptSchema.ts
  src/schemas/uncategorised/UsernameAttemptUnauthedSchema.ts
  src/schemas/uncategorised/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Schemas
  assets/openapi.json
  assets/schemas.json
  src/api/routes/guilds/#guild_id/widget.json.ts
  src/api/routes/oauth2/authorize.ts
Due: eslint, prettier --write

Nix: remove dependency on postgres service if host isnt running it
  nix/modules/default/default.nix
Due: none

network-online.target -> network.target?
  nix/modules/default/default.nix
Due: none

Set 15s timeout for migrations
  nix/modules/default/default.nix
Due: none

disable services as a test
  nix/modules/default/default.nix
Due: none

reenable wantedby
  nix/modules/default/default.nix
Due: none

bot fix
  src/util/util/Permissions.ts
Due: eslint, prettier --write

WIP: StopForumSpam support
  src/util/util/networking/index.ts
  src/util/util/networking/stopforumspam/StopForumSpamClient.ts
Due: eslint, prettier --write

Nix: dont depend on network.target
  nix/modules/default/default.nix
Due: none

Nix: dont set after/requires at all
  nix/modules/default/default.nix
Due: none

Apply-migrations: retry
  src/apply-migrations.ts
Due: eslint, prettier --write

Move health endpoints to /, deprecate /api/-. Fixes #1089
  assets/openapi.json
  scripts/schemaExclusions.json
  src/api/Server.ts
  src/api/routes/-/healthz.ts
  src/api/routes/-/readyz.ts
Due: eslint, prettier --write

CDN: use central cache middleware. Closes #1455
  src/cdn/routes/attachments.ts
  src/cdn/routes/avatars.ts
  src/cdn/routes/badge-icons.ts
  src/cdn/routes/embed.ts
  src/cdn/routes/guild-profiles.ts
  src/cdn/routes/role-icons.ts
  src/cdn/util/cache.ts
Due: eslint, prettier --write

Make openapi.js work offline - still needs conditionals fixed though
  assets/openapi.json
  default.nix
  scripts/openapi.js
  src/api/routes/-/healthz.ts
  src/api/routes/-/readyz.ts
  src/api/routes/applications/detectable.ts
  src/api/routes/auth/fingerprint.ts
  src/api/routes/auth/generate-registration-tokens.ts
  src/api/routes/auth/mfa/totp.ts
  src/api/routes/auth/mfa/webauthn.ts
  src/api/routes/auth/whoami.ts
  src/api/routes/beaker.ts
  src/api/routes/guild-recommendations.ts
  src/api/routes/ping.ts
  src/api/routes/policies/instance/config.ts
  src/api/routes/policies/instance/domains.ts
  src/api/routes/policies/instance/index.ts
  src/api/routes/policies/instance/limits.ts
  src/api/routes/policies/stats.ts
  src/api/routes/reporting/index.ts
  src/api/routes/scheduled-maintenances/upcoming.json.ts
  src/api/routes/track.ts
  src/api/routes/users/@me/settings-proto/1.ts
  src/api/routes/users/@me/settings-proto/2.ts
  src/api/util/handlers/route.ts
Due: eslint, prettier --write

add rabbitmq reconnection logic with state recovery
  src/api/middlewares/RateLimit.ts
  src/gateway/listener/listener.ts
  src/util/util/Event.ts
  src/util/util/RabbitMQ.ts
Due: eslint, prettier --write

Port User.tag getter from pomelo as utility
  assets/openapi.json
  assets/schemas.json
  src/api/routes/auth/forgot.ts
  src/api/routes/auth/verify/resend.ts
  src/util/entities/User.ts
Due: eslint, prettier --write

Dummy warp endpoint
  assets/openapi.json
  src/api/routes/warp/license.ts
Due: eslint, prettier --write

Identify: add self as recipient for DMs with nonexistnt users
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

cdn: actually execute controllers
  src/cdn/util/cache.ts
Due: eslint, prettier --write

Forbid dashes in emoji names
  src/api/routes/guilds/#guild_id/emojis.ts
Due: eslint, prettier --write

Make bot invites configurable
  src/api/routes/guilds/#guild_id/members/#member_id/index.ts
  src/api/routes/invites/index.ts
  src/util/config/types/UsersConfiguration.ts
Due: eslint, prettier --write

Update dotent dep locks
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Abstractions/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/deps.json
  extra/admin-api/Models/Spacebar.Models.Db/Spacebar.Models.Db.csproj
  extra/admin-api/Models/Spacebar.Models.Db/deps.json
  extra/admin-api/Spacebar.AdminApi/deps.json
  extra/admin-api/Spacebar.Cdn/deps.json
  extra/admin-api/Utilities/Spacebar.Cdn.Fsck/deps.json
  extra/admin-api/update-deps.cs
Due: none

Drop cdn-cs module
  nix/modules/default/cdn-cs.nix
  nix/modules/default/default.nix
Due: none

Raise timeout of migrations pre-start script to allow initial ddl to finish
  nix/modules/default/default.nix
Due: none

Rename use_thread permissions to create_thread
  flake.lock
  src/util/util/Permissions.ts
Due: eslint, prettier --write
