Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

Exclude some more schemas
  scripts/schema.js
Due: eslint, prettier --write

Add some more runconfigs
  .idea/runConfigurations/Build.xml
  .idea/runConfigurations/Clean.xml
  .idea/runConfigurations/Start_API.xml
  .idea/runConfigurations/Start_CDN.xml
  .idea/runConfigurations/Start_Gateway.xml
  .idea/runConfigurations/Start_bundle.xml
  .idea/workspace.xml
  package.json
Due: none

Use EnvConfig for proto settings logging, unify setting
  src/api/routes/users/@me/settings-proto/1.ts
  src/api/routes/users/@me/settings-proto/2.ts
Due: eslint, prettier --write

Use EnvConfig for logging settings
  src/api/Server.ts
  src/bundle/Server.ts
  src/cdn/Server.ts
Due: eslint, prettier --write

Use getter for EnvConfig
  src/api/Server.ts
  src/api/routes/users/@me/settings-proto/1.ts
  src/api/routes/users/@me/settings-proto/2.ts
  src/api/start.ts
  src/api/util/handlers/route.ts
  src/bundle/Server.ts
  src/bundle/start.ts
  src/cdn/Server.ts
  src/gateway/events/Connection.ts
  src/util/Signing.ts
  src/util/config/EnvConfig.ts
  src/util/util/Database.ts
  src/util/util/Token.ts
  src/webrtc/events/Connection.ts
Due: eslint, prettier --write

Refactor config
  scripts/configTemplates/bundle.json
  scripts/configTemplates/split.json
  src/applyConfig.ts
  src/util/util/Config.ts
Due: eslint, prettier --write

Improve openapi schema generation script
  scripts/schema.js
Due: eslint, prettier --write

Use EnvConfig for database
  src/util/util/Database.ts
Due: eslint, prettier --write

Fix a couple of imports
  src/util/automod/AutomodMessageExecutor.ts
  src/webrtc/events/Connection.ts
Due: eslint, prettier --write

Automod work (WIP)
  package.json
  src/api/routes/channels/#channel_id/messages/index.ts
  src/util/automod/AutomodExecutor.ts
  src/util/automod/AutomodMessageExecutor.ts
  src/util/automod/index.ts
  src/util/index.ts
Due: eslint, prettier --write

Use EnvConfig for more logging options
  src/gateway/events/Connection.ts
  src/util/Signing.ts
  src/util/util/Token.ts
  src/webrtc/events/Connection.ts
Due: eslint, prettier --write

Use EnvConfig for validation errors
  src/api/util/handlers/route.ts
Due: eslint, prettier --write

Use EnvConfig for port
  src/api/start.ts
  src/bundle/Server.ts
  src/cdn/start.ts
  src/gateway/start.ts
  src/util/config/EnvConfig.ts
  src/webrtc/start.ts
Due: eslint, prettier --write

Introduce EnvConfig classes
  src/util/config/EnvConfig.ts
  src/util/config/envTypes/ConfigurationEnvConfiguration.ts
  src/util/config/envTypes/DatabaseEnvConfiguration.ts
  src/util/config/envTypes/LogEnvConfiguration.ts
  src/util/config/index.ts
Due: eslint, prettier --write

Use EnvConfig for thread count
  src/api/start.ts
  src/bundle/start.ts
Due: eslint, prettier --write

Prettier u15
  package.json
  scripts/configTemplates/bundle.json
  scripts/configTemplates/split.json
  scripts/schema.js
  scripts/schemaExclusions.json
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/users/@me/settings-proto/1.ts
  src/api/routes/users/@me/settings-proto/2.ts
  src/cdn/util/Storage.ts
  src/gateway/events/Connection.ts
  src/gateway/opcodes/Identify.ts
  src/renderEnvConfigSchema.ts
  src/util/automod/AutomodExecutor.ts
  src/util/automod/AutomodMessageExecutor.ts
  src/util/automod/index.ts
  src/util/config/envTypes/ConfigurationEnvConfiguration.ts
  src/util/config/envTypes/DatabaseEnvConfiguration.ts
  src/util/config/envTypes/LogEnvConfiguration.ts
  src/util/config/envTypes/WebRtcEnvConfiguration.ts
  src/util/index.ts
  src/util/util/Token.ts
  src/util/util/extensions/Array.ts
  src/webrtc/events/Connection.ts
  src/webrtc/util/Send.ts
Due: eslint, prettier --write

Update workspace.xml after rebase
  .idea/workspace.xml
Due: none

Fix extension cleanup stuff from Mathium05
  src/util/config/envTypes/ConfigurationEnvConfiguration.ts
  src/util/config/envTypes/LogEnvConfiguration.ts
  src/util/config/envTypes/WebRtcEnvConfiguration.ts
  src/util/util/extensions/Array.ts
Due: eslint, prettier --write

EnvConfig everywhere
  package.json
  src/api/middlewares/ImageProxy.ts
  src/bundle/start.ts
  src/cdn/start.ts
  src/cdn/util/FileStorage.ts
  src/cdn/util/Storage.ts
  src/gateway/events/Connection.ts
  src/gateway/events/Message.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/start.ts
  src/gateway/util/Send.ts
  src/gateway/util/WebSocket.ts
  src/renderEnvConfigSchema.ts
  src/util/config/EnvConfig.ts
  src/util/config/envTypes/CdnEnvConfiguration.ts
  src/util/config/envTypes/ConfigurationEnvConfiguration.ts
  src/util/config/envTypes/DatabaseEnvConfiguration.ts
  src/util/config/envTypes/LogEnvConfiguration.ts
  src/util/config/envTypes/WebRtcEnvConfiguration.ts
  src/util/util/Database.ts
  src/util/util/Event.ts
  src/util/util/KittyLogo.ts
  src/webrtc/events/Connection.ts
  src/webrtc/opcodes/Identify.ts
  src/webrtc/util/MediaServer.ts
  src/webrtc/util/Send.ts
Due: eslint, prettier --write

Fix prettierigore
  .prettierignore
Due: none

Drop extended_settings, account data soon. Closes #1160
  assets/openapi.json
  assets/schemas.json
  src/schemas/api/users/User.ts
  src/util/entities/User.ts
  src/util/migration/postgres/1765967660704-DropExtendedSettings.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Setting protos support
  src/util/entities/UserSettingsProtos.ts
Due: eslint, prettier --write

Some further work
  assets/public/content/store-banners/main-store-banner.png
  assets/public/content/store-banners/main-store-banner.xcf
  src/api/routes/collectibles-shop.ts
  src/cdn/routes/avatar-decoration-presets.ts
  src/schemas/responses/CollectiblesShopResponse.ts
  src/util/entities/Channel.ts
  src/util/entities/UserSettingsProtos.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

updates
  src/api/routes/guilds/#guild_id/members/#member_id/index.ts
  src/api/routes/guilds/#guild_id/profile/index.ts
Due: eslint, prettier --write

friend nicknames
  src/api/routes/users/@me/relationships.ts
  src/schemas/uncategorised/RelationshipPatchSchema.ts
  src/schemas/uncategorised/index.ts
  src/util/interfaces/Event.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Update schemas post-merge
  assets/openapi.json
  assets/schemas.json
Due: none

initial pomelo implementation
  src/api/routes/auth/forgot.ts
  src/api/routes/channels/#channel_id/messages/#message_id/crosspost.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/guilds/#guild_id/bans.ts
  src/api/routes/guilds/#guild_id/messages/search.ts
  src/api/routes/oauth2/authorize.ts
  src/api/routes/users/#user_id/relationships.ts
  src/api/routes/users/@me/index.ts
  src/api/routes/users/@me/relationships.ts
  src/connections/Discord/index.ts
  src/schemas/responses/GuildBansResponse.ts
  src/schemas/responses/GuildWidgetJsonResponse.ts
  src/schemas/responses/UserRelationsResponse.ts
  src/schemas/uncategorised/RelationshipPostSchema.ts
  src/util/config/types/GeneralConfiguration.ts
  src/util/dtos/UserDTO.ts
  src/util/entities/User.ts
  src/util/util/email/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

lint
  src/util/entities/User.ts
Due: eslint, prettier --write

rename handle to tag
  src/api/routes/auth/forgot.ts
  src/util/entities/User.ts
Due: eslint, prettier --write

remove display_name
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/guilds/#guild_id/bans.ts
  src/api/routes/guilds/#guild_id/messages/search.ts
  src/api/routes/oauth2/authorize.ts
  src/api/routes/users/#user_id/relationships.ts
  src/connections/Discord/index.ts
  src/schemas/responses/GuildBansResponse.ts
  src/schemas/responses/GuildWidgetJsonResponse.ts
  src/schemas/responses/UserRelationsResponse.ts
  src/util/dtos/UserDTO.ts
  src/util/entities/User.ts
  src/util/util/email/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

rename pomeloEnabled to uniqueUsernames
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/users/@me/index.ts
  src/api/routes/users/@me/relationships.ts
  src/connections/Discord/index.ts
  src/schemas/uncategorised/RelationshipPostSchema.ts
  src/util/config/types/GeneralConfiguration.ts
  src/util/entities/User.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

add legacy_username user field
  src/api/routes/users/#id/profile.ts
  src/api/routes/users/#user_id/profile.ts
  src/util/entities/User.ts
Due: eslint, prettier --write

update user modify for unique usernames
  assets/locales/en/common.json
  src/api/routes/users/@me/index.ts
  src/util/config/types/UsersConfiguration.ts
  src/util/config/types/subconfigurations/limits/UserLimits.ts
  src/util/entities/User.ts
Due: eslint, prettier --write

Implement Pomelo Registration
  assets/locales/en/auth.json
  src/api/routes/auth/register.ts
  src/api/routes/unique-username/username-attempt-unauthed.ts
  src/api/routes/unique-username/username-suggestions-unauthed.ts
  src/api/routes/users/@me/index.ts
  src/schemas/responses/UsernameAttemptResponse.ts
  src/schemas/uncategorised/UserModifySchema.ts
  src/schemas/uncategorised/UsernameAttemptUnauthedSchema.ts
  src/schemas/uncategorised/index.ts
  src/util/entities/User.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Send experiment required to enable pomelo UI in discord client
  src/api/routes/experiments.ts
  src/util/interfaces/Experiments.ts
Due: eslint, prettier --write

add unique-username routes to unauthenticated list
  src/api/middlewares/Authentication.ts
Due: eslint, prettier --write

send disclosure for pomelo
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

update pomelo experiment
  src/api/routes/experiments.ts
Due: eslint, prettier --write

fix being able to register with taken username
  src/api/routes/experiments.ts
  src/api/routes/unique-username/username-attempt-unauthed.ts
  src/api/routes/users/@me/index.ts
  src/util/entities/User.ts
Due: eslint, prettier --write
