Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Allow subpath imports from module aliases
  tsconfig.json
Due: none

Move database to toplevel
  package.json
  src/api/Server.ts
  src/api/routes/-/readyz.ts
  src/api/util/handlers/Message.ts
  src/apply-migrations.ts
  src/bundle/Server.ts
  src/cdn/Server.ts
  src/database/Database.ts
  src/database/index.ts
  src/gateway/Server.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/LazyRequest.ts
  src/gateway/opcodes/RequestGuildMembers.ts
  src/util/entities/BaseClass.ts
  src/util/util/index.ts
  src/webrtc/Server.ts
  tsconfig.json
Due: eslint, prettier --write

Remove extraneous export
  src/util/util/index.ts
Due: eslint, prettier --write

Fix import path for initial migration
  src/database/Database.ts
Due: eslint, prettier --write

api/widget: dont import the entirety of the CDN server
  src/api/routes/guilds/#guild_id/widget.png.ts
Due: eslint, prettier --write

Allow subpath imports, move extensions to separate module
  package.json
  src/api/routes/channels/#channel_id/messages/#message_id/reactions.ts
  src/api/routes/guilds/#guild_id/roles/#role_id/members.ts
  src/api/util/handlers/Message.ts
  src/api/util/utility/EmbedHandlers.ts
  src/cdn/routes/avatars.ts
  src/extensions/Array.ts
  src/extensions/Math.ts
  src/extensions/index.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/LazyRequest.ts
  src/gateway/util/Utils.ts
  src/util/entities/Guild.ts
  src/util/util/index.ts
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/listener/UnixSocketListener.ts
  src/util/util/ipc/writer/RabbitMqSingleWriter.ts
  tsconfig.json
Due: eslint, prettier --write

CDN: unify imports layout
  src/cdn/Server.ts
  src/cdn/routes/app-assets.ts
  src/cdn/routes/app-icons.ts
  src/cdn/routes/attachments.ts
  src/cdn/routes/avatar-decoration-presets.ts
  src/cdn/routes/avatars.ts
  src/cdn/routes/badge-icons.ts
  src/cdn/routes/banners.ts
  src/cdn/routes/channel-icons.ts
  src/cdn/routes/discover-splashes.ts
  src/cdn/routes/discovery-splashes.ts
  src/cdn/routes/embed.ts
  src/cdn/routes/emojis.ts
  src/cdn/routes/guild-profiles.ts
  src/cdn/routes/icons.ts
  src/cdn/routes/role-icons.ts
  src/cdn/routes/splashes.ts
  src/cdn/routes/stickers.ts
  src/cdn/routes/team-icons.ts
  src/cdn/util/FileStorage.ts
  src/cdn/util/Storage.ts
  src/cdn/util/index.ts
Due: eslint, prettier --write

Bump npm package minors
  assets/openapi.json
  assets/schemas.json
  package-lock.json
  package.json
Due: none

HACKHACK: Migrate to typeorm v1.0.0, still work to do in actually updating all the queries properly
  package-lock.json
  package.json
  src/api/routes/channels/#channel_id/index.ts
  src/api/routes/channels/#channel_id/invites.ts
  src/api/routes/channels/#channel_id/messages/#message_id/reactions.ts
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
  src/api/routes/channels/#channel_id/recipients.ts
  src/api/routes/channels/#channel_id/tags.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/routes/guilds/#guild_id/invites.ts
  src/api/routes/guilds/#guild_id/members/index.ts
  src/api/routes/guilds/#guild_id/messages/search.ts
  src/api/routes/guilds/#guild_id/templates.ts
  src/api/routes/invites/index.ts
  src/api/routes/users/#user_id/delete.ts
  src/api/routes/users/#user_id/profile.ts
  src/api/routes/users/@me/index.ts
  src/api/routes/users/@me/relationships.ts
  src/database/entities/Channel.ts
  src/database/entities/Member.ts
  src/database/entities/User.ts
  src/gateway/opcodes/Identify.ts
  src/util/dtos/DmChannelDTO.ts
  src/util/imports/OrmUtils.test.ts
  src/util/imports/OrmUtils.ts
  src/util/util/Permissions.ts
  src/util/util/Token.ts
Due: eslint, prettier --write

Bump discord-protos
  package-lock.json
  package.json
Due: none

Split config/response voice regions, remove APIVoiceRegion alias
  assets/openapi.json
  assets/schemas.json
  scripts/schema.js
  src/api/routes/guilds/#guild_id/regions.ts
  src/api/routes/voice/regions.ts
  src/gateway/opcodes/VoiceStateUpdate.ts
  src/schemas/responses/TypedResponses.ts
  src/schemas/webrtc/VoiceRegion.ts
  src/schemas/webrtc/index.ts
  src/util/config/types/RegionConfiguration.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Replace APIRole with schema
  assets/openapi.json
  assets/schemas.json
  src/api/routes/guilds/#guild_id/roles/index.ts
  src/schemas/api/guilds/Role.ts
  src/schemas/responses/TypedResponses.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Account for channel id when deleting messages
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
Due: eslint, prettier --write

Dont fetch roles for non-guild mesages
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Dont fetch roles if role id set is empty
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Move random string to Random class in extensions
  src/api/routes/auth/generate-registration-tokens.ts
  src/api/routes/channels/#channel_id/attachments.ts
  src/api/routes/channels/#channel_id/invites.ts
  src/api/routes/guilds/#guild_id/widget.json.ts
  src/api/util/handlers/Message.ts
  src/api/util/index.ts
  src/api/util/utility/RandomInviteID.ts
  src/database/entities/Session.ts
  src/extensions/Random.ts
  src/gateway/Server.ts
  src/gateway/events/Close.ts
  src/gateway/opcodes/Identify.ts
  src/util/util/Token.ts
Due: eslint, prettier --write

Fix import
  src/api/middlewares/Authentication.ts
Due: eslint, prettier --write

Fix random string code
  src/extensions/Random.ts
Due: eslint, prettier --write

Authentication: allow - in webhook token
  src/api/middlewares/Authentication.ts
  src/api/util/index.ts
  src/extensions/Base64.ts
  src/extensions/String.ts
  src/extensions/index.ts
Due: eslint, prettier --write

Add basic import validator scripts
  scripts/validateImports.cs
Due: none

Sort directory recursion
  scripts/validateImports.cs
Due: none

Signify type imports
  scripts/validateImports.cs
Due: none

Try to signify imported entities for require
  scripts/validateImports.cs
Due: none

extensions/String: use custom exception type
  src/api/middlewares/ErrorHandler.ts
  src/extensions/String.ts
Due: eslint, prettier --write

Clean up some imports to make API work again
  src/api/util/handlers/Message.ts
  src/api/util/handlers/Webhook.ts
  src/database/entities/ApplicationCommand.ts
  src/database/entities/Attachment.ts
  src/util/util/lambert-server/Server.ts
Due: eslint, prettier --write

Routes: reduce scope of api imports to api/util
  src/api/routes/auth/forgot.ts
  src/api/routes/auth/login.ts
  src/api/routes/auth/register.ts
  src/api/routes/auth/verify/index.ts
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/routes/guilds/#guild_id/regions.ts
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
  src/api/routes/stop.ts
  src/api/routes/template.ts.disabled
  src/api/routes/voice/regions.ts
  src/api/routes/webhooks/#webhook_id/#token/github.ts
Due: eslint, prettier --write

Regenerate assets
  assets/openapi.json
  assets/schemas.json
Due: none

Delete messages when deleting webhook
  src/api/routes/webhooks/#webhook_id/#token/index.ts
  src/api/routes/webhooks/#webhook_id/index.ts
Due: eslint, prettier --write

More webhook tests
  extra/admin-api/Tests/Spacebar.Tests/Tests/WebhookTests.cs
Due: none

Some message tests
  extra/admin-api/Models/Spacebar.Models.Api/CreateAttachmentRequest.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/MessageTests.cs
Due: none

Fix cloud attachments (dont circular import in cdn)
  extra/admin-api/Tests/Spacebar.Tests/Tests/MessageTests.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/WebhookTests.cs
  src/cdn/routes/app-assets.ts
  src/cdn/routes/app-icons.ts
  src/cdn/routes/attachments.ts
  src/cdn/routes/avatar-decoration-presets.ts
  src/cdn/routes/avatars.ts
  src/cdn/routes/badge-icons.ts
  src/cdn/routes/banners.ts
  src/cdn/routes/channel-icons.ts
  src/cdn/routes/discover-splashes.ts
  src/cdn/routes/discovery-splashes.ts
  src/cdn/routes/embed.ts
  src/cdn/routes/emojis.ts
  src/cdn/routes/guild-profiles.ts
  src/cdn/routes/icons.ts
  src/cdn/routes/role-icons.ts
  src/cdn/routes/splashes.ts
  src/cdn/routes/stickers.ts
  src/cdn/routes/team-icons.ts
Due: eslint, prettier --write

Bundle: attach monitoring to express early
  src/bundle/Server.ts
Due: eslint, prettier --write

Attach HTTP metrics via dedup helper
  src/util/monitoring/Monitoring.ts
Due: eslint, prettier --write

Evade metric constructors handling registration by default
  src/gateway/events/Close.ts
  src/gateway/events/Connection.ts
  src/util/monitoring/Monitoring.ts
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/listener/UnixSocketListener.ts
  src/util/util/ipc/writer/UnixSocketWriter.ts
Due: eslint, prettier --write

Minor CDN-CS work
  extra/admin-api/Models/Spacebar.Models.Api/TypingResponse.cs
  extra/admin-api/Spacebar.Cdn/Controllers/UserController.cs
  extra/admin-api/Spacebar.Cdn/Extensions/ImageController.cs
  extra/admin-api/Spacebar.Cdn/Properties/launchSettings.json
  extra/admin-api/Spacebar.Cdn/Services/DiscordImageResizeService.cs
  extra/admin-api/Spacebar.Cdn/Spacebar.Cdn.csproj
Due: none

More tests
  extra/admin-api/Tests/Spacebar.Tests/Tests/ChannelTests.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/GuildTests.cs
Due: none

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
