Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Update package.json to point to the right database.js
  package.json
Due: none

Emoji application migration, set explicit foreign key constraint names
  src/database/entities/Emoji.ts
  src/database/migration/postgres/1782839999040-ApplicationEmojis.ts
Due: eslint, prettier --write

Fix import in application entity
  assets/openapi.json
  assets/schemas.json
  src/database/entities/Application.ts
Due: eslint, prettier --write

Assert that emoji being updated belongs to the requested guild
  src/api/routes/guilds/#guild_id/emojis.ts
Due: eslint, prettier --write

Add application emojis implementation based on the guilds one, models
  assets/openapi.json
  assets/schemas.json
  src/api/routes/applications/#application_id/emojis.ts
  src/schemas/api/guilds/Emoji.ts
  src/schemas/uncategorised/EmojiModifySchema.ts
  src/util/config/types/subconfigurations/limits/ApplicationLimits.ts
  src/util/config/types/subconfigurations/limits/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add tests for guild/app emojis
  extra/admin-api/Tests/Spacebar.Tests/Tests/ApplicationEmojiTests.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/GuildEmojiTests.cs
  extra/admin-api/Tests/Spacebar.Tests/appsettings.json
Due: none

Update C# db models
  extra/admin-api/Models/Spacebar.Models.Db/Contexts/SpacebarDbContext.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Application.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Emoji.cs
  extra/admin-api/Models/Spacebar.Models.Db/Spacebar.Models.Db.csproj
  extra/admin-api/scaffold-db
Due: none

fix user settings patch route
  src/api/routes/users/@me/guilds/#guild_id/settings.ts
Due: eslint, prettier --write

Enforce that a given applications emoji set can only be modified by the application itself, or its owner
  assets/openapi.json
  assets/schemas.json
  src/api/routes/applications/#application_id/emojis.ts
  src/database/entities/Application.ts
Due: eslint, prettier --write

Handle non-existant applications more gracefully
  src/api/routes/applications/#application_id/emojis.ts
Due: eslint, prettier --write

Restrict reading of application emojis
  src/api/routes/applications/#application_id/emojis.ts
Due: eslint, prettier --write

Throw proper error when emoji isnt found
  src/api/routes/applications/#application_id/emojis.ts
Due: eslint, prettier --write

Update emoji/application entities to support application emojis
  src/database/entities/Application.ts
  src/database/entities/Emoji.ts
Due: eslint, prettier --write

Adjust emoji source to support app emojis
  src/api/routes/emojis/#emoji_id/source.ts
Due: eslint, prettier --write

update links
  CONTRIBUTING.MD
  README.md
Due: none

encode circular object
  src/gateway/util/Send.ts
  src/util/util/JSON.ts
  src/webrtc/util/Send.ts
Due: eslint, prettier --write

Set index names and fix type for instance bans
  src/database/entities/InstanceBan.ts
Due: eslint, prettier --write

Fix instance ban index names
  src/database/entities/InstanceBan.ts
  src/database/migration/postgres/1782925307189-NameIndexes.ts
Due: eslint, prettier --write

Fix some missed column types
  src/database/entities/ApplicationCommand.ts
  src/database/entities/Categories.ts
  src/database/migration/postgres/1782925307187-MoreInt8Fixes.ts
Due: eslint, prettier --write

Fix column names for join tables
  src/database/entities/Message.ts
  src/database/migration/postgres/1782925307190-NameJoinTableColumns.ts
Due: eslint, prettier --write

Fix constraint names
  src/database/entities/Application.ts
  src/database/entities/Attachment.ts
  src/database/entities/AuditLog.ts
  src/database/entities/AutomodRule.ts
  src/database/entities/BackupCodes.ts
  src/database/entities/Ban.ts
  src/database/entities/Channel.ts
  src/database/entities/CloudAttachment.ts
  src/database/entities/ConnectedAccount.ts
  src/database/entities/EmbedCache.ts
  src/database/entities/Emoji.ts
  src/database/entities/Encryption.ts
  src/database/entities/Guild.ts
  src/database/entities/Invite.ts
  src/database/entities/Member.ts
  src/database/entities/Message.ts
  src/database/entities/Note.ts
  src/database/entities/ReadState.ts
  src/database/entities/Recipient.ts
  src/database/entities/Relationship.ts
  src/database/entities/Role.ts
  src/database/entities/SecurityKey.ts
  src/database/entities/Session.ts
  src/database/entities/Sticker.ts
  src/database/entities/StickerPack.ts
  src/database/entities/Stream.ts
  src/database/entities/StreamSession.ts
  src/database/entities/Tag.ts
  src/database/entities/Team.ts
  src/database/entities/TeamMember.ts
  src/database/entities/Template.ts
  src/database/entities/ThreadMember.ts
  src/database/entities/User.ts
  src/database/entities/UserSettingsProtos.ts
  src/database/entities/VoiceState.ts
  src/database/entities/Webhook.ts
  src/database/migration/postgres/1782925307188-NameConstraints.ts
Due: eslint, prettier --write

Let typeorm have its fun the rest of the way
  src/database/migration/postgres/1782925307188-NameConstraints.ts
  src/database/migration/postgres/1783086174271-ReconcileTypeormModels.ts
Due: eslint, prettier --write

Fix migration for app commands version
  src/database/entities/ApplicationCommand.ts
  src/database/migration/postgres/1783086174271-ReconcileTypeormModels.ts
  src/database/migration/postgres/1783086517091-ReconcileTypeormModels.ts
Due: eslint, prettier --write

Update C# db models
  extra/admin-api/Models/Spacebar.Models.Db/Contexts/SpacebarDbContext.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Application.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/ApplicationCommand.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/AutomodRule.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Badge.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Category.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Channel.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/EmbedCache.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Guild.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Message.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/ReportMenu.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Role.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/SecuritySetting.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Sticker.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/User.cs
Due: none

Update C# outputs.nix to include API models
  extra/admin-api/outputs.nix
Due: none

Remove unused flags to make them easier to split and filter out
  .gitignore
  extra/admin-api/Models/Spacebar.Models.AdminApi/Rights.cs
  scripts/rights.js
  src/util/util/Permissions.ts
  src/util/util/Rights.ts
Due: eslint, prettier --write

Add comments explaining what each unused right used to be
  extra/admin-api/Models/Spacebar.Models.AdminApi/Rights.cs
  src/util/util/Rights.ts
Due: eslint, prettier --write

Basic gif search test
  extra/admin-api/Models/Spacebar.Models.Api/GifResponse.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/GifTests.cs
Due: none

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
