Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

fix it betterer
  src/util/entities/Message.ts
Due: eslint, prettier --write

trace origin of the issue
  src/util/entities/Message.ts
Due: eslint, prettier --write

speed up fetching messages
  src/api/routes/channels/#channel_id/messages/index.ts
Due: eslint, prettier --write

fix pins
  src/util/entities/Message.ts
Due: eslint, prettier --write

fix it the other way arround
  src/api/routes/channels/#channel_id/pins.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write

WHY???
  src/api/routes/channels/#channel_id/messages/index.ts
Due: eslint, prettier --write

update other pins
  src/api/routes/channels/#channel_id/messages/pins/index.ts
Due: eslint, prettier --write

die
  src/api/routes/channels/#channel_id/messages/index.ts
Due: eslint, prettier --write

fix it the other way arround
  src/util/entities/Message.ts
Due: eslint, prettier --write

more pins fixes
  src/api/routes/channels/#channel_id/messages/pins/index.ts
  src/api/routes/channels/#channel_id/pins.ts
Due: eslint, prettier --write

cs: create uapi project
  extra/admin-api/DataMappings/Spacebar.DataMappings.Generic/Member.cs
  extra/admin-api/Models/Spacebar.Models.Generic/Member.cs
  extra/admin-api/Spacebar.UApi/Controllers/GuildMembersController.cs
  extra/admin-api/Spacebar.UApi/Program.cs
  extra/admin-api/Spacebar.UApi/Properties/launchSettings.json
  extra/admin-api/Spacebar.UApi/Spacebar.UApi.csproj
  extra/admin-api/Spacebar.UApi/Spacebar.UApi.http
  extra/admin-api/Spacebar.UApi/appsettings.Development.json
  extra/admin-api/Spacebar.UApi/appsettings.json
  extra/admin-api/SpacebarAdminAPI.slnx
Due: none

Nix: add PORT=3001 for containers by default
  flake.nix
  src/cdn/routes/icons.ts
Due: eslint, prettier --write

fix guild join
  src/gateway/listener/listener.ts
Due: eslint, prettier --write

add keys to make bot libs happy
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Hack: split out icons in cdn-ts
  src/cdn/Server.ts
  src/cdn/routes/icons.ts
  src/cdn/util/FileStorage.ts
  src/cdn/util/S3Storage.ts
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Hack together a fix for cdn endpoints
  src/cdn/Server.ts
  src/cdn/routes/app-assets.ts
  src/cdn/routes/app-icons.ts
  src/cdn/routes/banners.ts
  src/cdn/routes/channel-icons.ts
  src/cdn/routes/discover-splashes.ts
  src/cdn/routes/discovery-splashes.ts
  src/cdn/routes/emojis.ts
  src/cdn/routes/splashes.ts
  src/cdn/routes/stickers.ts
  src/cdn/routes/team-icons.ts
Due: eslint, prettier --write

Nix testvm: enable ssl with test signed keys
  nix/testVm/configuration.nix
Due: none

move the check to the right spot
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

switch messages to base message type
  src/schemas/api/messages/Components.ts
  src/schemas/responses/GuildMessagesSearchResponse.ts
  src/schemas/uncategorised/MessageCreateSchema.ts
  src/schemas/uncategorised/ThreadCreationSchema.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

feat: implement Gateway Resume (Op 6) with event replay
  src/gateway/events/Close.ts
  src/gateway/opcodes/Resume.ts
  src/gateway/util/ReplayBuffer.ts
  src/gateway/util/Send.ts
  src/gateway/util/index.ts
Due: eslint, prettier --write

v2 init work
  src/api/routes/users/@me/guilds/#guild_id/settings.ts
  src/api/util/handlers/Message.ts
  src/schemas/api/messages/Components.ts
  src/util/util/MessageFlags.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

try to update presence update handling and session management ~
  src/api/routes/auth/reset.ts
  src/api/routes/users/@me/settings-proto/1.ts
  src/api/routes/users/@me/settings.ts
  src/gateway/events/Close.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/LazyRequest.ts
  src/gateway/opcodes/PresenceUpdate.ts
  src/gateway/opcodes/RequestGuildMembers.ts
  src/util/dtos/ReadyGuildDTO.ts
  src/util/entities/Session.ts
  src/util/util/Token.ts
Due: eslint, prettier --write

Fixed import of nodemailer ('nodemailer.default' does not exist)
  src/util/util/email/clients/SMTPEmailClient.ts
Due: eslint, prettier --write

Allow for smarthosts/local SMTP relays that dont use user/pass AUTH
  src/util/util/email/clients/SMTPEmailClient.ts
Due: eslint, prettier --write

maybe processing media?
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

fix: wrong query for self member in mutual guilds
  src/api/routes/users/#user_id/profile.ts
Due: eslint, prettier --write

Unset env for docker containers, add cacertificates?
  flake.nix
Due: none

Try to enforce channel limts?
  assets/openapi.json
  assets/schemas.json
  src/api/routes/channels/#channel_id/index.ts
  src/schemas/uncategorised/ChannelModifySchema.ts
  src/util/config/types/subconfigurations/limits/ChannelLimits.ts
  src/util/util/FieldError.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
