Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Update username-suggestions-unauthed.ts
  src/api/routes/unique-username/username-suggestions-unauthed.ts
Due: eslint, prettier --write

rename unique uesrname response and schema
  src/api/routes/unique-username/username-attempt-unauthed.ts
  src/api/routes/unique-username/username-suggestions-unauthed.ts
  src/schemas/responses/TypedResponses.ts
  src/schemas/responses/UniqueUsernameAttemptResponse.ts
  src/schemas/responses/UsernameAttemptResponse.ts
  src/schemas/uncategorised/UniqueUsernameAttemptSchema.ts
  src/schemas/uncategorised/UsernameAttemptUnauthedSchema.ts
  src/schemas/uncategorised/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

implement authed pomelo routes
  src/api/routes/users/@me/pomelo-attempt.ts
  src/api/routes/users/@me/pomelo-suggestions.ts
  src/api/routes/users/@me/pomelo.ts
Due: eslint, prettier --write

Post-rebase fixes
  src/api/routes/unique-username/username-attempt-unauthed.ts
  src/api/routes/users/#id/profile.ts
  src/api/routes/users/@me/pomelo-attempt.ts
  src/api/routes/users/@me/pomelo.ts
  src/connections/Discord/index.ts
  src/schemas/api/users/User.ts
  src/schemas/uncategorised/index.ts
  src/util/config/types/UsersConfiguration.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Schemas
  assets/openapi.json
  assets/schemas.json
Due: none

Add common scams from discord to blocked usernames by default
  src/util/config/types/UsersConfiguration.ts
Due: eslint, prettier --write

Dont log unix socket emissions that are below 5ms due to log noise
  src/util/util/Event.ts
Due: eslint, prettier --write

Remove dead code from identify
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Remove more dead code
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Reorganise identify queries
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Avoid roundtrip when updating session
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

trace checkToken
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Reorganise traces?
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Fill these back in?
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Try traces again
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Avoid re-fetching user if not requesting extra fields
  src/api/middlewares/Authentication.ts
  src/api/routes/applications/#application_id/bot/index.ts
  src/api/routes/applications/index.ts
  src/api/routes/auth/logout.ts
  src/api/routes/channels/#channel_id/attachments.ts
  src/api/routes/guilds/#guild_id/emojis.ts
  src/api/routes/interactions/index.ts
  src/api/routes/invites/index.ts
  src/api/routes/teams.ts
  src/api/routes/users/@me/mentions.ts
  src/api/routes/users/@me/mfa/codes-verification.ts
  src/api/routes/users/@me/notes.ts
Due: eslint, prettier --write

Clean up some pointless gateway log noise
  src/gateway/listener/listener.ts
Due: eslint, prettier --write

Fix identify trace
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

feat: add message forwards (normal messages only)
  assets/openapi.json
  assets/schemas.json
  src/api/util/handlers/Message.ts
  src/schemas/api/messages/Message.ts
  src/schemas/uncategorised/MessageCreateSchema.ts
  src/util/entities/Message.ts
  src/util/migration/postgres/1765185286988-message-snapshots.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

chore: run prettier
  scripts/schemaExclusions.json
  src/schemas/api/messages/Message.ts
  src/schemas/uncategorised/MessageCreateSchema.ts
  src/util/entities/Message.ts
  src/util/migration/postgres/1765185286988-message-snapshots.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

add TODO
  scripts/schemaExclusions.json
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

More gateway trace
  scripts/util/getRouteDescriptions.js
  src/gateway/opcodes/Identify.ts
  src/util/util/Stopwatch.ts
Due: eslint, prettier --write

chore: run prettier (again)
  scripts/schemaExclusions.json
Due: none

Drop isProxy alltogether, because wtf is this language (!![] === true apparently) - Fixes #1444
  src/api/routes/auth/register.ts
  src/util/util/networking/ipdata/IpDataClient.ts
Due: eslint, prettier --write

Drop blockProxies from config - fixup for #1444 / b54e86d
  src/util/config/types/RegisterConfiguration.ts
Due: eslint, prettier --write

WIP CDN stuff
  src/cdn/util/basicCrdFileRouter.ts
  src/util/config/types/CdnConfiguration.ts
Due: eslint, prettier --write

Use inserts instead of save for new entities
  src/util/entities/BaseClass.ts
Due: eslint, prettier --write

Fix initial database setup
  src/util/util/Database.ts
Due: eslint, prettier --write

Send HTTP 401 on token errors
  assets/openapi.json
  assets/schemas.json
  scripts/schemaExclusions.json
  src/api/middlewares/Authentication.ts
  src/util/util/Token.ts
Due: eslint, prettier --write

fix: description length for `issue` event
  src/api/routes/webhooks/#webhook_id/#token/github.ts
Due: eslint, prettier --write

fix: description length for `issue_comment` event
  src/api/routes/webhooks/#webhook_id/#token/github.ts
Due: eslint, prettier --write

chore: run prettier
  scripts/schemaExclusions.json
Due: none

refactor: adjust commit lenghts for `push` event
  src/api/routes/webhooks/#webhook_id/#token/github.ts
Due: eslint, prettier --write

refactor: adjust numbers for length limits
  src/api/routes/webhooks/#webhook_id/#token/github.ts
Due: eslint, prettier --write

DEPRECATION: Move most select queries to object instead of string[]
  .idea/workspace.xml
  src/api/routes/applications/#application_id/index.ts
  src/api/routes/applications/@me.ts
  src/api/routes/auth/forgot.ts
  src/api/routes/auth/login.ts
  src/api/routes/auth/mfa/totp.ts
  src/api/routes/auth/mfa/webauthn.ts
  src/api/routes/auth/register.ts
  src/api/routes/auth/verify/resend.ts
  src/api/routes/auth/verify/view-backup-codes-challenge.ts
  src/api/routes/channels/#channel_id/invites.ts
  src/api/routes/channels/#channel_id/messages/search.ts
  src/api/routes/guilds/#guild_id/delete.ts
  src/api/routes/guilds/#guild_id/messages/search.ts
  src/api/routes/guilds/#guild_id/roles/#role_id/member-ids.ts
  src/api/routes/guilds/#guild_id/roles/member-counts.ts
  src/api/routes/oauth2/authorize.ts
  src/api/routes/safety-hub/@me/index.ts
  src/api/routes/safety-hub/suspended/@me.ts
  src/api/routes/teams.ts
  src/api/routes/users/@me/connections/#connection_name/#connection_id/access-token.ts
  src/api/routes/users/@me/connections/#connection_name/#connection_id/index.ts
  src/api/routes/users/@me/connections/index.ts
  src/api/routes/users/@me/delete.ts
  src/api/routes/users/@me/disable.ts
  src/api/routes/users/@me/guilds.ts
  src/api/routes/users/@me/guilds/#guild_id/settings.ts
  src/api/routes/users/@me/mfa/codes.ts
  src/api/routes/users/@me/mfa/totp/disable.ts
  src/api/routes/users/@me/mfa/totp/enable.ts
  src/api/routes/users/@me/mfa/webauthn/credentials/index.ts
  src/api/routes/users/@me/relationships.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/PresenceUpdate.ts
  src/util/entities/Member.ts
  src/util/entities/User.ts
  src/util/util/Permissions.ts
Due: eslint, prettier --write

ESLint: warn for deprecated constructs
  .lintstagedrc.mjs
  eslint.config.mjs
  scripts/schemaExclusions.json
  src/api/util/utility/RandomInviteID.ts
  src/util/util/Event.ts
Due: eslint, prettier --write

Fix style in scripts/schemaExclusions.json
  scripts/schemaExclusions.json
Due: none

Dont use promises for dummy endpoints
  src/api/routes/applications/#application_id/skus.ts
  src/api/routes/attachments/refresh-urls.ts
  src/api/routes/channels/#channel_id/directory-entries.ts
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/preload-messages.ts
  src/api/routes/connections/#connection_name/#connection_id/refresh.ts
  src/api/routes/guilds/#guild_id/audit-logs.ts
  src/api/routes/guilds/#guild_id/discovery-requirements.ts
  src/api/routes/guilds/#guild_id/integrations.ts
  src/api/routes/guilds/#guild_id/member-verification.ts
  src/api/routes/guilds/#guild_id/premium.ts
  src/api/routes/guilds/#guild_id/widget.png.ts
  src/api/routes/guilds/automations/email-domain-lookup.ts
  src/api/routes/guilds/templates/index.ts
  src/api/routes/hub-waitlist.ts
  src/api/routes/oauth2/tokens.ts
  src/api/routes/outbound-promotions.ts
  src/api/routes/partners/#guild_id/requirements.ts
  src/api/routes/policies/instance/domains.ts
  src/api/routes/policies/instance/index.ts
  src/api/routes/policies/instance/limits.ts
  src/api/routes/scheduled-maintenances/upcoming.json.ts
  src/api/routes/stage-instances.ts
  src/api/routes/stop.ts
  src/api/routes/store/published-listings/applications/#application_id/index.ts
  src/api/routes/store/published-listings/applications/#application_id/subscription-plans.ts
  src/api/routes/store/published-listings/skus.ts
  src/api/routes/store/published-listings/skus/#sku_id/subscription-plans.ts
  src/api/routes/users/@me/applications/#application_id/entitlements.ts
  src/api/routes/users/@me/billing/country-code.ts
  src/api/routes/users/@me/billing/location-info.ts
  src/api/routes/users/@me/billing/subscriptions.ts
  src/api/routes/users/@me/collectibles-marketing.ts
  src/api/routes/users/@me/collectibles-purchases.ts
  src/util/dtos/DmChannelDTO.ts
  src/util/util/WebAuthn.ts
  src/util/util/networking/ipdata/IpDataClient.ts
  src/webrtc/Server.ts
Due: eslint, prettier --write

use async io for CDN file storage
  src/cdn/util/FileStorage.ts
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
