Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix missed relations
  src/util/migration/postgres/1776283923000-Int8Fixes.ts
Due: eslint, prettier --write

Fix up some straggler columns
  src/util/migration/postgres/1776283923000-Int8Fixes.ts
Due: eslint, prettier --write

Gateway: get around some typeorm weirdness
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

handleMessage: set message id for cloud attachments
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Attempt to set channel/message id for attachments in more places
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Split out attachment handling from message handler
  assets/openapi.json
  assets/schemas.json
  src/api/util/handlers/Message.ts
  src/schemas/api/messages/Message.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix error logging, dont use simple-array
  src/api/middlewares/ErrorHandler.ts
  src/util/entities/Application.ts
  src/util/entities/AutomodRule.ts
  src/util/entities/BaseClass.ts
  src/util/entities/ConnectedAccount.ts
  src/util/entities/Emoji.ts
  src/util/entities/Encryption.ts
  src/util/entities/Guild.ts
  src/util/entities/Member.ts
  src/util/entities/TeamMember.ts
  src/util/entities/User.ts
  src/util/migration/postgres/1776450647000-GuildChannelOrderingAsArray.ts
  src/util/migration/postgres/1776450647001-AllSimpleArraysToPgArrays.ts
Due: eslint, prettier --write

Fix TOTP
  src/api/routes/users/@me/mfa/totp/disable.ts
  src/api/routes/users/@me/mfa/totp/enable.ts
Due: eslint, prettier --write

Remove irrelevant TODO
  src/cdn/util/FileStorage.ts
Due: eslint, prettier --write

Attachment -> PublicAttachment in schemas
  assets/openapi.json
  assets/schemas.json
  src/schemas/api/messages/Message.ts
  src/schemas/responses/AccountStandingResponse.ts
  src/schemas/responses/GuildMessagesSearchResponse.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Run prettier, remove accidental imports
  src/api/routes/channels/#channel_id/messages/#message_id/reactions.ts
  src/cdn/Server.ts
  tsconfig.json
Due: eslint, prettier --write

Fix attachments
  assets/openapi.json
  assets/schemas.json
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/routes/channels/#channel_id/webhooks.ts
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
  src/api/util/handlers/Message.ts
  src/api/util/handlers/Webhook.ts
  src/cdn/Server.ts
  src/cdn/routes/attachments.ts
  src/schemas/api/messages/Attachments.ts
  src/schemas/api/messages/Message.ts
  src/util/entities/Attachment.ts
  src/util/entities/Message.ts
  src/util/util/Config.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix attachments 2
  src/cdn/Server.ts
  src/cdn/routes/attachments.ts
  src/webrtc/Server.ts
Due: eslint, prettier --write

No attachment URLs
  src/util/entities/Attachment.ts
  src/util/migration/postgres/1776270346000-DontStoreAttachmentUrls.ts
Due: eslint, prettier --write

jsonb
  src/util/entities/Application.ts
  src/util/entities/ApplicationCommand.ts
  src/util/entities/AuditLog.ts
  src/util/entities/AutomodRule.ts
  src/util/entities/Categories.ts
  src/util/entities/Channel.ts
  src/util/entities/ConnectedAccount.ts
  src/util/entities/EmbedCache.ts
  src/util/entities/Guild.ts
  src/util/entities/Member.ts
  src/util/entities/Message.ts
  src/util/entities/Role.ts
  src/util/entities/Session.ts
  src/util/entities/Template.ts
  src/util/entities/ThreadMember.ts
  src/util/entities/User.ts
  src/util/entities/UserSettings.ts
  src/util/migration/postgres/1776204936000-JsonbForJsonColumns.ts
Due: eslint, prettier --write

int8 primary keys
  src/util/entities/BaseClass.ts
  src/util/migration/postgres/1760622755599-ReconcileMigrationAttempts.ts
  src/util/migration/postgres/1776178642000-Int8PrimaryKeys.ts
  src/util/migration/postgres/1776178642001-Int8PrimaryKeysApplications.ts
  src/util/migration/postgres/1776178642002-Int8PrimaryKeysChannels.ts
  src/util/migration/postgres/1776178642003-Int8PrimaryKeysGuilds.ts
  src/util/migration/postgres/1776178642004-Int8PrimaryKeysInstanceBans.ts
  src/util/migration/postgres/1776178642005-Int8PrimaryKeysMessages.ts
  src/util/migration/postgres/1776178642006-Int8PrimaryKeysRoles.ts
  src/util/migration/postgres/1776178642007-Int8PrimaryKeysStickerPacks.ts
  src/util/migration/postgres/1776178642008-Int8PrimaryKeysStickers.ts
  src/util/migration/postgres/1776178642009-Int8PrimaryKeysStreams.ts
  src/util/migration/postgres/1776178642010-Int8PrimaryKeysTeams.ts
  src/util/migration/postgres/1776178642011-Int8PrimaryKeysTemplates.ts
  src/util/migration/postgres/1776178642012-Int8PrimaryKeysUsers.ts
  src/util/migration/postgres/1776178642013-Int8PrimaryKeysWebhooks.ts
Due: eslint, prettier --write

re-reconcile migrations
  nix/tests/test-bundle-starts.nix
  src/util/migration/postgres/177617864199-ReconcileMigrationsAgain.ts
Due: eslint, prettier --write

NPM update
  assets/openapi.json
  assets/schemas.json
  package-lock.json
  package.json
Due: none

NPM updates 2
  assets/openapi.json
  assets/schemas.json
  package-lock.json
  package.json
  patches/ajv+8.18.0.patch
  patches/body-parser+2.2.2.patch
  src/api/middlewares/Translation.ts
Due: eslint, prettier --write

NPM updates: amqplib
  package-lock.json
  package.json
Due: none

NPM updates: typescript 6.0
  package-lock.json
  package.json
Due: none

Make connections more verbose and include some setup instructions
  src/connections/BattleNet/BattleNetSettings.ts
  src/connections/BattleNet/index.ts
  src/connections/Discord/DiscordSettings.ts
  src/connections/Discord/index.ts
  src/connections/EpicGames/EpicGamesSettings.ts
  src/connections/EpicGames/index.ts
  src/connections/Facebook/FacebookSettings.ts
  src/connections/Facebook/index.ts
  src/connections/GenericOAuthSettings.ts
  src/connections/GitHub/GitHubSettings.ts
  src/connections/GitHub/index.ts
  src/connections/Reddit/index.ts
  src/connections/Spotify/SpotifySettings.ts
  src/connections/Spotify/index.ts
  src/connections/Twitch/TwitchSettings.ts
  src/connections/Twitch/index.ts
  src/connections/Twitter/TwitterSettings.ts
  src/connections/Twitter/index.ts
  src/connections/Xbox/XboxSettings.ts
  src/connections/Xbox/index.ts
  src/connections/Youtube/YoutubeSettings.ts
  src/connections/Youtube/index.ts
  src/util/connections/Connection.ts
  src/util/connections/ConnectionLoader.ts
Due: eslint, prettier --write

fix: select `visibility` on `connected_accounts`
  src/api/routes/users/#user_id/profile.ts
Due: eslint, prettier --write

fix: expose only public properties
  src/api/routes/users/#user_id/profile.ts
  src/schemas/responses/PartialConnectedAccountResponse.ts
  src/schemas/responses/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

fix: expose metadata if should be visible
  src/api/routes/users/#user_id/profile.ts
Due: eslint, prettier --write

remove oversight
  src/api/routes/users/#user_id/profile.ts
Due: eslint, prettier --write

fix comment typo
  src/api/routes/users/#user_id/profile.ts
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
