Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

fix: `around` parameter returning invalid sort
  src/api/routes/channels/#channel_id/messages/index.ts
Due: eslint, prettier --write

Update nix, pion-sfu, npm packages
  flake.lock
  package-lock.json
  package.json
Due: none

Roll back discord-protos
  package-lock.json
  package.json
Due: none

fix nixos tests
  nix/modules/default/gw-sharding.nix
Due: none

fix nix flake check
  flake.nix
  nix/testVm/vm.nix
Due: none

Update nuget deps
  extra/admin-api/Interop/Spacebar.Interop.Authentication/Spacebar.Interop.Authentication.csproj
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Signing/Spacebar.Interop.Cdn.Signing.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/Spacebar.Interop.Replication.RabbitMq.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/Spacebar.Interop.Replication.UnixSocket.csproj
  extra/admin-api/Models/Spacebar.Models.Db/Spacebar.Models.Db.csproj
  extra/admin-api/Spacebar.AdminApi/Spacebar.AdminApi.csproj
  extra/admin-api/Spacebar.Cdn/Spacebar.Cdn.csproj
  extra/admin-api/Spacebar.GatewayOffload/Spacebar.GatewayOffload.csproj
  extra/admin-api/Spacebar.UApi/Spacebar.UApi.csproj
  extra/admin-api/Utilities/ConfigTest/ConfigTest.csproj
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Spacebar.AdminApi.TestClient.csproj
  extra/admin-api/Utilities/Spacebar.Cdn.Fsck/Spacebar.Cdn.Fsck.csproj
  extra/admin-api/Utilities/Spacebar.Cdn.Migration/Spacebar.Cdn.Migration.csproj
  extra/admin-api/Utilities/Spacebar.CleanSettingsRows/Spacebar.CleanSettingsRows.csproj
Due: none

Update nix locks for nuget deps
  extra/admin-api/DataMappings/Spacebar.DataMappings.Generic/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Authentication.AspNetCore/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Authentication/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/deps.json
  extra/admin-api/Models/Spacebar.Models.Db/deps.json
  extra/admin-api/Models/Spacebar.Models.Gateway/deps.json
  extra/admin-api/Spacebar.AdminApi/deps.json
  extra/admin-api/Spacebar.Cdn/deps.json
  extra/admin-api/Spacebar.GatewayOffload/deps.json
  extra/admin-api/Spacebar.UApi/deps.json
  extra/admin-api/Utilities/Spacebar.Cdn.Fsck/deps.json
  extra/admin-api/Utilities/Spacebar.CleanSettingsRows/deps.json
  extra/admin-api/outputs.nix
  extra/admin-api/update-deps-Spacebar-UApi
  extra/admin-api/update-deps.cs
Due: none

Qodana: fix async warnings
  nix/testVm/vm.nix
  scripts/openapi.js
  scripts/schema.js
  scripts/stress/login.js
  scripts/stress/users.js
  scripts/syncronise.js
  src/api/Server.ts
  src/api/routes/applications/#application_id/bot/index.ts
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/routes/connections/#connection_name/authorize.ts
  src/api/routes/connections/#connection_name/callback.ts
  src/api/routes/guilds/#guild_id/messages/search.ts
  src/api/routes/guilds/#guild_id/widget.png.ts
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
  src/api/routes/interactions/index.ts
  src/api/routes/users/@me/guilds/#guild_id/settings.ts
  src/api/routes/users/@me/notes.ts
  src/api/util/handlers/Message.ts
  src/cdn/Server.ts
  src/gateway/listener/listener.ts
  src/gateway/start.ts
  src/util/connections/ConnectionLoader.ts
  src/util/util/RabbitMQ.ts
  src/webrtc/start.ts
Due: eslint, prettier --write

Use plain assignment for permissions in message handler
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Remove unused autoupdater code
  extra/admin-api/Models/Spacebar.Models.Config/SecurityConfiguration.cs
  src/util/config/types/SecurityConfiguration.ts
  src/util/util/AutoUpdate.ts
Due: eslint, prettier --write

Snowflake: remove unused binaryToID function
  src/util/util/Snowflake.ts
Due: eslint, prettier --write

lambert-server: remove unused code
  src/util/util/lambert-server/Server.ts
  src/util/util/lambert-server/Utils.ts
  src/util/util/lambert-server/check.ts
Due: eslint, prettier --write

properly mark unused params
  .idea/workspace.xml
  scripts/schema.js
  scripts/util/getRouteDescriptions.js
  src/api/middlewares/Authentication.ts
  src/api/routes/channels/#channel_id/thread-members.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/routes/guilds/automations/email-domain-lookup.ts
  src/api/routes/reporting/index.ts
  src/api/routes/webhooks/#webhook_id/#token/index.ts
  src/api/util/handlers/Message.ts
  src/apply-migrations.ts
  src/gateway/Server.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/LazyRequest.ts
  src/gateway/opcodes/StreamDelete.ts
  src/gateway/util/Utils.ts
  src/util/Signing.ts
  src/util/entities/UserSettingsProtos.ts
  src/util/migration/postgres-initial.ts
  src/util/migration/postgres/1761113394664-delete-bot-users-without-an-application.ts
  src/util/util/Database.ts
  src/util/util/email/clients/IEmailClient.ts
  src/util/util/json/JsonSerializer.ts
  src/webrtc/events/Message.ts
  src/webrtc/opcodes/BackendVersion.ts
  src/webrtc/opcodes/Identify.ts
  src/webrtc/opcodes/Video.ts
Due: eslint, prettier --write

minor cleanup
  src/api/middlewares/ErrorHandler.ts
  src/api/routes/guilds/#guild_id/messages/search.ts
Due: eslint, prettier --write

Clean up some type guards
  src/api/routes/guilds/#guild_id/messages/search.ts
  src/gateway/events/Message.ts
  src/util/entities/User.ts
  src/util/util/DateBuilder.ts
Due: eslint, prettier --write

Remove unnessecary continue statements
  src/api/routes/guilds/#guild_id/bulk-ban.ts
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Fix some JSdoc errors
  src/util/connections/Connection.ts
  src/util/util/BitField.ts
  src/util/util/email/index.ts
Due: eslint, prettier --write

Remove unused imports for non-entities
  assets/openapi.json
  assets/schemas.json
  src/api/routes/applications/@me.ts
  src/api/routes/applications/index.ts
  src/api/routes/auth/sessions.ts
  src/api/routes/auth/whoami.ts
  src/api/routes/channels/#channel_id/attachments.ts
  src/api/routes/channels/#channel_id/index.ts
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/messages/search.ts
  src/api/routes/channels/#channel_id/post-data.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/routes/channels/#channel_id/typing.ts
  src/api/routes/gifs/search.ts
  src/api/routes/guilds/#guild_id/channels.ts
  src/api/routes/guilds/#guild_id/emojis.ts
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
  src/api/routes/interactions/index.ts
  src/api/routes/invites/index.ts
  src/api/routes/users/@me/delete.ts
  src/api/routes/users/@me/guilds.ts
  src/api/routes/users/@me/mentions.ts
  src/api/routes/users/@me/settings.ts
  src/api/util/handlers/Instance.ts
  src/bundle/start.ts
  src/cdn/routes/emojis.ts
  src/cdn/routes/stickers.ts
  src/gateway/events/Close.ts
  src/gateway/events/Message.ts
  src/gateway/opcodes/GuildSync.ts
  src/gateway/util/SessionUtils.ts
  src/schemas/api/bots/SendableModalSubmitDataSchema.ts
  src/schemas/api/users/InstanceUserDeleteSchema.ts
  src/util/util/Database.ts
  src/util/util/JSON.ts
  src/util/util/Token.ts
  src/util/util/WebAuthn.ts
  src/util/util/json/JsonSerializer.ts
  src/webrtc/events/Message.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Remove unused imports for entities
  src/util/entities/AutomodRule.ts
  src/util/entities/BaseClass.ts
  src/util/entities/Channel.ts
  src/util/entities/InstanceBan.ts
  src/util/entities/Member.ts
  src/util/entities/ReportMenu.ts
  src/util/entities/Session.ts
  src/util/entities/Tag.ts
  src/util/entities/User.ts
Due: eslint, prettier --write

remove duplicate / in url regex
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Remove array global pollution
  assets/openapi.json
  assets/schemas.json
  src/util/entities/Channel.ts
  src/util/util/extensions/Array.test.ts
  src/util/util/extensions/Array.ts
Due: eslint, prettier --write

Some minor work
  src/api/global.d.ts
  src/api/routes/users/@me/billing/country-code.ts
  src/api/routes/users/@me/billing/location-info.ts
  src/gateway/opcodes/Identify.ts
  src/util/config/types/subconfigurations/client/ClientReleaseConfiguration.ts
  src/util/config/types/subconfigurations/client/index.ts
  src/util/config/types/subconfigurations/index.ts
  src/util/entities/Session.ts
Due: eslint, prettier --write

Added two new configuration options for SMTP: "starttls" and "allowInsecure".
  src/util/config/types/subconfigurations/email/SMTP.ts
  src/util/util/email/clients/SMTPEmailClient.ts
Due: eslint, prettier --write

Added user and roles to PublicMember response to fix reactions
  src/api/routes/channels/#channel_id/messages/#message_id/reactions.ts
Due: eslint, prettier --write

added missing author to replies
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
Due: eslint, prettier --write

Fix adding reactions
  src/api/routes/channels/#channel_id/messages/#message_id/reactions.ts
  src/util/interfaces/Event.ts
Due: eslint, prettier --write

give remove the same treatment
  src/api/routes/channels/#channel_id/messages/#message_id/reactions.ts
  src/util/interfaces/Event.ts
Due: eslint, prettier --write

CORS: change max age from 5s to 60s
  src/api/middlewares/CORS.ts
Due: eslint, prettier --write

CDN/Attachments: allow access by server request sig
  src/cdn/routes/attachments.ts
Due: eslint, prettier --write

Update npm packages
  package-lock.json
  package.json
Due: none

Update pion-webrtc moduel
  flake.lock
Due: none

Clean up schemas some more
  assets/openapi.json
  assets/schemas.json
  scripts/schema.js
  src/schemas/uncategorised/MessageCreateSchema.ts
  src/schemas/uncategorised/WebhookExecuteSchema.ts
  src/util/entities/Session.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Array method to get distinct items by a selector
  src/util/util/extensions/Array.ts
Due: eslint, prettier --write

Fix some broken imports
  src/api/routes/users/@me/billing/country-code.ts
  src/api/routes/users/@me/billing/location-info.ts
Due: eslint, prettier --write

openapi.js: explicitly disable LOG_ROUTES
  scripts/openapi.js
Due: eslint, prettier --write

Fix errorneous log
  src/api/routes/reporting/index.ts
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
