Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add startup test for legacy rabbitmq setup
  default.nix
Due: none

Clean up unused imports in IPC code
  src/util/util/ipc/listener/BaseEventListener.ts
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/writer/BaseEventWriter.ts
Due: eslint, prettier --write

Demote default rabbitmq behavior, implement init for all BaseEventWriter/Listener abstracted implementations
  src/util/util/ipc/Event.ts
Due: eslint, prettier --write

Add untested rabbitmq single-channel IPC
  src/util/util/index.ts
  src/util/util/ipc/Event.ts
  src/util/util/ipc/RabbitMQ.ts
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/listener/UnixSocketListener.ts
  src/util/util/ipc/writer/RabbitMqSingleWriter.ts
  src/util/util/ipc/writer/UnixSocketWriter.ts
Due: eslint, prettier --write

Better error handling in rabbitmqsinglelistener/writer
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/writer/RabbitMqSingleWriter.ts
Due: eslint, prettier --write

Fix db models build
  extra/admin-api/Models/Spacebar.Models.Db/Spacebar.Models.Db.csproj
Due: none

channelOrdering: fix null ref
  src/util/entities/Guild.ts
Due: eslint, prettier --write

Split unix socket IPC to separate files, add interfaces
  src/util/util/Event.ts
  src/util/util/index.ts
  src/util/util/ipc/Event.ts
  src/util/util/ipc/listener/BaseEventListener.ts
  src/util/util/ipc/listener/UnixSocketListener.ts
  src/util/util/ipc/writer/BaseEventWriter.ts
  src/util/util/ipc/writer/UnixSocketWriter.ts
Due: eslint, prettier --write

Move publishEvent to RabbitMQ.ts
  src/util/util/ipc/Event.ts
  src/util/util/ipc/RabbitMQ.ts
Due: eslint, prettier --write

Nix: expose EVENT_TRANSMISSION as an option
  nix/modules/default/default.nix
Due: none

Move rabbitListen to RabbitMQ.ts
  src/util/util/ipc/Event.ts
  src/util/util/ipc/RabbitMQ.ts
Due: eslint, prettier --write

Add NixOS test for starting with rabbitmq-single ipc
  default.nix
  nix/tests/test-bundle-starts.nix
  src/util/util/ipc/Event.ts
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/writer/RabbitMqSingleWriter.ts
Due: eslint, prettier --write

Move message mention handling to separate function
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Trace fillInMissingIDs
  src/api/util/handlers/Message.ts
  src/util/interfaces/Event.ts
Due: eslint, prettier --write

Simplify some queries for handling mentions
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Add full trace
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Use sets for mention roles/users
  assets/openapi.json
  assets/schemas.json
  src/api/util/handlers/Message.ts
  src/schemas/api/messages/Message.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

User mentions: use `user_id IN (...)` rather than `user_id = ... OR user_id = ...`
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Use forEach rather than .map.forEach
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Fix some copyright headers
  src/util/util/extensions/Math.ts
Due: eslint, prettier --write

Bulk insert missing ReadStates
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Break up bulk inserts for read states to avoid postgres parameter exhaustion
  src/api/util/handlers/Message.ts
  src/util/util/extensions/Array.ts
  src/util/util/extensions/Math.ts
Due: eslint, prettier --write

No longer handle mention_count == null since its no longer nullable
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Gateway: send reconnect on shutdown
  src/gateway/events/Connection.ts
Due: eslint, prettier --write

IPC: shutdown hooks
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/listener/UnixSocketListener.ts
  src/util/util/ipc/writer/RabbitMqSingleWriter.ts
  src/util/util/ipc/writer/UnixSocketWriter.ts
Due: eslint, prettier --write

Concurrent identify stress script
  scripts/stress/identify.js
  scripts/stress/identifyConcurrent.js
Due: eslint, prettier --write

Process lifecycle scripts
  package-lock.json
  package.json
  src/api/Server.ts
  src/api/routes/stop.ts
  src/bundle/Server.ts
  src/cdn/Server.ts
  src/gateway/Server.ts
  src/gateway/events/Close.ts
  src/gateway/events/Connection.ts
  src/util/util/Database.ts
  src/util/util/ProcessLifecycle.ts
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/listener/UnixSocketListener.ts
  src/util/util/ipc/writer/RabbitMqSingleWriter.ts
  src/util/util/ipc/writer/UnixSocketWriter.ts
  src/webrtc/Server.ts
Due: eslint, prettier --write

Move why-is-node-running to dependencies
  package-lock.json
  package.json
Due: none

CodeOwners: claim /nix dir
  .github/CODEOWNERS
Due: none

Process lifecycle scripts
  package-lock.json
  src/api/Server.ts
  src/api/routes/stop.ts
  src/bundle/Server.ts
  src/cdn/Server.ts
  src/gateway/Server.ts
  src/gateway/events/Close.ts
  src/gateway/events/Connection.ts
  src/util/util/Database.ts
  src/util/util/ProcessLifecycle.ts
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/listener/UnixSocketListener.ts
  src/util/util/ipc/writer/RabbitMqSingleWriter.ts
  src/util/util/ipc/writer/UnixSocketWriter.ts
  src/webrtc/Server.ts
Due: eslint, prettier --write

nixos tests: check metrics endpoints on TS services
  nix/tests/test-bundle-starts.nix
Due: none

monitoring: ignore OPTIONS requests that dont have a route handler
  src/util/monitoring/Monitoring.ts
Due: eslint, prettier --write

*/Server.ts: Add monitoring init hook
  package-lock.json
  package.json
  src/api/Server.ts
  src/cdn/Server.ts
  src/util/monitoring/Monitoring.ts
Due: eslint, prettier --write

IPC metrics
  src/util/util/extensions/Array.ts
  src/util/util/ipc/Event.ts
  src/util/util/ipc/listener/UnixSocketListener.ts
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
