Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

Systemd notify hooks, move nixos integration tests to a systemd service
  extra/admin-api/Tests/Spacebar.Tests/Tests/MessageTests.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/WebhookTests.cs
  nix/modules/default/default.nix
  nix/modules/default/pion-sfu.nix
  nix/tests/test-bundle-starts.nix
  package-lock.json
  package.json
  src/api/Server.ts
  src/cdn/Server.ts
  src/gateway/Server.ts
  src/util/util/ProcessLifecycle.ts
  src/webrtc/Server.ts
Due: eslint, prettier --write

Working unit failure detection
  nix/tests/test-bundle-starts.nix
Due: none

Use error handler in CDN, clearer CDN errors, fix cdn in nixosTests
  nix/tests/test-bundle-starts.nix
  src/cdn/Server.ts
  src/cdn/util/ErrorHandler.ts
  src/util/util/ProcessLifecycle.ts
  src/util/util/cdn.ts
Due: eslint, prettier --write

Skip Klipy tests in nixosTests
  extra/admin-api/Tests/Spacebar.Tests/Config.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/GifTests.cs
  extra/admin-api/Tests/Spacebar.Tests/appsettings.json
  nix/tests/test-bundle-starts.nix
Due: none

Harmonize GHA workflows a little, add nix-bincache.rory.gay to trusted list to make github go brr
  .github/workflows/build-docker.yml
  .github/workflows/dependabot-nix-update.yml
  .github/workflows/nix-build.yml
  .github/workflows/style.yml
  flake.nix
Due: none

GHA: pass --accept-flake-config to nix
  .github/workflows/build-docker.yml
  .github/workflows/nix-build.yml
Due: none

feat: add presences on ready_supplemental
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

feat: restore comments
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Basic gateway tests
  .gitignore
  extra/admin-api/Tests/Spacebar.Tests/Spacebar.Tests.csproj
  extra/admin-api/Tests/Spacebar.Tests/Tests/GatewayTests.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/MessageTests.cs
  extra/admin-api/Utilities/Spacebar.Sdk/Core/SpacebarClient.cs
Due: none

Fix webhook message edit test
  extra/admin-api/Tests/Spacebar.Tests/Extensions/AssertHttpExtensions.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/WebhookTests.cs
Due: none

Add webhook message get/update/delete
  extra/admin-api/Tests/Spacebar.Tests/Tests/WebhookTests.cs
  src/api/routes/webhooks/#webhook_id/#webhook_token/messages/#message_id.ts
Due: eslint, prettier --write

Fix stacktraces by converting all constant errors to getters
  src/util/util/Constants.ts
Due: eslint, prettier --write

Unify webhook token parameter name
  assets/openapi.json
  src/api/routes/webhooks/#webhook_id/#webhook_token/github.ts
  src/api/routes/webhooks/#webhook_id/#webhook_token/index.ts
  src/api/util/handlers/Webhook.ts
Due: eslint, prettier --write

Add webhook message delete test
  extra/admin-api/Tests/Spacebar.Tests/Extensions/AssertHttpExtensions.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/WebhookTests.cs
Due: none

Fix webhook edit
  assets/openapi.json
  assets/schemas.json
  src/api/routes/webhooks/#webhook_id/#webhook_token/messages/#message_id.ts
  src/schemas/uncategorised/WebhookExecuteSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix schema for patch webhook message
  src/api/routes/webhooks/#webhook_id/#webhook_token/messages/#message_id.ts
  src/database/entities/User.ts
Due: eslint, prettier --write

Fix tests
  extra/admin-api/Tests/Spacebar.Tests/Tests/MessageTests.cs
  extra/admin-api/Utilities/Spacebar.Sdk/Core/SpacebarClient.cs
Due: none

Fallback to empty array
  src/api/routes/webhooks/#webhook_id/#webhook_token/messages/#message_id.ts
Due: eslint, prettier --write

Drop a bunch of random overrides
  src/api/routes/webhooks/#webhook_id/#webhook_token/messages/#message_id.ts
  src/database/entities/Message.ts
Due: eslint, prettier --write

Make tests depend on cdn and gateway for good measure
  nix/tests/test-bundle-starts.nix
Due: none

Dont enable CDN signing user agent requirement in tests
  nix/tests/test-bundle-starts.nix
Due: none

Debug tests
  extra/admin-api/Tests/Spacebar.Tests/Tests/GatewayTests.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/GuildTests.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/MessageTests.cs
Due: none

Remove APIPublicMember, APIMessage
  assets/openapi.json
  assets/schemas.json
  src/api/routes/channels/#channel_id/greet.ts
  src/api/routes/channels/#channel_id/messages/#message_id/crosspost.ts
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/messages/pins/index.ts
  src/api/routes/channels/#channel_id/pins.ts
  src/api/routes/guilds/#guild_id/members/#member_id/index.ts
  src/api/routes/guilds/#guild_id/members/#member_id/nick.ts
  src/api/routes/webhooks/#webhook_id/#webhook_token/index.ts
  src/schemas/responses/TypedResponses.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Remove APIMemberArray
  assets/openapi.json
  assets/schemas.json
  src/api/routes/guilds/#guild_id/members/index.ts
  src/schemas/api/users/Member.ts
  src/schemas/responses/TypedResponses.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Remove APIBackupCodesArray
  assets/openapi.json
  assets/schemas.json
  src/api/routes/users/@me/mfa/codes-verification.ts
  src/api/routes/users/@me/mfa/codes.ts
  src/schemas/responses/BackupCodesResponses.ts
  src/schemas/responses/TypedResponses.ts
  src/schemas/responses/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Remove APIWebhookArray
  assets/openapi.json
  assets/schemas.json
  src/api/routes/channels/#channel_id/webhooks.ts
  src/api/routes/guilds/#guild_id/webhooks.ts
  src/api/routes/webhooks/#webhook_id/#webhook_token/index.ts
  src/api/routes/webhooks/#webhook_id/index.ts
  src/database/entities/Channel.ts
  src/database/entities/Guild.ts
  src/schemas/api/channels/Webhook.ts
  src/schemas/api/guilds/GuildSchema.ts
  src/schemas/responses/BackupCodesResponses.ts
  src/schemas/responses/TypedResponses.ts
  src/schemas/responses/WebhookCreateResponse.ts
  src/schemas/responses/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Clean up various other schemas
  assets/openapi.json
  assets/schemas.json
  src/api/routes/channels/preload-messages.ts
  src/api/routes/interactions/index.ts
  src/schemas/api/bots/InteractionCreateSchema.ts
  src/schemas/api/channels/Webhook.ts
  src/schemas/api/messages/Message.ts
  src/schemas/responses/EmojiSourceResponse.ts
  src/schemas/responses/GuildMessagesSearchResponse.ts
  src/schemas/responses/MemberJoinGuildResponse.ts
  src/schemas/responses/PreloadMessagesResponseSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js
