Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

CDN: clean up unused imports
  src/cdn/routes/app-assets.ts
  src/cdn/routes/app-icons.ts
  src/cdn/routes/attachments.ts
  src/cdn/routes/avatars.ts
  src/cdn/routes/banners.ts
  src/cdn/routes/channel-icons.ts
  src/cdn/routes/discover-splashes.ts
  src/cdn/routes/discovery-splashes.ts
  src/cdn/routes/emojis.ts
  src/cdn/routes/guild-profiles.ts
  src/cdn/routes/icons.ts
  src/cdn/routes/role-icons.ts
  src/cdn/routes/splashes.ts
  src/cdn/routes/stickers.ts
  src/cdn/routes/team-icons.ts
  src/cdn/util/basicCrdFileRouter.ts
Due: eslint, prettier --write

eslint: more rules, no-duplicate-imports
  assets/openapi.json
  assets/schemas.json
  eslint.config.mjs
  src/api/routes/channels/#channel_id/attachments.ts
  src/api/routes/guilds/#guild_id/bulk-ban.ts
  src/cdn/routes/attachments.ts
  src/gateway/opcodes/VoiceStateUpdate.ts
  src/util/entities/Message.ts
  src/util/util/Event.ts
  src/util/util/Rights.ts
  src/util/util/lambert-server/Server.ts
Due: eslint, prettier --write

eslint: default-case
  eslint.config.mjs
  src/gateway/listener/listener.ts
  src/util/util/lambert-server/check.ts
Due: eslint, prettier --write

eslint: arrow-body-style=as-needed
  eslint.config.mjs
  src/api/routes/attachments/refresh-urls.ts
  src/api/routes/auth/verify/resend.ts
  src/api/routes/channels/#channel_id/attachments.ts
  src/api/routes/guilds/#guild_id/widget.json.ts
  src/api/routes/users/@me/mentions.ts
  src/api/routes/users/@me/mfa/webauthn/credentials/index.ts
  src/api/routes/users/@me/relationships.ts
  src/api/util/handlers/Message.ts
  src/api/util/utility/EmbedHandlers.ts
  src/gateway/Server.ts
  src/gateway/events/Connection.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/util/Heartbeat.ts
  src/util/dtos/DmChannelDTO.ts
  src/util/dtos/ReadyGuildDTO.ts
  src/util/util/Permissions.ts
  src/util/util/Presence.ts
  src/util/util/Token.ts
  src/webrtc/events/Connection.ts
Due: eslint, prettier --write

Minor package updates
  package-lock.json
  package.json
Due: none

eslint: yoda
  eslint.config.mjs
  src/api/util/utility/passwordStrength.ts
  src/util/util/networking/abuseipdb/AbuseIpDbClient.ts
  src/util/util/networking/ipdata/IpDataClient.ts
Due: eslint, prettier --write

eslint: no-promise-executor-return
  eslint.config.mjs
  src/apply-migrations.ts
  src/bundle/Server.ts
  src/util/util/Database.ts
  src/util/util/KittyLogo.ts
  src/util/util/RabbitMQ.ts
  src/util/util/Stopwatch.test.ts
  src/util/util/Token.ts
  src/util/util/extensions/index.ts
  src/util/util/lambert-server/Server.ts
Due: eslint, prettier --write

eslint: reapply after rebasing on #1631
  src/api/routes/users/#user_id/profile.ts
Due: eslint, prettier --write

Update readme
  README.md
Due: none

Fix guild discovery
  src/api/routes/discoverable-guilds.ts
  src/api/routes/guild-recommendations.ts
Due: eslint, prettier --write

Clean some unused imports
  src/api/routes/discoverable-guilds.ts
  src/api/routes/guild-recommendations.ts
Due: eslint, prettier --write

Merge AckBulkSchema into MessageAcknowledgeSchema.ts
  .lintstagedrc.mjs
  src/schemas/uncategorised/AckBulkSchema.ts
  src/schemas/uncategorised/MessageAcknowledgeSchema.ts
  src/schemas/uncategorised/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Clean up imports in schemas/api/bots
  .lintstagedrc.mjs
  assets/openapi.json
  assets/schemas.json
  src/api/routes/interactions/index.ts
  src/schemas/api/bots/InteractionCallbackSchema.ts
  src/schemas/api/bots/InteractionCreateSchema.ts
  src/schemas/api/bots/InteractionSchema.ts
  src/schemas/api/bots/SendableApplicationCommandDataSchema.ts
  src/schemas/api/bots/SendableMessageComponentDataSchema.ts
  src/schemas/api/bots/SendableModalSubmitDataSchema.ts
  src/schemas/api/bots/index.ts
  src/schemas/api/channels/Channel.ts
  src/schemas/uncategorised/MessageCreateSchema.ts
  src/util/entities/Message.ts
  src/util/imports/Interactions.ts
  src/util/interfaces/Event.ts
  src/util/interfaces/Interaction.ts
  src/util/interfaces/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Clean up schemas/api a bit
  .lintstagedrc.mjs
  src/schemas/api/channels/Webhook.ts
  src/schemas/api/channels/index.ts
  src/schemas/api/developers/index.ts
  src/schemas/api/guilds/GuildSchema.ts
  src/schemas/api/guilds/VoiceState.ts
  src/schemas/api/index.ts
  src/schemas/api/messages/Message.ts
  src/schemas/api/reports/index.ts
  src/schemas/api/users/ConnectedAccount.ts
  src/schemas/api/users/InstanceUserDeleteSchema.ts
  src/schemas/api/users/Member.ts
  src/schemas/api/users/SessionsSchemas.ts
  src/schemas/api/users/User.ts
  src/schemas/api/users/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Clean up schemas/gateway a bit
  src/schemas/gateway/GatewayPayloadSchema.ts
  src/schemas/gateway/IdentifySchema.ts
  src/schemas/gateway/LazyRequestSchema.ts
  src/schemas/gateway/StreamCreateSchema.ts
  src/schemas/gateway/StreamDeleteSchema.ts
  src/schemas/gateway/StreamWatchSchema.ts
  src/schemas/gateway/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Clean up schemas/responses a bit
  src/schemas/responses/EmailDomainLookupResponse.ts
  src/schemas/responses/EmojiSourceResponse.ts
  src/schemas/responses/GatewayBotResponse.ts
  src/schemas/responses/GatewayResponse.ts
  src/schemas/responses/GuildCreateResponse.ts
  src/schemas/responses/GuildWidgetJsonResponse.ts
  src/schemas/responses/GuildWidgetSettingsResponse.ts
  src/schemas/responses/MemberJoinGuildResponse.ts
  src/schemas/responses/PreloadMessagesResponseSchema.ts
  src/schemas/responses/SettingsProtoUpdateResponse.ts
  src/schemas/responses/TeamListResponse.ts
  src/schemas/responses/TypedResponses.ts
  src/schemas/responses/UserProfileResponse.ts
  src/schemas/responses/UserRelationsResponse.ts
  src/schemas/responses/WebAuthnCreateResponse.ts
  src/schemas/responses/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Clean up schemas/uncategorised a bit
  src/schemas/uncategorised/ActivitySchema.ts
  src/schemas/uncategorised/GuildSubscriptionsBulkSchema.ts
  src/schemas/uncategorised/LoginResponse.ts
  src/schemas/uncategorised/MessageCreateSchema.ts
  src/schemas/uncategorised/SettingsProtoUpdateSchema.ts
  src/schemas/uncategorised/UserModifySchema.ts
  src/schemas/uncategorised/UserNoteUpdateSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Update genIndex to add ane xtra newline
  scripts/genIndex.js
Due: eslint, prettier --write

Clean up schemas a bit
  src/schemas/CreateFingerprintResponse.ts
  src/schemas/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add basic data pipeline operators
  package-lock.json
  package.json
  src/gateway/events/Connection.ts
  src/gateway/util/Send.ts
  src/gateway/util/WebSocket.ts
Due: eslint, prettier --write

Compliance: add user_id and user_settings to login response
  src/api/routes/auth/login.ts
Due: eslint, prettier --write

Accept empty embed footers
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/webhooks/#webhook_id/#token/index.ts
  src/api/util/index.ts
  src/api/util/utility/EmbedPayload.test.ts
  src/api/util/utility/EmbedPayload.ts
Due: eslint, prettier --write

Fix message history ordering
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/util/index.ts
  src/api/util/utility/MessageHistoryPagination.test.ts
  src/api/util/utility/MessageHistoryPagination.ts
Due: eslint, prettier --write

Allow null webhook message fields
  assets/openapi.json
  assets/schemas.json
  src/api/routes/webhooks/#webhook_id/#token/index.ts
  src/schemas/Validator.test.ts
  src/schemas/uncategorised/WebhookExecuteSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Sign attachment embed urls
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/users/@me/mentions.ts
  src/api/util/handlers/Message.ts
  src/gateway/listener/listener.ts
  src/util/entities/Attachment.ts
  src/util/entities/Message.test.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write

Support encoded @me routes
  src/util/util/lambert-server/Server.test.ts
  src/util/util/lambert-server/Server.ts
Due: eslint, prettier --write

Normalize email login matching
  src/api/routes/auth/forgot.ts
  src/api/routes/auth/login.ts
  src/api/routes/auth/register.ts
  src/api/routes/users/@me/index.ts
  src/util/entities/User.ts
  src/util/migration/postgres/1777999500000-NormalizeUserEmails.ts
  src/util/util/EmailAddress.test.ts
  src/util/util/EmailAddress.ts
  src/util/util/index.ts
Due: eslint, prettier --write

Serialize empty profile pronouns
  src/api/routes/users/#user_id/profile.ts
  src/api/util/index.ts
  src/api/util/utility/UserProfile.test.ts
  src/api/util/utility/UserProfile.ts
Due: eslint, prettier --write

Honor invite unique reuse
  src/api/routes/channels/#channel_id/invites.ts
  src/api/routes/guilds/#guild_id/vanity-url.ts
  src/api/routes/guilds/#guild_id/widget.json.ts
  src/util/entities/Invite.ts
  src/util/util/InviteCreate.test.ts
  src/util/util/InviteCreate.ts
  src/util/util/index.ts
Due: eslint, prettier --write

Inherit new role default permissions
  src/api/routes/guilds/#guild_id/roles/index.ts
  src/util/util/RolePermissions.test.ts
  src/util/util/RolePermissions.ts
  src/util/util/index.ts
Due: eslint, prettier --write

Fix missing guild channel ordering
  src/api/routes/guilds/#guild_id/index.ts
  src/util/entities/Guild.ts
  src/util/migration/postgres/1776450647003-DefaultGuildChannelOrdering.ts
  src/util/util/ChannelOrdering.test.ts
  src/util/util/ChannelOrdering.ts
  src/util/util/index.ts
Due: eslint, prettier --write

Expose reaction @me routes
  assets/openapi.json
  src/api/routes/channels/#channel_id/messages/#message_id/reactions.ts
  src/util/util/MessageReactionRoutes.test.ts
  src/util/util/MessageReactions.test.ts
  src/util/util/MessageReactions.ts
  src/util/util/index.ts
Due: eslint, prettier --write

Allow unauthenticated experiments requests
  assets/openapi.json
  assets/schemas.json
  src/api/middlewares/Authentication.test.ts
  src/api/middlewares/Authentication.ts
  src/api/routes/apex/experiments.ts
  src/api/routes/auth/fingerprint.ts
  src/api/util/utility/Experiments.test.ts
  src/api/util/utility/Experiments.ts
  src/api/util/utility/Fingerprint.test.ts
  src/api/util/utility/Fingerprint.ts
  src/schemas/responses/ExperimentsResponse.ts
  src/schemas/responses/index.ts
  src/util/util/ExperimentRoutes.test.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Mark sessions offline after gateway close
  src/gateway/events/Close.test.ts
  src/gateway/events/Close.ts
Due: eslint, prettier --write

Update guild create schema handling
  assets/openapi.json
  assets/schemas.json
  src/schemas/uncategorised/GuildCreateSchema.ts
  src/schemas/uncategorised/GuildUpdateSchema.ts
  src/util/entities/Guild.ts
  src/util/util/GuildCreate.test.ts
  src/util/util/GuildCreate.ts
  src/util/util/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Serialize READY read state as array
  src/gateway/opcodes/Identify.ts
  src/gateway/util/ReadyReadState.test.ts
  src/gateway/util/ReadyReadState.ts
  src/gateway/util/index.ts
  src/util/interfaces/Event.ts
Due: eslint, prettier --write

Narrow channel modify type conversions
  assets/openapi.json
  assets/schemas.json
  src/api/routes/channels/#channel_id/index.ts
  src/schemas/uncategorised/ChannelCreateSchema.ts
  src/schemas/uncategorised/ChannelModifySchema.test.ts
  src/schemas/uncategorised/ChannelModifySchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Serialize DM channel recipients per viewer
  src/api/routes/channels/#channel_id/messages/index.ts
  src/util/dtos/DmChannelDTO.ts
  src/util/dtos/DmChannelRecipients.test.ts
  src/util/dtos/DmChannelRecipients.ts
  src/util/entities/Channel.ts
Due: eslint, prettier --write

Make webauthn migration idempotent
  src/util/migration/postgres/1675044825710-webauthn.test.ts
  src/util/migration/postgres/1675044825710-webauthn.ts
Due: eslint, prettier --write
