Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

Clean up supposedly orphaned unix sockets
  src/util/util/ipc/writer/UnixSocketWriter.ts
Due: eslint, prettier --write

Token scope for password resets
  extra/admin-api/Tests/Spacebar.Tests/Tests/AuthenticationTests.cs
  src/api/routes/auth/reset.ts
  src/util/util/Token.ts
  src/util/util/email/index.ts
Due: eslint, prettier --write

Postgres connection timeout
  src/database/Database.ts
Due: eslint, prettier --write

Longer test timeout
  nix/tests/test-bundle-starts.nix
Due: none

Make if statement chain look slightly nicer
  src/cdn/routes/attachments.ts
Due: eslint, prettier --write

Multi message attachment test
  extra/admin-api/Tests/Spacebar.Tests/Tests/MessageTests.cs
Due: none

Attachment limits
  src/api/routes/channels/#channel_id/messages/index.ts
  src/util/config/types/subconfigurations/limits/MessageLimits.ts
Due: eslint, prettier --write

Clean up outdated todo
  src/api/routes/channels/#channel_id/messages/bulk-delete.ts
  src/api/routes/emojis/#emoji_id/source.ts
Due: eslint, prettier --write

Force redirect tenor
  src/integrations/gifs/GifProviderManager.ts
Due: eslint, prettier --write

Klipy fix
  src/integrations/gifs/providers/KlipyGifProvider.ts
Due: eslint, prettier --write

Fix bot token reset
  src/api/routes/applications/#application_id/bot/index.ts
  src/api/util/utility/polls.ts
Due: eslint, prettier --write

Join bot on app
  src/api/routes/applications/#application_id/bot/index.ts
Due: eslint, prettier --write

NixOS: systemd slices
  nix/modules/default/cs/admin-api.nix
  nix/modules/default/cs/cdn-cs.nix
  nix/modules/default/cs/offload-cs.nix
  nix/modules/default/cs/uapi.nix
  nix/modules/default/default.nix
  nix/modules/default/gw-sharding.nix
  nix/modules/default/pion-sfu.nix
Due: none

Move authentication enforcement to route middleware, move route middleware file
  src/api/middlewares/Authentication.ts
  src/api/middlewares/Route.ts
  src/api/middlewares/index.ts
  src/api/util/index.ts
Due: eslint, prettier --write

Add a nice type import in getRouteDescriptions, update security map in openapi
  scripts/openapi.js
  scripts/util/getRouteDescriptions.js
Due: eslint, prettier --write

Remove authentication import from ratelimit
  src/api/middlewares/Authentication.ts
  src/api/middlewares/RateLimit.ts
  src/api/routes/-/healthz.ts
  src/api/routes/-/readyz.ts
  src/api/routes/auth/fingerprint.ts
  src/api/routes/auth/forgot.ts
  src/api/routes/auth/location-metadata.ts
  src/api/routes/auth/login.ts
  src/api/routes/auth/mfa/totp.ts
  src/api/routes/auth/mfa/webauthn.ts
  src/api/routes/auth/register.ts
  src/api/routes/auth/reset.ts
  src/api/routes/auth/verify/index.ts
  src/api/routes/auth/verify/resend.ts
  src/api/routes/auth/verify/view-backup-codes-challenge.ts
  src/api/routes/connections/#connection_name/callback.ts
  src/api/routes/download.ts
  src/api/routes/experiments.ts
  src/api/routes/gateway/bot.ts
  src/api/routes/gateway/index.ts
  src/api/routes/guilds/#guild_id/widget.json.ts
  src/api/routes/guilds/#guild_id/widget.png.ts
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
  src/api/routes/invites/index.ts
  src/api/routes/ping.ts
  src/api/routes/policies/instance/config.ts
  src/api/routes/policies/instance/domains.ts
  src/api/routes/policies/instance/index.ts
  src/api/routes/policies/instance/limits.ts
  src/api/routes/scheduled-maintenances/upcoming.json.ts
  src/api/routes/science.ts
  src/api/routes/track.ts
  src/api/routes/updates.ts
  src/api/routes/webhooks/#webhook_id/#webhook_token/github.ts
  src/api/routes/webhooks/#webhook_id/#webhook_token/index.ts
  src/api/routes/webhooks/#webhook_id/#webhook_token/messages/#message_id.ts
Due: eslint, prettier --write

Update assets
  assets/openapi.json
  assets/schemas.json
Due: none

Add OriginChat as a supported GIF provider (and set it as enabled for the testVM, since no APIkey or anything)
  nix/testVm/configuration.nix
  src/integrations/gifs/providers/OriginChatGifProvider.ts
  src/util/config/types/IntegrationConfiguration.ts
  src/util/util/Rights.ts
Due: eslint, prettier --write

expose webrtc with the testVM
  nix/modules/default/integration-nginx.nix
Due: none

run prettier for extra/grafana-dashboard.json and tsconfig.json
  extra/grafana-dashboard.json
  tsconfig.json
Due: none

Add util script to send IPC messages, "fix" ID stuff
  src/gateway/listener/listener.ts
  src/send-ipc-message.ts
Due: eslint, prettier --write

Add worker name + nix
  nix/modules/default/gw-sharding.nix
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

nix: forgot a word
  nix/modules/default/gw-sharding.nix
Due: none

nix: force slice for gateway when sharding
  nix/modules/default/gw-sharding.nix
Due: none

fix bot add in guild
  src/api/routes/oauth2/authorize.ts
Due: eslint, prettier --write

Rename Server to GatewayServer/WebrtcServer
  src/bundle/Server.ts
  src/gateway/Server.ts
  src/gateway/start.ts
  src/webrtc/Server.ts
  src/webrtc/start.ts
Due: eslint, prettier --write

Prepare to use Express
  src/bundle/Server.ts
  src/gateway/Server.ts
  src/gateway/routes/_spacebar/gateway/admin/introspect.ts
Due: eslint, prettier --write

Use express for gateway
  src/gateway/Server.ts
Due: eslint, prettier --write

disable auth on shields
  src/api/routes/guilds/#guild_id/shield.svg.ts
Due: eslint, prettier --write

Update pion-webrtc
  flake.lock
Due: none

TraverseDirectory: allow specifying a destination router
  src/util/util/TraverseDirectory.ts
Due: eslint, prettier --write

lambert-server: allow passing base router to registerRoute
  src/util/util/lambert-server/Server.ts
Due: eslint, prettier --write

schemas for gif/version
  assets/openapi.json
  assets/schemas.json
  src/api/routes_toplevel/_spacebar/api/version.ts
  src/schemas/api/spacebar/Integrations.ts
  src/schemas/api/spacebar/Version.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

openapi: log entity responses
  scripts/openapi.js
Due: eslint, prettier --write

Dedicated toplevel routes dir on API
  src/api/Server.ts
  src/api/routes_toplevel/%2Ewell-known/spacebar/client.ts
  src/api/routes_toplevel/%2Ewell-known/spacebar/index.ts
  src/api/routes_toplevel/_spacebar/api/openapi.json.ts
  src/api/routes_toplevel/_spacebar/api/schemas.json.ts
  src/api/routes_toplevel/_spacebar/api/v1/integrations/gif.ts
  src/api/routes_toplevel/_spacebar/api/version.ts
  src/api/routes_toplevel/healthz.ts
  src/api/routes_toplevel/index.ts
  src/api/routes_toplevel/readyz.ts
  src/api/routes_toplevel/static/logo.png.ts
  src/api/routes_toplevel/verify-email.ts
  src/api/routes_toplevel/widget.ts
  src/util/util/Constants.ts
  src/util/util/lambert-server/Server.ts
Due: eslint, prettier --write

include toplevel routes in openapi schemas
  scripts/openapi.js
  scripts/util/getRouteDescriptions.js
Due: eslint, prettier --write

Dont do entire app/api dance in api server.ts
  src/api/Server.ts
Due: eslint, prettier --write

Clean up some types
  assets/openapi.json
  assets/schemas.json
  src/api/routes/reporting/index.ts
  src/api/routes/webhooks/#webhook_id/#webhook_token/index.ts
  src/api/routes/webhooks/#webhook_id/index.ts
  src/schemas/api/reports/ReportMenu.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js
