Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

Fix discovery
  src/api/routes/discoverable-guilds.ts
  src/database/entities/Guild.ts
Due: eslint, prettier --write

Fix logout api
  src/api/routes/auth/sessions.ts
Due: eslint, prettier --write

Voice opcodes
  src/webrtc/util/Constants.ts
Due: eslint, prettier --write

feat: fix relationship events not sending properly
  src/api/routes/users/@me/relationships.ts
  src/gateway/listener/listener.ts
Due: eslint, prettier --write

Voice connections
  assets/openapi.json
  src/schemas/webrtc/VoiceIdentifySchema.ts
  src/webrtc/events/Close.ts
  src/webrtc/events/Connection.ts
  src/webrtc/opcodes/SelectProtocol.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

feat: read subscription ids from the payload per event
  src/api/routes/users/@me/relationships.ts
  src/gateway/listener/listener.ts
Due: eslint, prettier --write

Decouple gateway connection state from inner ws object
  src/gateway/events/Close.ts
  src/gateway/events/Connection.ts
  src/gateway/events/Message.ts
  src/gateway/listener/listener.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/StreamCreate.ts
  src/gateway/opcodes/StreamDelete.ts
  src/gateway/opcodes/StreamWatch.ts
  src/gateway/opcodes/instanceOf.ts
  src/gateway/routes/_spacebar/gateway/admin/introspect.ts
  src/gateway/util/Heartbeat.ts
  src/gateway/util/Send.ts
  src/gateway/util/WebSocket.ts
  src/webrtc/events/Close.ts
  src/webrtc/events/Connection.ts
  src/webrtc/events/Message.ts
  src/webrtc/opcodes/Heartbeat.ts
  src/webrtc/opcodes/Identify.ts
  src/webrtc/opcodes/SelectProtocol.ts
  src/webrtc/util/Send.ts
  src/webrtc/util/WebRtcWebSocket.ts
Due: eslint, prettier --write

Clean up some imports
  src/api/Server.ts
Due: eslint, prettier --write

Correct opcode
  src/webrtc/events/Close.ts
Due: eslint, prettier --write

feat(api): return slowmode cooldown on typing
  src/api/routes/channels/#channel_id/typing.ts
Due: eslint, prettier --write

Add missing attachment fields
  assets/openapi.json
  assets/schemas.json
  src/schemas/api/messages/Attachments.ts
  src/schemas/uncategorised/MessageCreateSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Store attachment data in db
  assets/openapi.json
  assets/schemas.json
  package.json
  src/database/entities/Attachment.ts
  src/database/migration/postgres/1787497429170-AttachmentMetadata.ts
Due: eslint, prettier --write

Ingest cloud attachment meta
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Maybe flags for attachments? i tried
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/util/handlers/Message.ts
  src/api/util/utility/polls.ts
  src/cdn/routes/attachments.ts
  src/util/dtos/MessageOptions.ts
  src/util/util/cdn.ts
Due: eslint, prettier --write

fix: Add character limit for pronouns
  assets/openapi.json
  assets/schemas.json
  src/api/routes/users/#user_id/profile.ts
  src/util/config/types/subconfigurations/limits/UserLimits.ts
Due: eslint, prettier --write

Fix a typo
  src/api/routes/policies/instance/config.ts
Due: eslint, prettier --write

OAuth2 userinfo endpoint
  assets/openapi.json
  assets/schemas.json
  src/api/routes/oauth2/userinfo.ts
  src/schemas/api/oauth2/OAuth2UserInfo.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Document audit log endpoint somewhat
  assets/openapi.json
  assets/schemas.json
  src/api/routes/guilds/#guild_id/audit-logs.ts
  src/schemas/api/guilds/AuditLog.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

audit log event enum
  src/schemas/api/guilds/AuditLog.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Audit log entry schema
  assets/openapi.json
  assets/schemas.json
  src/schemas/api/guilds/AuditLog.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix audit log entry entity
  src/database/entities/AuditLog.ts
  src/database/migration/postgres/1788342958702-AuditLogsByGuild.ts
Due: eslint, prettier --write

Actually query audit logs table
  src/api/routes/guilds/#guild_id/audit-logs.ts
Due: eslint, prettier --write

nodejs my 26
  default.nix
  node-modules.nix
Due: none

Bump dependencies
  assets/openapi.json
  assets/schemas.json
  package-lock.json
  package.json
Due: none

Bump flake lock
  flake.lock
Due: none

fix(audit): correct guild_id fk, nullability as well as typos in auditlog database entity
  src/database/entities/AuditLog.ts
  src/database/migration/postgres/1788342958702-AuditLogsByGuild.ts
Due: eslint, prettier --write

refactor: generic auditlogchange; reduced value types
  src/schemas/api/guilds/AuditLog.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

feat: typed per event changes lookup
  src/schemas/api/guilds/AuditLog.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

feat: createAuditLog helper
  src/database/entities/AuditLog.ts
Due: eslint, prettier --write

refactor: use discriminated union for entries
  src/schemas/api/guilds/AuditLog.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

feat: log member ban/unban
  src/api/routes/guilds/#guild_id/bans.ts
Due: eslint, prettier --write

feat: log member kick
  src/api/routes/guilds/#guild_id/members/#member_id/index.ts
Due: eslint, prettier --write

fix(audit): allow non user targets
  src/api/routes/guilds/#guild_id/channels.ts
  src/database/entities/AuditLog.ts
  src/database/migration/postgres/1788380367585-RemoveAuditLogTargetFK.ts
Due: eslint, prettier --write

Fix admin api service resolution stuff
  extra/admin-api/Spacebar.AdminApi/Middleware/AuthenticationMiddleware.cs
  extra/admin-api/Spacebar.AdminApi/Program.cs
Due: none

feat: log channel update/delete
  src/api/routes/channels/#channel_id/index.ts
Due: eslint, prettier --write

feat: log role create/update/delete
  src/api/routes/guilds/#guild_id/roles/#role_id/index.ts
Due: eslint, prettier --write

Fix webhook schema
  assets/openapi.json
  assets/schemas.json
  src/database/entities/Message.ts
  src/database/entities/Webhook.ts
  src/schemas/api/messages/Message.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

feat: log invite create/delete
  src/api/routes/channels/#channel_id/invites.ts
  src/api/routes/invites/index.ts
Due: eslint, prettier --write
