Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Hide missing schema declaration warnings for some static file endpoints
  assets/openapi.json
  scripts/openapi.js
Due: eslint, prettier --write

Basic retry logic for UnixSocketWriter connections before unlinking sockets
  src/util/util/ipc/writer/UnixSocketWriter.ts
Due: eslint, prettier --write

schemas for wellknowns
  assets/openapi.json
  assets/schemas.json
  src/api/routes_toplevel/%2Ewell-known/spacebar/client.ts
  src/schemas/api/spacebar/WellKnown.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add attachment list API
  assets/openapi.json
  assets/schemas.json
  extra/admin-api/Models/Spacebar.Models.Api/CreateAttachmentRequest.cs
  extra/admin-api/Models/Spacebar.Models.Api/Spacebar.Models.Api.csproj
  extra/admin-api/Tests/Spacebar.Tests/Tests/ChannelTests.cs
  src/api/routes_toplevel/_spacebar/api/v1/channels/#channel_id/attachments.ts
  src/schemas/api/messages/Message.ts
  src/schemas/api/spacebar/AttachmentListResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Some API docs...
  src/api/middlewares/Route.ts
  src/api/routes_toplevel/_spacebar/api/v1/channels/#channel_id/attachments.ts
  src/database/entities/Attachment.ts
  src/util/util/ipc/writer/UnixSocketWriter.ts
Due: eslint, prettier --write

OpenAPI /api prefix for api routes
  assets/openapi.json
  scripts/openapi.js
  scripts/util/getRouteDescriptions.js
Due: eslint, prettier --write

Message bulk delete: filter input IDs by channel rather than emitting the full input set
  src/api/routes/channels/#channel_id/messages/bulk-delete.ts
Due: eslint, prettier --write

Assert membership, ignore everyone role and limit results of role member-ids endpoint
  src/api/routes/guilds/#guild_id/roles/#role_id/member-ids.ts
Due: eslint, prettier --write

Assert that requesting user is a member of (group/) DM before allowing them to add members
  src/api/routes/channels/#channel_id/recipients.ts
Due: eslint, prettier --write

Fix categories type
  extra/admin-api/outputs.nix
  src/database/entities/Categories.ts
  src/database/entities/Guild.ts
  src/database/migration/postgres/1786139482251-Int2CategoryId.ts
Due: eslint, prettier --write

Member change schema
  assets/openapi.json
  assets/schemas.json
  src/schemas/uncategorised/MemberChangeSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix category migration
  src/database/migration/postgres/1786139482251-Int2CategoryId.ts
Due: eslint, prettier --write

Discovery schemas
  extra/admin-api/Models/Spacebar.Models.Api/DiscoverableGuild.cs
  src/schemas/responses/DiscoverableGuildsResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Move categories route to discovery subfolder
  src/api/routes/discovery/categories.ts
Due: eslint, prettier --write

ToGuildSource -> ToDiscoverableGuild
  src/api/routes/discoverable-guilds.ts
  src/api/routes/stickers/#sticker_id/index.ts
  src/database/entities/Guild.ts
Due: eslint, prettier --write

Clean up some schemas
  assets/openapi.json
  assets/schemas.json
  src/api/routes/users/@me/settings.ts
  src/database/entities/Guild.ts
  src/database/entities/Session.ts
  src/database/entities/UserSettings.ts
  src/gateway/opcodes/PresenceUpdate.ts
  src/schemas/api/guilds/index.ts
  src/schemas/api/messages/index.ts
  src/schemas/api/spacebar/AttachmentListResponse.ts
  src/schemas/api/users/ConnectedAccount.ts
  src/schemas/api/users/SessionsSchemas.ts
  src/schemas/api/users/Status.ts
  src/schemas/api/users/UserSettings.ts
  src/schemas/responses/DiscoverableGuildsResponse.ts
  src/schemas/responses/GuildCreateResponse.ts
  src/schemas/responses/GuildMessagesSearchResponse.ts
  src/schemas/responses/GuildWelcomeScreen.ts
  src/schemas/responses/GuildWidgetJsonResponse.ts
  src/schemas/responses/HubDirectoryEntriesResponse.ts
  src/schemas/responses/MemberJoinGuildResponse.ts
  src/schemas/responses/TeamListResponse.ts
  src/schemas/responses/TokenResponse.ts
  src/schemas/responses/TypedResponses.ts
  src/schemas/responses/UserProfileResponse.ts
  src/schemas/responses/index.ts
  src/schemas/uncategorised/ActivitySchema.ts
  src/util/interfaces/Event.ts
  src/util/interfaces/GuildWelcomeScreen.ts
  src/util/interfaces/Presence.ts
  src/util/interfaces/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Remove hashtag imports
  assets/openapi.json
  assets/schemas.json
  src/schemas/api/bots/InteractionCallbackSchema.ts
  src/schemas/uncategorised/ThreadCreationSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix some imports in entities
  src/database/entities/Guild.ts
  src/database/entities/Member.ts
Due: eslint, prettier --write

Fix some imports in entities
  src/database/entities/Emoji.ts
  src/database/entities/StickerPack.ts
Due: eslint, prettier --write

remove all import from ./index
  src/extensions/SingletonCache.ts
Due: eslint, prettier --write

remove a lot of recursive index imports
  src/util/config/types/DefaultsConfiguration.ts
  src/util/config/types/GuildConfiguration.ts
  src/util/config/types/LimitConfigurations.ts
  src/util/config/types/RegisterConfiguration.ts
  src/util/config/types/SecurityConfiguration.ts
  src/util/config/types/subconfigurations/limits/RateLimits.ts
  src/util/config/types/subconfigurations/limits/ratelimits/Route.ts
  src/util/util/Config.ts
  src/util/util/Logo.ts
Due: eslint, prettier --write

Move to TS7
  .lintstagedrc.mjs
  default.nix
  extra/admin-api/scaffold-db
  package-lock.json
  package.json
Due: none

Update minor js deps
  package-lock.json
Due: none

Update typescript-schema-generator
  assets/openapi.json
  assets/schemas.json
  package-lock.json
  package.json
Due: none

Update some more packages
  package-lock.json
  package.json
Due: none

update flake lock
  flake.lock
Due: none

Dont pre enumerate theories
  nix/tests/test-bundle-starts.nix
Due: none

feat: address issues
  .husky/pre-commit
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

update to latest branch changes and adjust the file
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

feat: restore comments
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

feat: add presences on ready_supplemental
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Allow avatar_description field in profile update
  assets/openapi.json
  assets/schemas.json
  src/schemas/uncategorised/UserModifySchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Decouple gateway connection state from inner ws object
  src/gateway/events/Close.ts
  src/gateway/events/Connection.ts
  src/gateway/events/Message.ts
  src/gateway/listener/listener.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/StreamCreate.ts
  src/gateway/opcodes/StreamDelete.ts
  src/gateway/opcodes/StreamWatch.ts
  src/gateway/opcodes/instanceOf.ts
  src/gateway/routes/_spacebar/gateway/admin/introspect.ts
  src/gateway/util/Heartbeat.ts
  src/gateway/util/Send.ts
  src/gateway/util/WebSocket.ts
  src/webrtc/events/Close.ts
  src/webrtc/events/Connection.ts
  src/webrtc/events/Message.ts
  src/webrtc/opcodes/Heartbeat.ts
  src/webrtc/opcodes/Identify.ts
  src/webrtc/opcodes/SelectProtocol.ts
  src/webrtc/util/Send.ts
  src/webrtc/util/WebRtcWebSocket.ts
Due: eslint, prettier --write

Log session before/after remove
  src/api/routes/auth/sessions.ts
Due: eslint, prettier --write

Return processed_at_timestamp in READY_SUPPLEMENTAL
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

No-op metrics endpoints
  src/api/routes/metrics.ts
Due: eslint, prettier --write

Dont fail the gateway connection if unable to connect to an offload endpoint
  src/gateway/util/Utils.ts
Due: eslint, prettier --write

Update webstorm run configurations
  .idea/runConfigurations/Start_API__noschema_.xml
  .idea/runConfigurations/Start_API__prof_.xml
  .idea/runConfigurations/Start_CDN.xml
  .idea/runConfigurations/Start_CDN__prof_.xml
  .idea/runConfigurations/Start_Gateway.xml
  .idea/runConfigurations/Start_Gateway__prof_.xml
  .idea/runConfigurations/Start_WebRTC.xml
  .idea/runConfigurations/Start_WebRTC__prof_.xml
  .idea/runConfigurations/Start_bundle.xml
  .idea/runConfigurations/Start_bundle__prof_.xml
  .idea/runConfigurations/Start_separated__prof_.xml
  .idea/workspace.xml
Due: none

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
