Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

Abstract out C# auth
  extra/admin-api/Interop/Spacebar.Interop.Authentication.AspNetCore/Spacebar.Interop.Authentication.AspNetCore.csproj
  extra/admin-api/Interop/Spacebar.Interop.Authentication.AspNetCore/SpacebarAspNetAuthenticationService.cs
  extra/admin-api/Interop/Spacebar.Interop.Authentication/Spacebar.Interop.Authentication.csproj
  extra/admin-api/Interop/Spacebar.Interop.Authentication/SpacebarAuthenticationConfiguration.cs
  extra/admin-api/Interop/Spacebar.Interop.Authentication/SpacebarAuthenticationService.cs
  extra/admin-api/Interop/Spacebar.Interop.Authentication/deps.json
Due: none

Basic gateway offload server and op12
  extra/admin-api/Spacebar.GatewayOffload/Controllers/Op12Controller.cs
  extra/admin-api/Spacebar.GatewayOffload/Controllers/Op14Controller.cs
  extra/admin-api/Spacebar.GatewayOffload/Program.cs
  extra/admin-api/Spacebar.GatewayOffload/Properties/launchSettings.json
  extra/admin-api/Spacebar.GatewayOffload/Spacebar.GatewayOffload.csproj
  extra/admin-api/Spacebar.GatewayOffload/Spacebar.GatewayOffload.http
  extra/admin-api/Spacebar.GatewayOffload/appsettings.Development.json
  extra/admin-api/Spacebar.GatewayOffload/appsettings.json
  extra/admin-api/SpacebarAdminAPI.sln
  extra/admin-api/outputs.nix
Due: none

Update schemas
  assets/openapi.json
  assets/schemas.json
Due: none

cdn: avatar decorations
  src/cdn/Server.ts
  src/cdn/routes/avatar-decoration-presets.ts
Due: eslint, prettier --write

try catch a migration line
  src/util/migration/postgres/1770079838835-MemberProfileCustomisation.ts
Due: eslint, prettier --write

Well, dont then ig
  src/util/migration/postgres/1770079838835-MemberProfileCustomisation.ts
Due: eslint, prettier --write

Actually save webhook apps - fixes #1474
  src/api/routes/channels/#channel_id/webhooks.ts
Due: eslint, prettier --write

Update schemas for profile customisation
  assets/openapi.json
  assets/schemas.json
  src/api/routes/users/@me/index.ts
  src/schemas/api/users/User.ts
  src/schemas/uncategorised/UserModifySchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Env var to disable db migrations, nix: drop pre-start service
  nix/modules/default/default.nix
  src/util/util/Database.ts
Due: eslint, prettier --write

add threads key to guild
  src/util/entities/Guild.ts
Due: eslint, prettier --write

don't rethrow error, just keep retrying
  src/util/util/RabbitMQ.ts
Due: eslint, prettier --write

some thread fixes
  src/api/routes/channels/#channel_id/thread-members.ts
  src/gateway/opcodes/Identify.ts
  src/util/entities/Channel.ts
  src/util/interfaces/Event.ts
Due: eslint, prettier --write

don't delete a public thread
  src/api/routes/channels/#channel_id/thread-members.ts
Due: eslint, prettier --write

correct message sending perms
  src/api/routes/channels/#channel_id/messages/index.ts
Due: eslint, prettier --write

fix interface
  src/schemas/uncategorised/MessageThreadCreationSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

correct thread type
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
Due: eslint, prettier --write

add permision check
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
Due: eslint, prettier --write

send message to join thread
  src/api/routes/channels/#channel_id/messages/index.ts
Due: eslint, prettier --write

Guild discovery: option to hide already joined guilds
  src/api/routes/discoverable-guilds.ts
  src/util/config/types/subconfigurations/guild/Discovery.ts
Due: eslint, prettier --write

more changes
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/util/handlers/Message.ts
  src/schemas/uncategorised/MessageActivity.ts
  src/schemas/uncategorised/MessageCreateSchema.ts
  src/schemas/uncategorised/ThreadCreationSchema.ts
  src/schemas/uncategorised/index.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

fix stupid express thing
  src/api/routes/channels/#channel_id/threads.ts
Due: eslint, prettier --write

Fix req.params for thread creation
  src/api/routes/channels/#channel_id/threads.ts
Due: eslint, prettier --write

unscrew up
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
  src/api/routes/channels/#channel_id/threads.ts
Due: eslint, prettier --write

Add deps.json for cs db models
  extra/admin-api/Models/Spacebar.Models.Db/deps.json
Due: none

some fixes
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/util/handlers/Message.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/LazyRequest.ts
  src/util/entities/Channel.ts
  src/util/migration/postgres/1770168396106-threadMembers.ts
Due: eslint, prettier --write

fix threads :3
  src/gateway/opcodes/LazyRequest.ts
  src/util/util/Permissions.ts
Due: eslint, prettier --write

prune migration
  src/util/migration/postgres/1770168396106-threadMembers.ts
Due: eslint, prettier --write

more purging
  src/util/migration/postgres/1770168396106-threadMembers.ts
Due: eslint, prettier --write

stupid migration
  src/util/migration/postgres/1770168396106-threadMembers.ts
Due: eslint, prettier --write

more thread improvements
  src/api/routes/channels/#channel_id/threads.ts
  src/schemas/uncategorised/ThreadCreationSchema.ts
  src/util/entities/Channel.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

spread that message!
  src/api/routes/channels/#channel_id/threads.ts
Due: eslint, prettier --write

Make builds for C# atomic, fix deps
  extra/admin-api/.gitignore
  extra/admin-api/Interop/Spacebar.Interop.Authentication.AspNetCore/Spacebar.Interop.Authentication.AspNetCore.csproj
  extra/admin-api/Interop/Spacebar.Interop.Authentication.AspNetCore/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Authentication/Spacebar.Interop.Authentication.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/Spacebar.Interop.Replication.RabbitMq.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/Spacebar.Interop.Replication.UnixSocket.csproj
  extra/admin-api/Models/Spacebar.Models.Db/Spacebar.Models.Db.csproj
  extra/admin-api/Spacebar.AdminApi/Spacebar.AdminApi.csproj
  extra/admin-api/Spacebar.Cdn/Spacebar.Cdn.csproj
  extra/admin-api/Spacebar.GatewayOffload/Spacebar.GatewayOffload.csproj
  extra/admin-api/Utilities/Spacebar.Cdn.Fsck/Spacebar.Cdn.Fsck.csproj
  extra/admin-api/Utilities/Spacebar.Cdn.Migration/Spacebar.Cdn.Migration.csproj
  extra/admin-api/Utilities/Spacebar.CleanSettingsRows/Spacebar.CleanSettingsRows.csproj
  extra/admin-api/outputs.nix
  extra/admin-api/update-deps.cs
Due: none

allow deep threads
  src/util/util/Permissions.ts
Due: eslint, prettier --write

Fix disabling migrations on nix not wirking
  nix/modules/default/default.nix
  nix/tests/test-bundle-starts.nix
  src/gateway/util/Utils.ts
  src/util/config/types/OffloadConfiguration.ts
  src/util/util/Database.ts
Due: eslint, prettier --write

maybe fix bot threads?
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

fix slight error
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

thread improvements
  src/api/routes/channels/#channel_id/index.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/schemas/uncategorised/ChannelModifySchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js
