Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Nix: expose CDN path option
  nix/modules/default/default.nix
Due: none

nix: allow ints in env
  nix/modules/default/default.nix
Due: none

nix: fix env name
  nix/modules/default/default.nix
Due: none

Server name setting
  nix/modules/default/default.nix
Due: none

AF_UNIX
  nix/modules/default/default.nix
Due: none

Give storage location to all services
  nix/modules/default/default.nix
Due: none

Use systemd runtimedirectory
  nix/modules/default/default.nix
Due: none

No default port
  nix/modules/default/default.nix
Due: none

Override port always based on endpoints
  nix/modules/default/default.nix
Due: none

fix endpoint crap
  src/api/Server.ts
  src/api/routes/policies/instance/domains.ts
Due: eslint, prettier --write

sadfkoljwaesioafawej
  nix/modules/default/default.nix
Due: none

lets tyr not dynamcic user
  nix/modules/default/default.nix
Due: none

maye?
  nix/modules/default/default.nix
Due: none

create group
  nix/modules/default/default.nix
Due: none

consistent paths
  nix/modules/default/default.nix
Due: none

Dont set working directory explicitly
  nix/modules/default/default.nix
Due: none

Fix runtime path
  nix/modules/default/default.nix
Due: none

Log some paths
  src/util/util/Config.ts
  src/util/util/Token.ts
Due: eslint, prettier --write

print cwd in jwt
  src/util/util/Token.ts
Due: eslint, prettier --write

Set working directory
  nix/modules/default/default.nix
Due: none

cdn dont use https for localhost
  nix/modules/default/default.nix
Due: none

cdn no leading slash for private endpoint hack
  nix/modules/default/default.nix
Due: none

Allow passing config secrets as paths
  nix/modules/default/default.nix
  nix/modules/default/integration-nginx.nix
  src/util/util/Config.ts
Due: eslint, prettier --write

Fix copy paste failure
  nix/modules/default/default.nix
Due: none

bleh
  nix/modules/default/default.nix
Due: none

Allow writing to cdn path
  default.nix
  nix/modules/default/default.nix
Due: none

Fix schemas...
  .idea/workspace.xml
  assets/openapi.json
  assets/schemas.json
  src/util/util/Database.ts
Due: eslint, prettier --write

Nix: include patches in fileset
  default.nix
Due: none

No trailing slashes in endpoints
  nix/modules/default/default.nix
Due: none

gen openapi spec
  assets/openapi.json
  assets/schemas.json
Due: none

Reduce service permissions
  nix/modules/default/default.nix
Due: none

Persist uploader user id for new stickers
  src/api/routes/guilds/#guild_id/stickers.ts
Due: eslint, prettier --write

Clean up nix a little
  nix/modules/default/default.nix
  nix/modules/default/options-subtypes/mkEndpointOptions.nix
  nix/modules/default/secrets.nix
  nix/modules/default/users.nix
  nix/tests/test-bundle-starts.nix
Due: none

Fix deps hashes for extras
  extra/admin-api/ConfigTest/ConfigTest.csproj
  extra/admin-api/Spacebar.AdminApi/Spacebar.AdminApi.csproj
  extra/admin-api/Spacebar.AdminApi/deps.json
  extra/admin-api/Spacebar.CleanSettingsRows/Spacebar.CleanSettingsRows.csproj
  extra/admin-api/Spacebar.CleanSettingsRows/deps.json
  extra/admin-api/Utilities/Spacebar.AdminApi.PrepareTestData/Spacebar.AdminApi.PrepareTestData.csproj
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Spacebar.AdminApi.TestClient.csproj
  extra/admin-api/Utilities/Spacebar.RabbitMqUtilities/Spacebar.RabbitMqUtilities.csproj
  extra/admin-api/outputs.nix
Due: none

Add sticker manager in non admin section of admin api test client
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Pages/NonAdmin/StickerManager.razor
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Program.cs
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Services/StreamingHttpClient.cs
Due: none

Fix profile API
  src/api/routes/users/#user_id/profile.ts
Due: eslint, prettier --write

More schemas for store/collectibles
  assets/openapi.json
  assets/schemas.json
  scripts/schemaExclusions.json
  src/schemas/api/index.ts
  src/schemas/api/store/AnyCollectiblesShopBlock.ts
  src/schemas/api/store/CollectibleAssetConfigSchema.ts
  src/schemas/api/store/CollectibleBannerAssetSchema.ts
  src/schemas/api/store/CollectibleItemSchema.ts
  src/schemas/api/store/CollectibleItemType.ts
  src/schemas/api/store/CollectibleNameplateColorPalette.ts
  src/schemas/api/store/CollectibleProductSchema.ts
  src/schemas/api/store/CollectibleProfileEffectAnimationType.ts
  src/schemas/api/store/CollectibleStyleSchema.ts
  src/schemas/api/store/CollectibleUserDiscountSchema.ts
  src/schemas/api/store/CountdownTimerShopBlockSchema.ts
  src/schemas/api/store/CountryPricesSchema.ts
  src/schemas/api/store/FeaturedShopBlockSchema.ts
  src/schemas/api/store/FeedShopBlockSchema.ts
  src/schemas/api/store/HeroShopBlockSchema.ts
  src/schemas/api/store/ImmersiveBannerShopBlockSchema.ts
  src/schemas/api/store/RewardHeroShoppBlockSchema.ts
  src/schemas/api/store/ShelfShopBlockSchema.ts
  src/schemas/api/store/ShopBlockType.ts
  src/schemas/api/store/SortedSKUIDsSchema.ts
  src/schemas/api/store/SubBlockSchema.ts
  src/schemas/api/store/SubscriptionPlanPurchaseType.ts
  src/schemas/api/store/SubscriptionPricesSchema.ts
  src/schemas/api/store/UnitPriceSchema.ts
  src/schemas/api/store/WideBannerShopBlockSchema.ts
  src/schemas/api/store/index.ts
  src/schemas/responses/CollectiblesCategoriesResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
