Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

Avoid duplicate embed update events
  src/api/util/utility/EmbedHandlers.test.ts
  src/api/util/utility/EmbedHandlers.ts
  src/api/util/utility/EmbedMerge.ts
Due: eslint, prettier --write

Move JWT user id to sub claim
  src/api/middlewares/Authentication.ts
  src/api/routes/auth/whoami.ts
  src/util/util/Token.ts
  src/util/util/TokenPayload.test.ts
  src/util/util/TokenPayload.ts
Due: eslint, prettier --write

Move cloud attachment uploads under internal CDN path
  src/api/routes/channels/#channel_id/attachments.ts
  src/api/util/handlers/Message.ts
  src/cdn/routes/_spacebar/cdn/attachments.ts
  src/cdn/routes/attachments.ts
  src/util/util/CdnRoutes.test.ts
  src/util/util/CdnRoutes.ts
  src/util/util/index.ts
Due: eslint, prettier --write

Improve startup configuration errors
  src/bundle/Server.ts
  src/util/util/Config.ts
  src/util/util/Database.test.ts
  src/util/util/Database.ts
  src/util/util/DatabaseConfig.ts
  src/util/util/JsonConfigFile.test.ts
  src/util/util/JsonConfigFile.ts
Due: eslint, prettier --write

Publish multi-arch docker images
  .github/workflows/build-docker.yml
Due: none

fix(util): preserve admin through channel overwrites
  src/util/util/Permissions.test.ts
  src/util/util/Permissions.ts
Due: eslint, prettier --write

Optimize route BigNumber normalization
  REPORT.md
  benchmarks/results/route-validation/after-route-validation-forin.cpuprofile
  benchmarks/results/route-validation/after-route-validation-forin.heapprofile
  benchmarks/results/route-validation/after-route-validation-forin.summary.json
  benchmarks/results/route-validation/before-route-validation-forin.cpuprofile
  benchmarks/results/route-validation/before-route-validation-forin.heapprofile
  benchmarks/results/route-validation/before-route-validation-forin.summary.json
  scripts/benchmarks/route-validation.js
  src/api/util/handlers/route.ts
Due: eslint, prettier --write

Handle circular JSON websocket payloads
  src/gateway/util/Send.ts
  src/util/util/JSON.test.ts
  src/util/util/JSON.ts
  src/webrtc/util/Send.ts
Due: eslint, prettier --write

Use real PKCE for Twitter OAuth
  src/connections/Twitter/Twitter.test.ts
  src/connections/Twitter/index.ts
Due: eslint, prettier --write

Add Reddit connection metadata
  src/connections/Reddit/Reddit.test.ts
  src/connections/Reddit/index.ts
Due: eslint, prettier --write

Fix webhook response schema
  assets/openapi.json
  assets/schemas.json
  src/api/routes/webhooks/#webhook_id/#token/index.ts
  src/api/routes/webhooks/#webhook_id/index.ts
  src/schemas/api/channels/Webhook.ts
  src/schemas/responses/TypedResponses.ts
  src/schemas/responses/WebhookCreateResponse.test.ts
  src/schemas/responses/WebhookCreateResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add performance benchmark regression checks
  .github/workflows/performance.yml
  .gitignore
  .lintstagedrc.mjs
  benchmarks/suites/fullstack-readyz.js
  benchmarks/suites/route-validation.js
  benchmarks/thresholds.json
  eslint.config.mjs
  package.json
  scripts/benchmarks/compare.js
  scripts/benchmarks/compare.test.js
  scripts/benchmarks/fixtures/latency-regression/base.json
  scripts/benchmarks/fixtures/latency-regression/head.json
  scripts/benchmarks/fixtures/malformed/base.json
  scripts/benchmarks/fixtures/malformed/head.json
  scripts/benchmarks/fixtures/no-regression/base.json
  scripts/benchmarks/fixtures/no-regression/head.json
  scripts/benchmarks/fixtures/throughput-regression/base.json
  scripts/benchmarks/fixtures/throughput-regression/head.json
  scripts/benchmarks/lib/args.js
  scripts/benchmarks/lib/compare-core.js
  scripts/benchmarks/lib/profiler.js
  scripts/benchmarks/lib/stats.js
  scripts/benchmarks/run.js
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Address benchmark review feedback
  .github/workflows/performance.yml
  benchmarks/suites/fullstack-readyz.js
  benchmarks/suites/route-validation.js
  package.json
Due: eslint, prettier --write

Unsubscribe guild channels on leave
  src/gateway/listener/listener.ts
  src/gateway/listener/subscriptions.test.ts
  src/gateway/listener/subscriptions.ts
Due: eslint, prettier --write

Add billing location info subdivision
  assets/openapi.json
  assets/schemas.json
  src/api/routes/users/@me/billing/location-info.ts
  src/api/util/index.ts
  src/api/util/utility/BillingLocationInfo.test.ts
  src/api/util/utility/BillingLocationInfo.ts
  src/schemas/responses/BillingLocationInfoResponse.ts
  src/schemas/responses/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Use schema types for token responses
  assets/openapi.json
  assets/schemas.json
  src/api/routes/users/@me/mfa/totp/enable.ts
  src/schemas/responses/TokenResponse.test.ts
  src/schemas/responses/TokenResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Type account standing flagged content
  assets/openapi.json
  assets/schemas.json
  src/schemas/responses/AccountStandingResponse.test.ts
  src/schemas/responses/AccountStandingResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Use hub guild for email verify response
  assets/openapi.json
  assets/schemas.json
  src/schemas/responses/EmailDomainLookupVerifyCodeResponse.test.ts
  src/schemas/responses/EmailDomainLookupVerifyCodeResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Validate connection callback OpenID params
  assets/openapi.json
  assets/schemas.json
  src/schemas/uncategorised/ConnectionCallbackSchema.test.ts
  src/schemas/uncategorised/ConnectionCallbackSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

fix(applications): enforce owner MFA checks
  assets/openapi.json
  assets/schemas.json
  src/api/routes/applications/#application_id/bot/index.ts
  src/api/routes/applications/#application_id/index.ts
  src/api/routes/applications/@me.ts
  src/api/routes/auth/mfa/totp.ts
  src/api/routes/users/@me/mfa/totp/disable.ts
  src/api/routes/users/@me/mfa/totp/enable.ts
  src/api/util/index.ts
  src/api/util/utility/Totp.test.ts
  src/api/util/utility/Totp.ts
  src/util/util/Totp.test.ts
  src/util/util/Totp.ts
  src/util/util/index.ts
Due: eslint, prettier --write

Use directory DTO for hub entries
  assets/openapi.json
  assets/schemas.json
  src/schemas/responses/HubDirectoryEntriesResponse.test.ts
  src/schemas/responses/HubDirectoryEntriesResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix application command authorization
  src/api/routes/applications/#application_id/commands/#command_id/index.ts
  src/api/routes/applications/#application_id/commands/index.ts
  src/api/routes/applications/#application_id/guilds/#guild_id/commands/#command_id/index.ts
  src/api/routes/applications/#application_id/guilds/#guild_id/commands/index.ts
  src/api/util/index.ts
  src/api/util/utility/ApplicationAuthorization.test.ts
  src/api/util/utility/ApplicationAuthorization.ts
  src/api/util/utility/ApplicationCommands.test.ts
  src/api/util/utility/ApplicationCommands.ts
Due: eslint, prettier --write

Fix guild widget response schema
  assets/openapi.json
  assets/schemas.json
  src/api/routes/guilds/#guild_id/widget.json.ts
  src/schemas/responses/GuildWidgetJsonResponse.test.ts
  src/schemas/responses/GuildWidgetJsonResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Move guild welcome screen DTO to schemas
  src/schemas/api/guilds/GuildWelcomeScreen.ts
  src/schemas/responses/GuildCreateResponse.test.ts
  src/schemas/responses/GuildCreateResponse.ts
  src/util/interfaces/GuildWelcomeScreen.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Clarify login MFA sms response
  src/api/routes/auth/login.ts
  src/schemas/uncategorised/LoginResponse.test.ts
  src/schemas/uncategorised/LoginResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add modal submit component schema
  assets/openapi.json
  assets/schemas.json
  src/schemas/api/bots/SendableModalSubmitDataSchema.test.ts
  src/schemas/api/bots/SendableModalSubmitDataSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix create report scheduled event field
  assets/openapi.json
  assets/schemas.json
  src/api/routes/reporting/index.ts
  src/schemas/api/reports/CreateReport.test.ts
  src/schemas/api/reports/CreateReport.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix automod action schemas
  assets/openapi.json
  assets/schemas.json
  src/api/routes/guilds/#guild_id/auto-moderation/rules.ts
  src/schemas/api/guilds/Automod.ts
  src/schemas/uncategorised/AutomodRuleSchema.test.ts
  src/schemas/uncategorised/AutomodRuleSchema.ts
  src/util/entities/AutomodRule.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix payment source route responses
  assets/openapi.json
  assets/schemas.json
  src/api/routes/users/@me/billing/payment-sources.ts
  src/api/util/index.ts
  src/api/util/utility/PaymentSources.test.ts
  src/api/util/utility/PaymentSources.ts
  src/schemas/responses/PaymentSourceResponse.test.ts
  src/schemas/responses/PaymentSourceResponse.ts
  src/schemas/responses/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Default discovery category localizations
  assets/openapi.json
  assets/schemas.json
  src/schemas/responses/DiscoveryCategoryResponse.test.ts
  src/util/entities/Categories.ts
  src/util/migration/postgres-initial.ts
  src/util/migration/postgres/1776400000000-CategoryLocalizationsDefault.test.ts
  src/util/migration/postgres/1776400000000-CategoryLocalizationsDefault.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add bulk role member replacement route
  assets/openapi.json
  assets/schemas.json
  src/api/routes/guilds/#guild_id/roles/#role_id/members.ts
  src/api/util/index.ts
  src/api/util/utility/RoleMembers.test.ts
  src/api/util/utility/RoleMembers.ts
  src/schemas/uncategorised/RoleMembersUpdateSchema.test.ts
  src/schemas/uncategorised/RoleMembersUpdateSchema.ts
  src/schemas/uncategorised/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix discovery category localization follow-ups
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
  src/schemas/responses/DiscoveryCategoryResponse.test.ts
  src/util/migration/postgres/1776400000000-CategoryLocalizationsDefault.ts
  src/util/migration/postgres/__tests__/1776400000000-CategoryLocalizationsDefault.test.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix JSON serializer worker response handling
  src/util/util/json/JsonSerializer.test.ts
  src/util/util/json/JsonSerializer.ts
  src/util/util/json/jsonWorker.ts
Due: eslint, prettier --write

Fix bulk role member PATCH semantics
  .lintstagedrc.mjs
  eslint.config.mjs
  src/api/routes/guilds/#guild_id/roles/#role_id/members.ts
  src/api/util/utility/RoleMemberRoutes.test.ts
  src/api/util/utility/RoleMembers.test.ts
  src/api/util/utility/RoleMembers.ts
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Add reporting response schemas
  assets/openapi.json
  assets/schemas.json
  src/api/routes/reporting/index.ts
  src/schemas/responses/ReportingMenuResponse.test.ts
  src/schemas/responses/ReportingMenuResponse.ts
  src/schemas/responses/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add whoami response schema
  assets/openapi.json
  assets/schemas.json
  src/api/routes/auth/whoami.test.ts
  src/api/routes/auth/whoami.ts
  src/api/routes/auth/whoamiResponse.ts
  src/schemas/responses/WhoAmIResponse.ts
  src/schemas/responses/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Address automod schema review checks
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
  src/schemas/uncategorised/AutomodRuleSchema.test.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Polish role member update fix
  .lintstagedrc.mjs
  assets/openapi.json
  assets/schemas.json
  eslint.config.mjs
  src/api/util/utility/RoleMemberRoutes.test.ts
  src/api/util/utility/RoleMembers.test.ts
  src/api/util/utility/RoleMembers.ts
  src/schemas/uncategorised/RoleMembersUpdateSchema.test.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix style drift for CI
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Format files flagged by style check
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write
