Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

CDN: use file contents for hashes, the fuck
  src/cdn/routes/app-assets.ts
  src/cdn/routes/app-icons.ts
  src/cdn/routes/avatars.ts
  src/cdn/routes/banners.ts
  src/cdn/routes/channel-icons.ts
  src/cdn/routes/discover-splashes.ts
  src/cdn/routes/discovery-splashes.ts
  src/cdn/routes/emojis.ts
  src/cdn/routes/guild-profiles.ts
  src/cdn/routes/icons.ts
  src/cdn/routes/splashes.ts
  src/cdn/routes/stickers.ts
  src/cdn/routes/team-icons.ts
  src/cdn/util/basicCrdFileRouter.ts
Due: eslint, prettier --write

GatewayOffload: rename to Offload
  extra/admin-api/Spacebar.Offload/Controllers/ChannelStatusController.cs
  extra/admin-api/Spacebar.Offload/Controllers/IdentifyController.cs
  extra/admin-api/Spacebar.Offload/Controllers/Op12Controller.cs
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
  extra/admin-api/Spacebar.Offload/Controllers/Op8Controller.cs
  extra/admin-api/Spacebar.Offload/Extensions/Db/UserExtensions.cs
  extra/admin-api/Spacebar.Offload/Program.cs
  extra/admin-api/Spacebar.Offload/Properties/launchSettings.json
  extra/admin-api/Spacebar.Offload/Spacebar.Offload.csproj
  extra/admin-api/Spacebar.Offload/Spacebar.Offload.http
  extra/admin-api/Spacebar.Offload/appsettings.Development.json
  extra/admin-api/Spacebar.Offload/appsettings.json
  extra/admin-api/Spacebar.Offload/deps.json
  extra/admin-api/Spacebar.Offload/http-client.private.env.json
  extra/admin-api/Spacebar.UApi/Program.cs
  extra/admin-api/SpacebarAdminAPI.slnx
  extra/admin-api/outputs.nix
  nix/modules/default/cs/gateway-offload-cs.nix
  nix/modules/default/cs/offload-cs.nix
  nix/modules/default/default.nix
  nix/testVm/configuration.nix
  nix/tests/test-bundle-starts.nix
Due: none

Fix some comments
  src/schemas/api/users/Member.ts
  src/util/entities/User.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix video schema to allow a bunch of undefineds
  src/schemas/webrtc/VoiceVideoSchema.ts
  src/webrtc/opcodes/Video.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Clean up nonspecific imports in entities
  src/schemas/api/reports/index.ts
  src/util/entities/Member.ts
  src/util/entities/ReportMenu.ts
  src/util/entities/StickerPack.ts
  src/util/entities/User.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Try to make entity imports in entities lazy, didnt yet resolve circular imports...
  src/util/entities/Application.ts
  src/util/entities/AuditLog.ts
  src/util/entities/AutomodRule.ts
  src/util/entities/BackupCodes.ts
  src/util/entities/Ban.ts
  src/util/entities/Channel.ts
  src/util/entities/CloudAttachment.ts
  src/util/entities/ConnectedAccount.ts
  src/util/entities/Emoji.ts
  src/util/entities/Guild.ts
  src/util/entities/InstanceBan.ts
  src/util/entities/Invite.ts
  src/util/entities/Member.ts
  src/util/entities/Message.ts
  src/util/entities/Note.ts
  src/util/entities/ReadState.ts
  src/util/entities/Relationship.ts
  src/util/entities/Role.ts
  src/util/entities/SecurityKey.ts
  src/util/entities/Session.ts
  src/util/entities/Sticker.ts
  src/util/entities/StickerPack.ts
  src/util/entities/Stream.ts
  src/util/entities/StreamSession.ts
  src/util/entities/Tag.ts
  src/util/entities/Team.ts
  src/util/entities/TeamMember.ts
  src/util/entities/Template.ts
  src/util/entities/ThreadMember.ts
  src/util/entities/User.ts
  src/util/entities/UserSettingsProtos.ts
  src/util/entities/VoiceState.ts
  src/util/entities/Webhook.ts
Due: eslint, prettier --write

Fix missed import from "."
  src/util/entities/Emoji.ts
Due: eslint, prettier --write

Use import type in entities where possible
  src/util/entities/Application.ts
  src/util/entities/ApplicationCommand.ts
  src/util/entities/Attachment.ts
  src/util/entities/AuditLog.ts
  src/util/entities/AutomodRule.ts
  src/util/entities/BackupCodes.ts
  src/util/entities/Ban.ts
  src/util/entities/Channel.ts
  src/util/entities/CloudAttachment.ts
  src/util/entities/ConnectedAccount.ts
  src/util/entities/EmbedCache.ts
  src/util/entities/Emoji.ts
  src/util/entities/Guild.ts
  src/util/entities/Invite.ts
  src/util/entities/Member.ts
  src/util/entities/Message.ts
  src/util/entities/Note.ts
  src/util/entities/ReadState.ts
  src/util/entities/Recipient.ts
  src/util/entities/Relationship.ts
  src/util/entities/ReportMenu.ts
  src/util/entities/Role.ts
  src/util/entities/SecurityKey.ts
  src/util/entities/Session.ts
  src/util/entities/Sticker.ts
  src/util/entities/StickerPack.ts
  src/util/entities/Stream.ts
  src/util/entities/StreamSession.ts
  src/util/entities/Tag.ts
  src/util/entities/Team.ts
  src/util/entities/TeamMember.ts
  src/util/entities/Template.ts
  src/util/entities/ThreadMember.ts
  src/util/entities/User.ts
  src/util/entities/UserSettings.ts
  src/util/entities/UserSettingsProtos.ts
  src/util/entities/VoiceState.ts
  src/util/entities/Webhook.ts
Due: eslint, prettier --write

Remove PrimaryIdColumn (only for what used to be mongodb support)
  src/util/entities/BaseClass.ts
  src/util/entities/Categories.ts
  src/util/entities/Config.ts
  src/util/entities/ConnectionConfigEntity.ts
  src/util/entities/Invite.ts
  src/util/entities/UserSettingsProtos.ts
Due: eslint, prettier --write

Remove PrimaryIdAutoGenerated (only for what used to be mongodb support)
  src/util/entities/Migration.ts
Due: eslint, prettier --write

Exclude mongodb from typeorm deps - resolves #1616
  package.json
Due: none

Remove all traces of sqlite3 - resolves #1617
  .github/workflows/build.yml
  package.json
  src/bundle/start.ts
  src/util/entities/Channel.ts
  src/util/entities/Guild.ts
  src/util/util/Database.ts
Due: eslint, prettier --write

fix many bugs
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

just one more check
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
Due: eslint, prettier --write

a lot of small fixes
  src/api/util/handlers/Message.ts
  src/api/util/handlers/route.ts
  src/gateway/opcodes/Identify.ts
  src/util/entities/Channel.ts
  src/util/entities/Guild.ts
  src/util/entities/Message.ts
  src/util/migrations/postgres/1772403866471-MemberFlags.ts
Due: eslint, prettier --write

sign 'em
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/util/handlers/Message.ts
  src/gateway/listener/listener.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write

remove weird debugging
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

make better error
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

v2 init work
  src/api/util/handlers/Message.ts
  src/schemas/api/messages/Components.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

remove log
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Fix typo
  src/schemas/api/messages/Components.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

fix typo
  src/api/routes/interactions/index.ts
  src/util/imports/Interactions.ts
Due: eslint, prettier --write

merge the functions
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/gateway/listener/listener.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write

more pk fixes
  src/api/routes/webhooks/#webhook_id/#token/index.ts
  src/api/util/handlers/Message.ts
  src/api/util/handlers/route.ts
  src/util/entities/Attachment.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write

fix more
  src/api/routes/channels/#channel_id/messages/index.ts
Due: eslint, prettier --write

call to json
  src/api/routes/channels/#channel_id/index.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/permissions.ts
  src/api/routes/guilds/#guild_id/channels.ts
Due: eslint, prettier --write

sign here
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
Due: eslint, prettier --write

remove the stupid function
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
Due: eslint, prettier --write

return
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
Due: eslint, prettier --write

fixes
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

final pk fixes
  scripts/schemaExclusions.json
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
  src/api/util/handlers/route.ts
  src/schemas/api/bots/InteractionCallbackSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

inline constant
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

enum for failure
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
Due: eslint, prettier --write

maybe processing media?
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

move the check to the right spot
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

fixes for pluralkit
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
  src/api/routes/interactions/index.ts
  src/api/util/handlers/Message.ts
  src/api/util/handlers/route.ts
  src/util/imports/Interactions.ts
Due: eslint, prettier --write

remove some extras
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

don't do that
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
Due: eslint, prettier --write

switch messages to base message type
  src/schemas/api/messages/Components.ts
  src/schemas/responses/GuildMessagesSearchResponse.ts
  src/schemas/uncategorised/MessageCreateSchema.ts
  src/schemas/uncategorised/ThreadCreationSchema.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

correct comment
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
