Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

Allow for smarthosts/local SMTP relays that dont use user/pass AUTH
  src/util/util/email/clients/SMTPEmailClient.ts
Due: eslint, prettier --write

fix: env in docker containers
  flake.nix
Due: none

health check and activity tracking for WebSocket connections
  src/gateway/Server.ts
  src/gateway/events/Close.ts
  src/gateway/events/Connection.ts
  src/gateway/events/Message.ts
  src/gateway/listener/listener.ts
  src/gateway/opcodes/Heartbeat.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/LazyRequest.ts
  src/gateway/opcodes/index.ts
  src/gateway/util/CircuitBreaker.ts
  src/gateway/util/Heartbeat.ts
  src/gateway/util/Send.ts
  src/gateway/util/WebSocket.ts
  src/gateway/util/index.ts
Due: eslint, prettier --write

try to fix user's status (not working) and try fix role bug
  assets/openapi.json
  assets/schemas.json
  src/gateway/listener/listener.ts
  src/gateway/opcodes/GuildSync.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/LazyRequest.ts
  src/gateway/opcodes/PresenceUpdate.ts
  src/gateway/util/Send.ts
  src/util/entities/Member.ts
  src/util/entities/Session.ts
  src/util/interfaces/Status.ts
Due: eslint, prettier --write

Clean up admin api a bit
  extra/admin-api/DataMappings/Spacebar.DataMappings.AdminApi/Spacebar.DataMappings.AdminApi.csproj
  extra/admin-api/DataMappings/Spacebar.DataMappings.AdminApi/User.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/TestControllers/IpcTestController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/UserController.cs
  extra/admin-api/SpacebarAdminAPI.slnx
Due: none

docker: set working dir to /data
  flake.nix
Due: none

fix: handle URL-encoded @me in /users/:user_id route
  src/api/routes/users/#user_id/index.ts
Due: eslint, prettier --write

Add contributing.md
  CONTRIBUTING.MD
Due: none

oops, forgot to update invite url when copy pasting
  CONTRIBUTING.MD
Due: none

Use vanity urls
  CONTRIBUTING.MD
  README.md
Due: none

make i18next shut up
  src/api/middlewares/Translation.ts
Due: eslint, prettier --write

Fix accepting friend requests
  src/schemas/uncategorised/RelationshipPutSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Some unfinished templates work
  assets/openapi.json
  assets/schemas.json
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/UnixSocketSpacebarReplication.cs
  extra/admin-api/Spacebar.AdminApi/Program.cs
  extra/admin-api/Spacebar.UApi/Controllers/GuildTemplatesController.cs
  extra/admin-api/Spacebar.UApi/Models/GuildTemplate.cs
  extra/admin-api/Spacebar.UApi/Models/UseGuildTemplateRequest.cs
  extra/admin-api/Spacebar.UApi/Program.cs
  extra/admin-api/Spacebar.UApi/Services/TemplateImportService.cs
  src/schemas/uncategorised/GuildTemplateCreateSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Nix admin api plumbing
  extra/admin-api/Interop/Spacebar.Interop.Replication.Abstractions/ISpacebarReplication.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/User.cs
  extra/admin-api/Spacebar.UApi/Services/TemplateImportService.cs
  nix/modules/default/cs/admin-api.nix
  nix/modules/default/cs/default-appsettings-json.nix
  nix/modules/default/default.nix
  nix/modules/default/integration-nginx.nix
  nix/testVm/configuration.nix
Due: none

nix/cs: listen on 0.0.0.0
  nix/modules/default/cs/admin-api.nix
  nix/modules/default/cs/gateway-offload-cs.nix
Due: none

fix
  nix/modules/default/cs/admin-api.nix
Due: none

Separate IP check options during registration
  src/api/routes/auth/register.ts
  src/util/config/types/RegisterConfiguration.ts
Due: eslint, prettier --write

Fix loading discord guild templates
  src/api/routes/guilds/index.ts
  src/api/routes/guilds/templates/index.ts
  src/util/entities/Channel.ts
  src/util/entities/Guild.ts
  src/util/entities/Role.ts
  src/util/migration/postgres/1771271159006-set-role-managed-default.ts
Due: eslint, prettier --write

gateeway debug logs
  src/gateway/Server.ts
Due: eslint, prettier --write

Gateway: dont block on clearing voice states
  src/gateway/Server.ts
  src/gateway/util/Utils.ts
Due: eslint, prettier --write

Fix user self delete not removing settings protos
  src/api/routes/users/@me/delete.ts
Due: eslint, prettier --write

API: fix youtube embed
  src/api/util/utility/EmbedHandlers.ts
Due: eslint, prettier --write

API: request embeds in US english preferred
  src/api/util/utility/EmbedHandlers.ts
Due: eslint, prettier --write

Add Decorators to clean classes before json serialization and remove invalid states.
  src/api/util/handlers/Message.ts
  src/util/entities/BaseClass.ts
  src/util/entities/Message.ts
  src/util/util/Decorators.ts
Due: eslint, prettier --write

Gateway: log user ID/i
  src/gateway/events/Connection.ts
  src/gateway/events/Message.ts
  src/gateway/listener/listener.ts
  src/gateway/opcodes/GuildSubscriptionsBulk.ts
  src/gateway/opcodes/GuildSync.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/LazyRequest.ts
  src/gateway/opcodes/RequestGuildMembers.ts
  src/gateway/opcodes/StreamCreate.ts
  src/gateway/opcodes/StreamDelete.ts
  src/gateway/opcodes/StreamWatch.ts
  src/gateway/opcodes/VoiceStateUpdate.ts
Due: eslint, prettier --write

Add some optional chaining to prevent issue with embeds
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

fix post data
  src/api/routes/channels/#channel_id/post-data.ts
Due: eslint, prettier --write

Add decorator to change Bigint back to string using Number
  src/util/entities/BaseClass.ts
  src/util/entities/Member.ts
  src/util/entities/User.ts
  src/util/util/Decorators.ts
Due: eslint, prettier --write

Renamed to JsonNumber and removed from incorrectly typed date field
  src/util/entities/BaseClass.ts
  src/util/entities/Member.ts
  src/util/entities/User.ts
  src/util/util/Decorators.ts
Due: eslint, prettier --write

util: update message flags to match upstream (and use short bigint notation)
  src/util/util/MessageFlags.ts
Due: eslint, prettier --write

Visual BUG fix after adding new friend+DM
  src/util/entities/Channel.ts
Due: eslint, prettier --write

The ChainingOperator didn't work as expected. This fixes that.
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Deleting settings along with the account
  src/api/routes/users/@me/delete.ts
Due: eslint, prettier --write
