Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

nix compile the rust json serialization and deserialization
  default.nix
  flake.nix
Due: none

ops
  src/gateway/Server.ts
Due: eslint, prettier --write

MessageActivity: add type enum
  src/schemas/uncategorised/MessageActivity.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

MessageCreate/UpdateEvent: use PublicMessage
  src/util/interfaces/Event.ts
Due: eslint, prettier --write

Message*Event: as->satisfies (WIP)
  src/api/routes/channels/#channel_id/greet.ts
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/messages/pins/index.ts
  src/api/routes/channels/#channel_id/pins.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/util/handlers/Message.ts
  src/api/util/handlers/Webhook.ts
  src/util/entities/Member.ts
Due: eslint, prettier --write

Message toJSON -> null vs undefined
  src/util/entities/Message.ts
Due: eslint, prettier --write

More schema stuff
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/schemas/uncategorised/MessageCreateSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add WIP PublicMessage schema
  src/schemas/api/messages/Message.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

WIP cdn-cs stuff
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Abstractions/FilesystemFileSource.cs
  extra/admin-api/Spacebar.Cdn/Controllers/Internal/GetImageController.cs
  extra/admin-api/Spacebar.Cdn/Controllers/StaticAssetController.cs
  extra/admin-api/Spacebar.Cdn/Extensions/ImageController.cs
  extra/admin-api/Spacebar.Cdn/Helpers/DefaultAvatarRenderer.cs
  extra/admin-api/Spacebar.Cdn/Mimes.cs
  extra/admin-api/Spacebar.Cdn/Properties/launchSettings.json
  extra/admin-api/Spacebar.Cdn/Services/CdnStorageRebuildService.cs
  extra/admin-api/Spacebar.Cdn/Services/DiscordImageResizeService.cs
  extra/admin-api/Spacebar.Cdn/Spacebar.Cdn.csproj
Due: none

requestguildmembers: bulk query sessions
  src/gateway/opcodes/RequestGuildMembers.ts
Due: eslint, prettier --write

requestguildmembers: log chunks
  src/gateway/opcodes/RequestGuildMembers.ts
Due: eslint, prettier --write

requestguildmembers: track member count properly
  src/gateway/opcodes/RequestGuildMembers.ts
Due: eslint, prettier --write

requestguildmembers: select only relevant data
  src/gateway/opcodes/RequestGuildMembers.ts
Due: eslint, prettier --write

requestguildmembers: assign presence list directly without for loop
  src/gateway/opcodes/RequestGuildMembers.ts
Due: eslint, prettier --write

requestguildmembers: dont forget user relation, lol
  src/gateway/opcodes/RequestGuildMembers.ts
Due: eslint, prettier --write

requestguildmembers: immediately send data instead of buffering
  src/gateway/opcodes/RequestGuildMembers.ts
Due: eslint, prettier --write

nix: quieten dotnet output
  extra/admin-api/outputs.nix
Due: none

make spacebar compile again
  assets/schemas.json
  src/api/routes/channels/#channel_id/greet.ts
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/messages/pins/index.ts
  src/api/routes/channels/#channel_id/pins.ts
  src/api/routes/channels/#channel_id/post-data.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/routes/channels/preload-messages.ts
  src/api/util/handlers/Message.ts
  src/api/util/handlers/Webhook.ts
  src/util/entities/Member.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write

nix: add gateway sharding options
  nix/modules/default/default.nix
  nix/modules/default/gw-sharding.nix
  nix/modules/default/integration-nginx.nix
  nix/testVm/configuration.nix
  nix/testVm/vm.nix
Due: none

Gateway: implement op43
  src/gateway/opcodes/RequestChannelInfo.ts
  src/gateway/opcodes/index.ts
Due: eslint, prettier --write

fix op43
  src/gateway/opcodes/RequestChannelInfo.ts
Due: eslint, prettier --write

Factor out getMostRelevantSession
  .idea/workspace.xml
  src/gateway/opcodes/GuildSync.ts
  src/gateway/opcodes/LazyRequest.ts
  src/gateway/util/SessionUtils.ts
Due: eslint, prettier --write

.idea: exclude cs bin dirs from analysis
  .idea/server.iml
Due: none

Gateway: include entity counts in trace names
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

nix: cache builds
  default.nix
Due: none

Gateway: allow addressing dispatch events to specific sessions
  src/gateway/listener/listener.ts
  src/util/interfaces/Event.ts
  src/util/util/Event.ts
Due: eslint, prettier --write

Gateway: add SB_SESSION_CLOSE and SB_SESSION_INVALIDATE events
  src/gateway/listener/listener.ts
  src/gateway/util/Constants.ts
  src/util/interfaces/Event.ts
Due: eslint, prettier --write

API: fire SB_SESSION_REMOVE upon logging out a session
  src/api/routes/auth/logout.ts
  src/api/routes/auth/sessions.ts
Due: eslint, prettier --write

cs: Add session_id and reconnect_delay to replicationmessage
  extra/admin-api/Interop/Spacebar.Interop.Replication.Abstractions/ReplicationMessage.cs
Due: none

admin api: send SB_SESSION_REMOVE when deleting user
  extra/admin-api/Spacebar.AdminApi/Controllers/UserController.cs
Due: none

gateway: util function to do gateway offload stuff
  src/gateway/util/Utils.ts
Due: eslint, prettier --write

CS: make replication messages typed, some offload work
  extra/admin-api/Interop/Spacebar.Interop.Replication.Abstractions/ISpacebarReplication.cs
  extra/admin-api/Interop/Spacebar.Interop.Replication.Abstractions/ReplicationMessage.cs
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/RabbitMqSpacebarReplication.cs
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/UnixSocketSpacebarReplication.cs
  extra/admin-api/Models/Spacebar.Models.Gateway/BulkMessageDeleteResponse.cs
  extra/admin-api/Models/Spacebar.Models.Gateway/ChannelStatusesRequest.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/ChannelController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/GuildController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/TestControllers/IpcTestController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/UserController.cs
  extra/admin-api/Spacebar.AdminApi/Spacebar.AdminApi.csproj
  extra/admin-api/Spacebar.GatewayOffload/Controllers/ChannelStatusController.cs
  extra/admin-api/Spacebar.GatewayOffload/Controllers/IdentifyController.cs
  extra/admin-api/Spacebar.GatewayOffload/Controllers/Op14Controller.cs
  extra/admin-api/Spacebar.GatewayOffload/Controllers/Op8Controller.cs
Due: none

nix: fix deps for admin api
  extra/admin-api/outputs.nix
Due: none

nix: fix wrappers
  default.nix
Due: none

identify: use proto toVoiceState
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

gateway offload work
  extra/admin-api/Spacebar.GatewayOffload/Controllers/ChannelStatusController.cs
  extra/admin-api/Spacebar.GatewayOffload/Controllers/Op8Controller.cs
  nix/modules/default/cs/gateway-offload-cs.nix
  nix/testVm/configuration.nix
  src/gateway/opcodes/GuildSync.ts
  src/gateway/opcodes/RequestChannelInfo.ts
  src/gateway/opcodes/RequestChannelStatuses.ts
  src/gateway/opcodes/RequestGuildMembers.ts
  src/gateway/util/Utils.ts
  src/util/config/types/OffloadConfiguration.ts
  src/util/util/Decorators.ts
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
