Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

more async io
  src/api/routes/connections/index.ts
  src/cdn/routes/embed.ts
Due: eslint, prettier --write

prettier: ignore schemaExclusions.json
  .prettierignore
  scripts/schemaExclusions.json
Due: none

Implement widget
  assets/public/widget.html
  src/api/Server.ts
  src/api/routes/guilds/#guild_id/widget.json.ts
Due: eslint, prettier --write

Widget improvements
  assets/public/widget.html
  src/api/routes/guilds/#guild_id/widget.json.ts
Due: eslint, prettier --write

Fix widget
  assets/public/widget.html
  src/api/routes/guilds/#guild_id/widget.json.ts
Due: eslint, prettier --write

No alt text for avatars
  assets/public/widget.html
Due: none

DM bot Fix
  assets/openapi.json
  assets/schemas.json
  src/api/routes/users/@me/channels.ts
  src/schemas/uncategorised/DmChannelCreateSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

apparently it didn't get moved lol
  assets/openapi.json
  assets/schemas.json
Due: none

Fix online member count
  src/api/routes/guilds/#guild_id/widget.json.ts
Due: eslint, prettier --write

Commit evil (set process names)
  src/api/start.ts
  src/cdn/start.ts
  src/gateway/start.ts
  src/util/util/lambert-server/Server.ts
  src/webrtc/start.ts
Due: eslint, prettier --write

Forgot about bundle
  src/bundle/Server.ts
Due: eslint, prettier --write

Bump widget idle time to 5 minutes
  src/api/routes/guilds/#guild_id/widget.json.ts
Due: eslint, prettier --write

Filter widget channels by type, implement rudimentary cache, mark cache as immutable
  src/api/routes/guilds/#guild_id/widget.json.ts
Due: eslint, prettier --write

Fix import
  src/api/routes/guilds/#guild_id/widget.json.ts
Due: eslint, prettier --write

Fix widget
  assets/public/widget.html
Due: none

Widget: sort users by id
  src/api/routes/guilds/#guild_id/widget.json.ts
Due: eslint, prettier --write

Shields
  package-lock.json
  package.json
  src/api/middlewares/Authentication.ts
  src/api/routes/guilds/#guild_id/shield.svg.ts
Due: eslint, prettier --write

Add forgotten asset
  assets/icon_white.png
Due: none

Update readme
  README.md
Due: none

fix invite API slightly
  src/api/routes/invites/index.ts
  src/util/entities/Invite.ts
Due: eslint, prettier --write

Fix docker
  extra/admin-api/outputs.nix
Due: none

Set low cache-control headers for static pages
  src/api/Server.ts
Due: eslint, prettier --write

Add server name config option for use in client redirects
  src/util/config/types/GeneralConfiguration.ts
  src/util/util/Config.ts
Due: eslint, prettier --write

feild error fixes
  src/util/util/FieldError.ts
Due: eslint, prettier --write

Drop sqlite3 by default
  package-lock.json
  package.json
  src/util/util/Database.ts
Due: eslint, prettier --write

No s3 support by default
  package-lock.json
  package.json
  src/cdn/util/S3Storage.ts
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Consistent imports and instructions for email
  src/util/util/email/clients/MailGunEmailClient.ts
  src/util/util/email/clients/MailJetEmailClient.ts
  src/util/util/email/clients/SMTPEmailClient.ts
  src/util/util/email/clients/SendGridEmailClient.ts
Due: eslint, prettier --write

WIP C# stuff
  extra/admin-api/DiscordEmojiConverter/DiscordEmojiConverter.csproj
  extra/admin-api/DiscordEmojiConverter/DiscordEmojiJson.cs
  extra/admin-api/DiscordEmojiConverter/Program.cs
  extra/admin-api/Spacebar.ConfigModel/Class1.cs
  extra/admin-api/Spacebar.ConfigModel/DefaultsConfiguration.cs
  extra/admin-api/Spacebar.ConfigModel/GeneralConfiguration.cs
  extra/admin-api/Spacebar.ConfigModel/LimitsConfiguration.cs
  extra/admin-api/Spacebar.ConfigModel/SecurityConfiguration.cs
  extra/admin-api/Spacebar.ConfigModel/ServerConfiguration.cs
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Pages/ServerConfig.razor
Due: none

WIP nix stuff
  default.nix
  flake.lock
  flake.nix
  nix/modules/default/default.nix
  nix/modules/default/integration-nginx.nix
  nix/modules/default/lib.nix
  nix/tests/test-bundle-starts.nix
Due: none

various crap i was working on
  .idea/inspectionProfiles/Project_Default.xml
  .idea/workspace.xml
  assets/public/invite.html
  src/api/Server.ts
  src/api/routes/channels/#channel_id/attachments.ts
  src/api/routes/guilds/#guild_id/widget.png.ts
  src/api/util/handlers/Message.ts
  src/cdn/Server.ts
  src/cdn/index.ts
  src/cdn/routes/_spacebar/cdn/cloud-attachments.ts
  src/cdn/routes/_spacebar/cdn/upload.ts
  src/cdn/routes/attachments.ts
  src/cdn/routes/avatars.ts
  src/cdn/routes/badge-icons.ts
  src/cdn/routes/embed.ts
  src/cdn/routes/guild-profiles.ts
  src/cdn/routes/role-icons.ts
  src/cdn/util/basicCrdFileRouter.ts
  src/cdn/util/cache.ts
  src/cdn/util/fileStorage.ts
  src/cdn/util/index.ts
  src/cdn/util/mimetypes.ts
  src/cdn/util/s3Storage.ts
  src/cdn/util/storage.ts
  src/util/config/types/CdnConfiguration.ts
Due: eslint, prettier --write

Drop unused Kafka configuration
  src/util/config/Config.ts
  src/util/config/types/KafkaConfiguration.ts
  src/util/config/types/index.ts
Due: eslint, prettier --write

Drop unused metrics configuration
  src/util/config/Config.ts
  src/util/config/types/MetricsConfiguration.ts
  src/util/config/types/index.ts
Due: eslint, prettier --write

C#: db config model
  extra/admin-api/Spacebar.ConfigModel/Config.cs
  extra/admin-api/Spacebar.ConfigModel/DefaultsConfiguration.cs
  extra/admin-api/Spacebar.ConfigModel/LimitsConfiguration.cs
  extra/admin-api/Spacebar.ConfigModel/SecurityConfiguration.cs
  extra/admin-api/Spacebar.ConfigModel/ServerConfiguration.cs
Due: none

Fix endpoint public splitting
  src/api/Server.ts
  src/api/routes/policies/instance/domains.ts
Due: eslint, prettier --write

prettier
  src/util/interfaces/Event.ts
  src/util/util/index.ts
Due: eslint, prettier --write

Ignore empty ASN type/ID in register
  src/api/routes/auth/register.ts
Due: eslint, prettier --write
