Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

More tests
  extra/admin-api/Interop/Spacebar.Interop.Authentication/deps.json
  extra/admin-api/Models/Spacebar.Models.Api/TypingResponse.cs
  extra/admin-api/Spacebar.Cdn.Worker/DiscordImageResizeService.cs
  extra/admin-api/Spacebar.Cdn.Worker/Program.cs
  extra/admin-api/Tests/Spacebar.Tests/Spacebar.Tests.csproj
  extra/admin-api/Tests/Spacebar.Tests/Tests/ChannelTests.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/DMTests.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/GuildTests.cs
  extra/admin-api/Utilities/Spacebar.Sdk/Core/SpacebarClient.cs
  extra/admin-api/Utilities/Spacebar.Sdk/Spacebar.Sdk.csproj
  scripts/validateImports.cs
Due: none

Publish LazyRequest typescript attempt, partial C# impl
  extra/admin-api/Interop/Spacebar.Interop.Authentication/SpacebarAuthenticationService.cs
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
  extra/admin-api/Spacebar.Offload/Spacebar.Offload.http
  extra/admin-api/Spacebar.Offload/appsettings.Development.json
  extra/admin-api/Spacebar.Offload/http-client.private.env.json
  src/gateway/opcodes/LazyRequest.ts
  src/get-member-list.ts
Due: eslint, prettier --write

Get basic member list working in offload
  extra/admin-api/Interop/Spacebar.Interop.Replication.Abstractions/ReplicationMessage.cs
  extra/admin-api/Models/Spacebar.Models.Gateway/GuildMemberListUpdate.cs
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
  src/get-member-list.ts
Due: eslint, prettier --write

Use stopwatch for LazyRequest, clean up imports, remove unused code
  src/gateway/opcodes/LazyRequest.ts
Due: eslint, prettier --write

LazyRequest: support offload
  src/gateway/opcodes/LazyRequest.ts
Due: eslint, prettier --write

Close: use session as predicate rather than session_id due to early init
  src/gateway/events/Close.ts
Due: eslint, prettier --write

Member list kinda works now?
  .gitignore
  extra/admin-api/DataMappings/Spacebar.DataMappings.Generic/Member.cs
  extra/admin-api/DataMappings/Spacebar.DataMappings.Generic/User.cs
  extra/admin-api/Models/Spacebar.Models.Gateway/GuildMemberListUpdate.cs
  extra/admin-api/Models/Spacebar.Models.Gateway/LazyRequest.cs
  extra/admin-api/Models/Spacebar.Models.Generic/Member.cs
  extra/admin-api/Models/Spacebar.Models.Generic/User.cs
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
  extra/admin-api/Spacebar.Offload/Extensions/MurmurHash3.cs
  src/gateway/util/Utils.ts
Due: eslint, prettier --write

Include presence in op14 response
  extra/admin-api/DataMappings/Spacebar.DataMappings.Generic/Member.cs
  extra/admin-api/DataMappings/Spacebar.DataMappings.Generic/Session.cs
  extra/admin-api/DataMappings/Spacebar.DataMappings.Generic/User.cs
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
  extra/admin-api/Spacebar.Offload/Extensions/Db/UserExtensions.cs
Due: none

Serialize null properties
  extra/admin-api/Spacebar.Offload/Program.cs
Due: none

Fix compile errors
  extra/admin-api/Spacebar.Offload/Controllers/Op12Controller.cs
  extra/admin-api/Spacebar.Offload/Controllers/Op8Controller.cs
Due: none

Op14: remove intermediary class
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
Due: none

Op14: Handle ranges, in theory
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
Due: none

Op14: always query sessions...
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
Due: none

Gateway offload: gracefully fall back to TS code on failure
  src/gateway/opcodes/GuildSync.ts
  src/gateway/opcodes/LazyRequest.ts
  src/gateway/opcodes/RequestChannelInfo.ts
  src/gateway/opcodes/RequestChannelStatuses.ts
  src/gateway/opcodes/RequestGuildMembers.ts
  src/gateway/util/Utils.ts
Due: eslint, prettier --write

Op14: return offline presence for users with no sessions
  extra/admin-api/DataMappings/Spacebar.DataMappings.Generic/Member.cs
Due: none

Op14: fix offline query by mandating that *all* sessions must be offline
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
Due: none

Op14: handle serialisation logic for member to include presence
  extra/admin-api/Models/Spacebar.Models.Generic/Member.cs
Due: none

Op14: abstract base query for members by group
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
Due: none

op14: add todo to reduce data sent
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
Due: none

op14: deduplicate group adding code
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
Due: none

op14: dont account for roles when including offline members
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
Due: none

Include online session count in member list logs
  extra/admin-api/Spacebar.Offload/Controllers/Op14Controller.cs
Due: none

fix: add `expiry` field to polls in message handling
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

fix: assign id to poll answers
  assets/openapi.json
  assets/schemas.json
  src/api/util/handlers/Message.ts
  src/schemas/api/messages/Polls.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

refactor: group message poll checks under one if
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

fix: poll answer id should never be 0
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

feat: add voting route
  assets/openapi.json
  assets/schemas.json
  src/api/routes/channels/#channel_id/polls/#poll_id/answers/@me.ts
  src/schemas/api/messages/Polls.ts
  src/util/util/Constants.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

feat: set `me_voted` for poll messages
  src/api/routes/channels/#channel_id/messages/index.ts
Due: eslint, prettier --write

fix: forbid poll editing/creating in non-text channels
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/util/util/Constants.ts
Due: eslint, prettier --write

feat: add route to get voters for an answer
  src/api/routes/channels/#channel_id/polls/#poll_id/answers/#answer_id.ts
Due: eslint, prettier --write

feat: add route to expire a poll
  assets/openapi.json
  src/api/routes/channels/#channel_id/polls/#poll_id/expire.ts
  src/util/util/Constants.ts
Due: eslint, prettier --write

feat: send a `MESSAGE_UPDATE` event on manual poll expire
  src/api/routes/channels/#channel_id/polls/#poll_id/expire.ts
Due: eslint, prettier --write

feat: send vote poll events
  src/api/routes/channels/#channel_id/polls/#poll_id/answers/@me.ts
  src/util/interfaces/Event.ts
Due: eslint, prettier --write

fix: don't send loop over not voted answers
  src/api/routes/channels/#channel_id/polls/#poll_id/answers/@me.ts
Due: eslint, prettier --write

fix: check for poll answer limit
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

check opts not message
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
