Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Handle deleted users
  src/util/dtos/DmChannelDTO.ts
Due: eslint, prettier --write

Handle deleted users (gateway)
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Add Railway deployment configuration
  Dockerfile
  RAILWAY.md
  railway.json
Due: none

Integrating original commit c671db2
  src/api/routes/users/@me/delete.ts
Due: eslint, prettier --write

Fix for the BUG "All users show online status 24/7" plus 5s to allow clients to reconnect
  src/gateway/events/Close.ts
Due: eslint, prettier --write

cdn fsck fix test
  extra/admin-api/Utilities/Spacebar.Cdn.Fsck/FsckService.cs
Due: none

Update message component type to match upstream
  src/schemas/api/messages/Components.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Admin API work
  extra/admin-api/Spacebar.AdminApi/Controllers/ChannelController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/DiscoveryController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/GuildController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/TestControllers/EmptyDmsController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/UserController.cs
  extra/admin-api/Spacebar.AdminApi/Spacebar.AdminApi.http
  extra/admin-api/Spacebar.AdminApi/appsettings.Development.json
Due: none

C# deps
  extra/admin-api/.idea/.idea.SpacebarAdminAPI/.idea/sqldialects.xml
  extra/admin-api/Interop/Spacebar.Interop.Authentication.AspNetCore/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Authentication/Spacebar.Interop.Authentication.csproj
  extra/admin-api/Interop/Spacebar.Interop.Authentication/SpacebarAuthenticationService.cs
  extra/admin-api/Interop/Spacebar.Interop.Authentication/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Abstractions/FilesystemFileSource.cs
  extra/admin-api/Models/Spacebar.Models.AdminApi/ForceJoinRequest.cs
  extra/admin-api/Models/Spacebar.Models.Gateway/deps.json
  extra/admin-api/Spacebar.Cdn/deps.json
  extra/admin-api/Utilities/Spacebar.Cdn.Fsck/deps.json
  extra/admin-api/Utilities/Spacebar.CleanSettingsRows/deps.json
Due: none

UAPI work
  extra/admin-api/Spacebar.UApi/Controllers/GuildTemplatesController.cs
  extra/admin-api/Spacebar.UApi/Program.cs
  extra/admin-api/Spacebar.UApi/Services/UApiConfiguration.cs
  extra/admin-api/Spacebar.UApi/appsettings.Development.json
  extra/admin-api/Spacebar.UApi/deps.json
  extra/admin-api/outputs.nix
  nix/modules/default/cs/uapi.nix
  nix/modules/default/default.nix
Due: none

nix: use separate derivation for npm deps
  default.nix
  flake.nix
  node-modules.nix
Due: none

nix: clean up default.nix
  default.nix
Due: none

webrtc package by default
  .dockerignore
  .github/workflows/build-docker.yml
  extra/admin-api/outputs.nix
  node-modules.nix
  package-lock.json
  package.json
  src/webrtc/util/MediaServer.ts
Due: eslint, prettier --write

Fix deps for admin api
  extra/admin-api/Spacebar.AdminApi/deps.json
Due: none

C# deps updates
  extra/admin-api/DataMappings/Spacebar.DataMappings.Generic/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Authentication.AspNetCore/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Authentication/Spacebar.Interop.Authentication.csproj
  extra/admin-api/Interop/Spacebar.Interop.Authentication/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Signing/Spacebar.Interop.Cdn.Signing.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/Spacebar.Interop.Replication.RabbitMq.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/Spacebar.Interop.Replication.UnixSocket.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/deps.json
  extra/admin-api/Models/Spacebar.Models.AdminApi/DiscoverableGuildModel.cs
  extra/admin-api/Models/Spacebar.Models.Db/Contexts/SpacebarDbContext.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Channel.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Guild.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Tag.cs
  extra/admin-api/Models/Spacebar.Models.Db/Spacebar.Models.Db.csproj
  extra/admin-api/Models/Spacebar.Models.Db/deps.json
  extra/admin-api/Models/Spacebar.Models.Gateway/Spacebar.Models.Gateway.csproj
  extra/admin-api/Models/Spacebar.Models.Gateway/deps.json
  extra/admin-api/Spacebar.AdminApi/Spacebar.AdminApi.csproj
  extra/admin-api/Spacebar.AdminApi/deps.json
  extra/admin-api/Spacebar.Cdn/Spacebar.Cdn.csproj
  extra/admin-api/Spacebar.Cdn/deps.json
  extra/admin-api/Spacebar.GatewayOffload/Spacebar.GatewayOffload.csproj
  extra/admin-api/Spacebar.GatewayOffload/deps.json
  extra/admin-api/Spacebar.UApi/Spacebar.UApi.csproj
  extra/admin-api/Spacebar.UApi/deps.json
  extra/admin-api/Utilities/ConfigTest/ConfigTest.csproj
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Spacebar.AdminApi.TestClient.csproj
  extra/admin-api/Utilities/Spacebar.Cdn.Fsck/Spacebar.Cdn.Fsck.csproj
  extra/admin-api/Utilities/Spacebar.Cdn.Fsck/deps.json
  extra/admin-api/Utilities/Spacebar.Cdn.Migration/Spacebar.Cdn.Migration.csproj
  extra/admin-api/Utilities/Spacebar.CleanSettingsRows/Spacebar.CleanSettingsRows.csproj
  extra/admin-api/Utilities/Spacebar.CleanSettingsRows/deps.json
  extra/admin-api/outputs.nix
  flake.lock
Due: none

Admin API discovery stuff
  extra/admin-api/Models/Spacebar.Models.AdminApi/DiscoverableGuildModel.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/DiscoveryController.cs
  extra/admin-api/Spacebar.AdminApi/Spacebar.AdminApi.http
  extra/admin-api/update-deps.cs
Due: none

fix uapi deps
  extra/admin-api/Spacebar.UApi/Spacebar.UApi.csproj
  extra/admin-api/Spacebar.UApi/deps.json
  extra/admin-api/outputs.nix
  extra/admin-api/update-deps-Spacebar-UApi
  extra/admin-api/update-deps.cs
Due: none

Guild discovery admin ui
  extra/admin-api/Spacebar.AdminApi/Controllers/DiscoveryController.cs
  extra/admin-api/Spacebar.AdminApi/Program.cs
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Pages/GuildDiscovery.razor
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Pages/GuildDiscovery.razor.css
Due: none

Update VoiceStateUpdate.ts
  src/gateway/opcodes/VoiceStateUpdate.ts
Due: eslint, prettier --write

setTimeout from 5s to 10s
  src/gateway/events/Close.ts
Due: eslint, prettier --write

Auto creating DM channel after adding a friend
  src/api/routes/users/@me/relationships.ts
Due: eslint, prettier --write

feat(gateway): make heartbeat interval and timeout configurable via env vars
  src/gateway/events/Connection.ts
  src/gateway/util/Heartbeat.ts
Due: eslint, prettier --write

Add support for attachment:// urls
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Fix undefined access
  src/util/entities/Message.ts
Due: eslint, prettier --write

added clean_data to places after a member is created but not constructed to allow proper json creation.
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/util/handlers/Message.ts
  src/util/entities/User.ts
Due: eslint, prettier --write

Bring it closer to in line with the docs
  src/util/util/Permissions.ts
Due: eslint, prettier --write

sticker impl
  src/api/routes/stickers/#sticker_id/index.ts
  src/util/entities/Guild.ts
Due: eslint, prettier --write

Inline pointless const for session_id
  src/gateway/events/Connection.ts
Due: eslint, prettier --write

Log creation of new sessions, fix some comments
  src/gateway/opcodes/Identify.ts
  src/util/util/Token.ts
Due: eslint, prettier --write

Added the @JsonRemoveEmpty decrorator to most of the fields in the message class. Hopefully shouldn't break anything.
  src/util/entities/Message.ts
Due: eslint, prettier --write

actually backpropagate session id in identify to ws object
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Maybe fix an issue elisa had with discord.py
  src/util/entities/Channel.ts
Due: eslint, prettier --write

oooops
  src/gateway/events/Close.ts
Due: eslint, prettier --write

temp hack: re-create sessiosn that went missing
  src/util/util/Token.ts
Due: eslint, prettier --write

temp hack: maybe set the right did
  src/util/util/Token.ts
Due: eslint, prettier --write

temp hack: ...and dont forget to save it
  src/util/util/Token.ts
Due: eslint, prettier --write

fix build error (on windows) related to translation.ts
  src/api/middlewares/Translation.ts
Due: eslint, prettier --write

gateway should not crash for clients that send Op 37 with missing channel ranges, instead ignore
  src/gateway/opcodes/LazyRequest.ts
Due: eslint, prettier --write

[cherry/1518] Webhooks: respect thread_id parameter
  src/api/util/handlers/Webhook.ts
Due: eslint, prettier --write

[rel/1518] Interaction failure reason enum, add missing copyright headers
  src/api/routes/interactions/index.ts
  src/schemas/api/bots/ApplicationCommandCreateSchema.ts
  src/schemas/api/bots/ApplicationCommandSchema.ts
  src/schemas/api/bots/InteractionCallbackSchema.ts
  src/schemas/api/bots/InteractionCallbackType.ts
  src/schemas/api/bots/InteractionCreateSchema.ts
  src/schemas/api/bots/InteractionFailureReason.ts
  src/schemas/api/bots/InteractionSchema.ts
  src/schemas/api/bots/SendableApplicationCommandDataSchema.ts
  src/schemas/api/bots/SendableMessageComponentDataSchema.ts
  src/schemas/api/bots/SendableModalSubmitDataSchema.ts
  src/schemas/api/bots/index.ts
  src/util/interfaces/Event.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
