Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

feat: log webhook create/update/delete
  src/api/routes/channels/#channel_id/webhooks.ts
  src/api/routes/webhooks/#webhook_id/index.ts
Due: eslint, prettier --write

feat: log message delete/pin
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/pins/index.ts
Due: eslint, prettier --write

Include error message on generic websocket error
  src/gateway/events/Message.ts
Due: eslint, prettier --write

chore: revert migration and create new one, and use optional fields instead of "or null"
  src/database/entities/AuditLog.ts
  src/database/migration/postgres/1788342958702-AuditLogsByGuild.ts
  src/database/migration/postgres/1788380367585-RemoveAuditLogTargetFK.ts
  src/database/migration/postgres/1788453445281-FixAuditLogGuildFK.ts
  src/schemas/api/guilds/AuditLog.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

feat: log role creations, add target channel
  src/api/routes/guilds/#guild_id/audit-logs.ts
  src/api/routes/guilds/#guild_id/channels.ts
  src/api/routes/guilds/#guild_id/roles/index.ts
Due: eslint, prettier --write

feat: record channel, role and webhook changes
  src/api/routes/channels/#channel_id/index.ts
  src/api/routes/guilds/#guild_id/roles/#role_id/index.ts
  src/api/routes/webhooks/#webhook_id/index.ts
  src/database/entities/AuditLog.ts
Due: eslint, prettier --write

feat: log more events (guild, member, emoji, overwrite, prune, bulk delete)
  src/api/routes/channels/#channel_id/messages/bulk-delete.ts
  src/api/routes/channels/#channel_id/permissions.ts
  src/api/routes/guilds/#guild_id/emojis.ts
  src/api/routes/guilds/#guild_id/index.ts
  src/api/routes/guilds/#guild_id/members/#member_id/index.ts
  src/api/routes/guilds/#guild_id/members/#member_id/roles/#role_id/index.ts
  src/api/routes/guilds/#guild_id/prune.ts
  src/database/entities/AuditLog.ts
  src/schemas/api/guilds/AuditLog.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

feat: populate ban/pin options and fill response arrays
  src/api/routes/channels/#channel_id/messages/pins/index.ts
  src/api/routes/guilds/#guild_id/audit-logs.ts
  src/api/routes/guilds/#guild_id/bans.ts
Due: eslint, prettier --write

chore: those who know
  src/database/entities/AuditLog.ts
Due: eslint, prettier --write

Fix some models serialization
  extra/admin-api/Models/Spacebar.Models.Gateway/GuildMemberListUpdate.cs
  extra/admin-api/Models/Spacebar.Models.Generic/Member.cs
Due: none

Logout method in SDK, make gateway errors more verbose
  extra/admin-api/Utilities/Spacebar.Sdk/Core/SpacebarClient.cs
Due: none

client: gateway retry, session remove
  extra/admin-api/Utilities/Spacebar.Client/Components/ClientManager.razor
  extra/admin-api/Utilities/Spacebar.Client/Components/SessionManager.razor
  extra/admin-api/Utilities/Spacebar.Client/Spacebar.Client.csproj
  extra/admin-api/Utilities/Spacebar.Client/WebCore/SessionStore.cs
Due: none

NixOS: disable stopIfChanged
  nix/lib/makeServerTsService.nix
Due: none

Add failing tests for custom presence
  extra/admin-api/Tests/Spacebar.Tests/Tests/PresenceTests.cs
Due: none

chore: Update activity schema
  src/schemas/uncategorised/ActivitySchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add float/base64str types for ajv
  assets/openapi.json
  assets/schemas.json
  src/schemas/HelperTypes.ts
  src/schemas/Validator.ts
  src/schemas/api/messages/Attachments.ts
  src/schemas/uncategorised/MessageCreateSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix ajv init w/ formats
  assets/openapi.json
  assets/schemas.json
  src/schemas/HelperTypes.ts
  src/schemas/Validator.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Include presence for member object
  extra/admin-api/Models/Spacebar.Models.Generic/Member.cs
Due: none

fix: reject empty guild id in oauth authorization
  assets/schemas.json
  src/api/routes/oauth2/authorize.ts
  src/schemas/uncategorised/ApplicationAuthorizeSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

meow
  src/schemas/gateway/IdentifySchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Invite schemas?
  assets/openapi.json
  assets/schemas.json
  extra/admin-api/Spacebar.Offload/Program.cs
  src/api/routes/channels/#channel_id/invites.ts
  src/api/routes/guilds/#guild_id/invites.ts
  src/database/entities/Guild.ts
  src/database/entities/Invite.ts
  src/schemas/api/guilds/GuildProfileResponse.ts
  src/schemas/api/guilds/Invite.ts
  src/schemas/responses/TypedResponses.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Better relationship schemas
  assets/openapi.json
  assets/schemas.json
  scripts/schema.js
  scripts/schemaExclusions.json
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/teams.ts
  src/api/routes/users/#user_id/profile.ts
  src/api/routes/users/#user_id/relationships.ts
  src/api/routes/users/@me/relationships.ts
  src/database/entities/Relationship.ts
  src/database/migration/postgres/1789700696383-RelationshipSpamAndDateMeta.ts
  src/gateway/listener/listener.ts
  src/gateway/opcodes/Identify.ts
  src/schemas/api/users/RelationshipSchemas.ts
  src/schemas/api/users/index.ts
  src/schemas/responses/TeamListResponse.ts
  src/schemas/responses/UserRelationsResponse.ts
  src/schemas/responses/UserRelationshipsResponse.ts
  src/schemas/responses/index.ts
  src/schemas/uncategorised/RelationshipPatchSchema.ts
  src/schemas/uncategorised/RelationshipPostSchema.ts
  src/schemas/uncategorised/RelationshipPutSchema.ts
  src/schemas/uncategorised/index.ts
  src/util/interfaces/Event.ts
  src/util/util/Presence.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Include more fields on relationships
  src/api/routes/users/@me/relationships.ts
Due: eslint, prettier --write

Initial avatar decorations table layout
  src/database/entities/AvatarDecoration.ts
  src/database/migration/postgres/1789832735103-AvatarDecorationsInitial.ts
Due: eslint, prettier --write

Initial avatar decorations work
  assets/openapi.json
  assets/schemas.json
  src/api/routes_toplevel/_spacebar/api/v1/avatar_decorations/#id/index.ts
  src/api/routes_toplevel/_spacebar/api/v1/avatar_decorations/index.ts
  src/database/entities/AvatarDecoration.ts
  src/database/entities/index.ts
  src/schemas/api/spacebar/AvatarDecorations.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Export spacebar specific schemas
  assets/openapi.json
  assets/schemas.json
  src/database/entities/AvatarDecoration.ts
  src/schemas/api/spacebar/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Some more avatar decorations work
  assets/openapi.json
  assets/schemas.json
  src/api/routes/users/@me/index.ts
  src/api/routes_toplevel/_spacebar/api/v1/avatar_decorations/#id/index.ts
  src/api/routes_toplevel/_spacebar/api/v1/avatar_decorations/index.ts
  src/database/entities/AvatarDecoration.ts
  src/database/entities/User.ts
  src/database/migration/postgres/1790152636577-AvatarDecorationsRelation.ts
  src/schemas/api/users/User.ts
  src/schemas/uncategorised/UserModifySchema.ts
  src/schemas/uncategorised/UserProfileModifySchema.ts
  src/schemas/uncategorised/index.ts
  src/util/util/Constants.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix type annotations for UserProfileModifySchema
  assets/openapi.json
  assets/schemas.json
  src/schemas/api/users/User.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Allow wait query to accept '1' as true
  src/api/util/handlers/Webhook.ts
Due: eslint, prettier --write

Gateway: use provided HTTP server if one is passed
  src/gateway/Server.ts
Due: eslint, prettier --write

Fix member list pagination cutting off members with multiple roles
  src/gateway/opcodes/LazyRequest.ts
  src/gateway/opcodes/RequestGuildMembers.ts
Due: eslint, prettier --write

CDN: handle modern avatar decorations routes
  src/cdn/routes/app-assets.ts
  src/cdn/routes/app-icons.ts
  src/cdn/routes/attachments.ts
  src/cdn/routes/avatars.ts
  src/cdn/routes/badge-icons.ts
  src/cdn/routes/banners.ts
  src/cdn/routes/channel-icons.ts
  src/cdn/routes/discover-splashes.ts
  src/cdn/routes/discovery-splashes.ts
  src/cdn/routes/embed.ts
  src/cdn/routes/emojis.ts
  src/cdn/routes/guild-profiles.ts
  src/cdn/routes/icons.ts
  src/cdn/routes/media/v1/collectibles-shop.ts
  src/cdn/routes/role-icons.ts
  src/cdn/routes/splashes.ts
  src/cdn/routes/stickers.ts
  src/cdn/routes/team-icons.ts
  src/cdn/util/index.ts
  src/cdn/util/setCacheControl.ts
Due: eslint, prettier --write

Update Attachment.ts
  src/database/entities/Attachment.ts
Due: eslint, prettier --write

Update attachments.ts
  src/cdn/routes/attachments.ts
Due: eslint, prettier --write

CDN: handle uploading collectibles
  src/cdn/routes/app-assets.ts
  src/cdn/routes/media/v1/collectibles-shop.ts
  src/cdn/util/index.ts
  src/cdn/util/middlewares.ts
Due: eslint, prettier --write

CDN: lazy migrate attachments
  src/cdn/routes/attachments.ts
Due: eslint, prettier --write

fix: make `<Guild>.toDiscoverableGuild()` work regardless of guild's flags
  src/database/entities/Guild.ts
Due: eslint, prettier --write

fix: check if guild is discoverable in sticker guild endpoint
  src/api/routes/stickers/#sticker_id/index.ts
Due: eslint, prettier --write
