Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

Narrow some types from object to JsonObject in C# models
  extra/admin-api/DataMappings/Spacebar.DataMappings.Generic/Member.cs
  extra/admin-api/DataMappings/Spacebar.DataMappings.Generic/User.cs
  extra/admin-api/Models/Spacebar.Models.Generic/Member.cs
  extra/admin-api/Models/Spacebar.Models.Generic/User.cs
Due: none

Remove a log that bothered me
  src/util/connections/ConnectionLoader.ts
Due: eslint, prettier --write

Basic gif integration manager, port tenor search to that
  assets/openapi.json
  assets/schemas.json
  src/api/Server.ts
  src/api/routes/gifs/search.ts
  src/api/routes/gifs/trending-gifs.ts
  src/schemas/responses/Tenor.ts
  src/util/util/Gifs.ts
  src/util/util/integrations/gifProviders/GifProviderManager.ts
  src/util/util/integrations/gifProviders/IGifProvider.ts
  src/util/util/integrations/gifProviders/providers/TenorGifProvider.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Clean up
  src/api/routes/gifs/search.ts
  src/util/util/integrations/gifProviders/providers/TenorGifProvider.ts
Due: eslint, prettier --write

Migrate trending gifs to providers
  assets/openapi.json
  assets/schemas.json
  extra/admin-api/Models/Spacebar.Models.Api/GifResponse.cs
  extra/admin-api/Tests/Spacebar.Tests/Tests/GifTests.cs
  src/api/routes/gifs/trending.ts
  src/schemas/responses/Tenor.ts
  src/util/util/integrations/gifProviders/IGifProvider.ts
  src/util/util/integrations/gifProviders/providers/TenorGifProvider.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Rename some more schemas
  assets/openapi.json
  assets/schemas.json
  src/api/routes/gifs/trending.ts
  src/schemas/responses/Tenor.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Some cleanup with gifs
  assets/openapi.json
  assets/schemas.json
  extra/admin-api/Tests/Spacebar.Tests/Tests/GifTests.cs
  package.json
  src/api/Server.ts
  src/api/routes/gifs/search.ts
  src/api/routes/gifs/trending-gifs.ts
  src/api/routes/gifs/trending.ts
  src/integrations/gifs/GifProviderManager.ts
  src/integrations/gifs/IGifProvider.ts
  src/integrations/gifs/index.ts
  src/integrations/gifs/providers/TenorGifProvider.ts
  src/schemas/api/integrations/Gifs.ts
  src/schemas/api/integrations/index.ts
  src/schemas/responses/index.ts
  src/util/util/Gifs.ts
  src/util/util/index.ts
  tsconfig.json
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add SingletonCache, implement caching for tenor
  src/extensions/SingletonCache.ts
  src/extensions/Sleep.ts
  src/integrations/gifs/providers/TenorGifProvider.ts
Due: eslint, prettier --write

Convert tenor to klipy outright since tenor shut down last night...
  extra/admin-api/Tests/Spacebar.Tests/Tests/GifTests.cs
  src/integrations/gifs/providers/KlipyGifProvider.ts
  src/integrations/gifs/providers/TenorGifProvider.ts
  src/util/config/Config.ts
  src/util/config/types/IntegrationConfiguration.ts
  src/util/config/types/index.ts
Due: eslint, prettier --write

KlipyTrendingResponse -> KlipyGifsResponse
  src/integrations/gifs/providers/KlipyGifProvider.ts
Due: eslint, prettier --write

Fix type for trending gifs query
  src/api/routes/gifs/trending.ts
Due: eslint, prettier --write

Switch default GIF provider to klipy since tenor is no longer supported
  src/api/routes/gifs/search.ts
  src/api/routes/gifs/trending-gifs.ts
  src/api/routes/gifs/trending.ts
Due: eslint, prettier --write

Add endpoint to get enabled/known gif providers
  src/api/Server.ts
  src/integrations/gifs/GifProviderManager.ts
Due: eslint, prettier --write

Nix: handle klipy api key path
  nix/lib/secrets.nix
  src/util/util/Config.ts
Due: eslint, prettier --write

Clean up nix test vm to more closely match prod
  nix/testVm/configuration.nix
Due: none

nix test vm: expose 8443->443
  nix/testVm/vm.nix
Due: none

Nix: run node tests in unwrapped checkPhase
  default.nix
Due: none

Nix: package spacebar SDK and tests
  extra/admin-api/Interop/Spacebar.Interop.Authentication/Spacebar.Interop.Authentication.csproj
  extra/admin-api/Tests/Spacebar.Tests/Spacebar.Tests.csproj
  extra/admin-api/Tests/Spacebar.Tests/deps.json
  extra/admin-api/Utilities/Spacebar.Sdk/Spacebar.Sdk.csproj
  extra/admin-api/Utilities/Spacebar.Sdk/deps.json
  extra/admin-api/outputs.nix
Due: none

fix(migration): Ensure that only ONE server can attempt to apply migrations at a time
  src/database/Database.ts
Due: eslint, prettier --write

docs(database) Fix inaccurate description of lock in comment
  src/database/Database.ts
Due: eslint, prettier --write

Introduce JwtKeypairManager, JwtKeypair classes
  src/extensions/SingletonCache.ts
  src/util/util/Token.ts
  src/util/util/WebAuthn.ts
Due: eslint, prettier --write

Run integration tests in nix tests
  nix/tests/test-bundle-starts.nix
Due: none

Update nix flake locks
  extra/admin-api/flake.lock
  flake.lock
Due: none

Clean up tests integration
  nix/tests/test-bundle-starts.nix
Due: none

Add JWT keypair init hooks to various services
  src/api/Server.ts
  src/gateway/Server.ts
  src/webrtc/Server.ts
Due: eslint, prettier --write

Constrain test usernames to 32 chars
  extra/admin-api/Tests/Spacebar.Tests/Abstractions/UserAbstraction.cs
  extra/admin-api/Tests/Spacebar.Tests/Fixtures/TestFixture.cs
  extra/admin-api/Tests/Spacebar.Tests/Spacebar.Tests.csproj
  extra/admin-api/Tests/Spacebar.Tests/Tests/AuthenticationTests.cs
Due: none

Add manager class for JWT keypair to have a startup hook to avoid a race condition
  src/util/util/Token.ts
Due: eslint, prettier --write

API: expose assets/logo.png
  src/api/Server.ts
Due: eslint, prettier --write
