Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Refactor Identify : batch guild queries and parallelise relation fetches
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/RequestGuildMembers.ts
  src/gateway/util/Utils.ts
Due: eslint, prettier --write

Fix indentation slightly in cs outputs.nix
  extra/admin-api/outputs.nix
Due: none

Update deps.json for cdn-cs
  extra/admin-api/Spacebar.Cdn/deps.json
Due: none

Fix tests, maybe fix VM config
  nix/testVm/vm.nix
  nix/tests/test-bundle-starts.nix
Due: none

Factor out some lib stuff from nix
  nix/lib/makeServerTsService.nix
  nix/lib/mkEndpoint.nix
  nix/lib/options.nix
  nix/lib/secrets.nix
  nix/modules/default/cs/admin-api.nix
  nix/modules/default/cs/cdn-cs.nix
  nix/modules/default/cs/offload-cs.nix
  nix/modules/default/cs/uapi.nix
  nix/modules/default/default.nix
  nix/modules/default/gw-sharding.nix
  nix/modules/default/integration-nginx.nix
  nix/modules/default/options-subtypes/mkEndpointOptions.nix
  nix/modules/default/pion-sfu.nix
  nix/testVm/configuration.nix
Due: none

Honor passed packNupkg value
  extra/admin-api/outputs.nix
Due: none

Add nix packages for all worker variants
  extra/admin-api/Spacebar.Cdn.Worker/Program.cs
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q16-HDRI.AnyCPU.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q16-HDRI.aarch64.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q16-HDRI.x86_64.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q16.AnyCPU.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q16.aarch64.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q16.x86_64.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q8.AnyCPU.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q8.aarch64.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q8.x86_64.json
  extra/admin-api/Spacebar.Cdn.Worker/outputs.nix
  extra/admin-api/Spacebar.Cdn/CdnConfiguration.cs
  nix/lib/buildSpacebarDotnetModule.nix
Due: none

Clean up update script
  extra/admin-api/Spacebar.Cdn.Worker/outputs.nix
  extra/admin-api/update-deps.cs
Due: none

Fix cdn worker docker iamges
  extra/admin-api/Spacebar.Cdn.Worker/outputs.nix
Due: none

Fix buildSpacebarDotentModule
  nix/lib/buildSpacebarDotnetModule.nix
Due: none

Switch over all c# stuff to use buildSpacebarDotnetModule
  extra/admin-api/outputs.nix
Due: none

C# outputs.nix: factor out a let..in to outer level
  extra/admin-api/outputs.nix
Due: none

Functioning CDN-CS workers
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Abstractions/FilesystemFileSource.cs
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Abstractions/IFileSource.cs
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Abstractions/ProxyFileSource.cs
  extra/admin-api/Spacebar.Cdn.Worker/DiscordImageResizeService.cs
  extra/admin-api/Spacebar.Cdn.Worker/Program.cs
  extra/admin-api/Spacebar.Cdn.Worker/emmatests.sh
  extra/admin-api/Spacebar.Cdn.Worker/outputs.nix
  extra/admin-api/Spacebar.Cdn.Worker/test.html
  extra/admin-api/Spacebar.Cdn/Mimes.cs
  nix/lib/buildSpacebarDotnetModule.nix
Due: none

Cdn cs worker cleanup
  extra/admin-api/Spacebar.Cdn.Worker/Controllers/ImageResizeController.cs
  extra/admin-api/Spacebar.Cdn.Worker/DiscordImageResizeService.cs
  extra/admin-api/Spacebar.Cdn.Worker/Mimes.cs
  extra/admin-api/Spacebar.Cdn.Worker/Program.cs
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16-HDRI.AnyCPU.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16-HDRI.aarch64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16-HDRI.x86_64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16.AnyCPU.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16.aarch64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16.x86_64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q8.AnyCPU.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q8.aarch64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q8.x86_64.csproj
  extra/admin-api/Spacebar.Cdn/CdnConfiguration.cs
  extra/admin-api/Spacebar.Cdn/Controllers/GetImageController.cs
  extra/admin-api/Spacebar.Cdn/Controllers/StaticAssetController.cs
  extra/admin-api/Spacebar.Cdn/Controllers/UserController.cs
  extra/admin-api/Spacebar.Cdn/Mimes.cs
  extra/admin-api/Spacebar.Cdn/Program.cs
Due: none

CDN-CS: it works!!!
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Abstractions/LruFileCache.cs
  extra/admin-api/Spacebar.Cdn.Worker/DiscordImageResizeService.cs
  extra/admin-api/Spacebar.Cdn.Worker/Program.cs
  extra/admin-api/Spacebar.Cdn.Worker/appsettings.json
  extra/admin-api/Spacebar.Cdn.Worker/test.html
  extra/admin-api/Spacebar.Cdn/Controllers/GetImageController.cs
  extra/admin-api/Spacebar.Cdn/Controllers/ImagesAndStickersController.cs
  extra/admin-api/Spacebar.Cdn/Controllers/Internal/GetImageController.cs
  extra/admin-api/Spacebar.Cdn/Controllers/StaticAssetController.cs
  extra/admin-api/Spacebar.Cdn/Controllers/UserController.cs
  extra/admin-api/Spacebar.Cdn/Extensions/FileSourceExtensions.cs
  extra/admin-api/Spacebar.Cdn/Program.cs
  extra/admin-api/Spacebar.Cdn/Services/CdnWorkerService.cs
  extra/admin-api/Spacebar.Cdn/Services/DiscordImageResizeService.cs
  extra/admin-api/Spacebar.Cdn/Services/SpacebarCdnWorkerConfiguration.cs
  extra/admin-api/Spacebar.Cdn/gcc-lib-lib
  extra/admin-api/Spacebar.Cdn/opencl-lib
  extra/admin-api/Spacebar.Cdn/result-lib
Due: none

CDN-CS: support passing a bin path as cdn worker -> forks a new proc
  extra/admin-api/Spacebar.Cdn.Worker/DiscordImageResizeService.cs
  extra/admin-api/Spacebar.Cdn.Worker/Program.cs
  extra/admin-api/Spacebar.Cdn/Controllers/ImagesAndStickersController.cs
  extra/admin-api/Spacebar.Cdn/Controllers/StaticAssetController.cs
  extra/admin-api/Spacebar.Cdn/Controllers/UserController.cs
  extra/admin-api/Spacebar.Cdn/Services/CdnWorkerService.cs
Due: none

nix: dont set __nugetDeps if nugetDeps isnt set
  nix/lib/buildSpacebarDotnetModule.nix
Due: none

Align Message object with API spec
  src/util/entities/Message.ts
Due: eslint, prettier --write

Added the @JsonRemoveEmpty decrorator to most of the fields in the message class. Hopefully shouldn't break anything.
  src/util/entities/Message.ts
Due: eslint, prettier --write

Fix Typing event so that it returns undefined rather than null Added clean data to message entity so it respects json tags.
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/typing.ts
  src/util/entities/Channel.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write

Maybe fix an issue elisa had with discord.py
  src/util/entities/Channel.ts
Due: eslint, prettier --write

Update nix
  default.nix
  flake.lock
  flake.nix
Due: none

Emit presence on identify, support deduped gw events
  assets/openapi.json
  assets/schemas.json
  src/gateway/listener/listener.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/util/SessionUtils.ts
  src/gateway/util/WebSocket.ts
  src/util/interfaces/Event.ts
  src/util/interfaces/Status.ts
Due: eslint, prettier --write

testvm: unwrap vmVariant settings
  nix/testVm/vm.nix
Due: none

status p1
  package-lock.json
  src/api/routes/users/@me/settings-proto/1.ts
  src/api/routes/users/@me/settings.ts
  src/gateway/events/Close.ts
  src/gateway/listener/listener.ts
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/LazyRequest.ts
  src/gateway/opcodes/PresenceUpdate.ts
  src/gateway/opcodes/RequestGuildMembers.ts
  src/gateway/util/SessionUtils.ts
  src/schemas/uncategorised/ActivitySchema.ts
  src/util/entities/Session.ts
  src/util/interfaces/Status.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

shemas
  assets/openapi.json
  assets/schemas.json
Due: none

prep for presence
  src/gateway/opcodes/Identify.ts
  src/gateway/util/SessionUtils.ts
  src/util/util/Presence.ts
Due: eslint, prettier --write

Mark users as offline when gateway connection is closed
  src/gateway/events/Close.ts
Due: eslint, prettier --write

Time out presence
  src/gateway/opcodes/GuildSync.ts
  src/gateway/opcodes/LazyRequest.ts
  src/util/util/index.ts
Due: eslint, prettier --write

Presence disconnect works!
  src/gateway/events/Close.ts
  src/gateway/events/Connection.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write

Make presence clear async, clean up temp session code
  src/api/util/utility/EmbedHandlers.ts
  src/gateway/util/Utils.ts
  src/util/util/Token.ts
  src/util/util/extensions/index.ts
Due: eslint, prettier --write

Fix op19 property not found error
  src/gateway/opcodes/StreamDelete.ts
Due: eslint, prettier --write

Explicitly specify status for temp sessions, since that suddenly broke...?
  src/gateway/opcodes/Identify.ts
Due: eslint, prettier --write

Add media1.tenor.com explicitly as image handler
  src/api/util/utility/EmbedHandlers.ts
Due: eslint, prettier --write

int8 primary keys
  src/util/entities/BaseClass.ts
  src/util/migration/postgres/1760622755599-ReconcileMigrationAttempts.ts
  src/util/migration/postgres/1776178642000-Int8PrimaryKeys.ts
  src/util/migration/postgres/1776178642001-Int8PrimaryKeysApplications.ts
  src/util/migration/postgres/1776178642002-Int8PrimaryKeysChannels.ts
  src/util/migration/postgres/1776178642003-Int8PrimaryKeysGuilds.ts
  src/util/migration/postgres/1776178642004-Int8PrimaryKeysInstanceBans.ts
  src/util/migration/postgres/1776178642005-Int8PrimaryKeysMessages.ts
  src/util/migration/postgres/1776178642006-Int8PrimaryKeysRoles.ts
  src/util/migration/postgres/1776178642007-Int8PrimaryKeysStickerPacks.ts
  src/util/migration/postgres/1776178642008-Int8PrimaryKeysStickers.ts
  src/util/migration/postgres/1776178642009-Int8PrimaryKeysStreams.ts
  src/util/migration/postgres/1776178642010-Int8PrimaryKeysTeams.ts
  src/util/migration/postgres/1776178642011-Int8PrimaryKeysTemplates.ts
  src/util/migration/postgres/1776178642012-Int8PrimaryKeysUsers.ts
  src/util/migration/postgres/1776178642013-Int8PrimaryKeysWebhooks.ts
Due: eslint, prettier --write

re-reconcile migrations
  nix/tests/test-bundle-starts.nix
  src/util/migration/postgres/177617864199-ReconcileMigrationsAgain.ts
Due: eslint, prettier --write

jsonb
  src/util/entities/Application.ts
  src/util/entities/ApplicationCommand.ts
  src/util/entities/AuditLog.ts
  src/util/entities/AutomodRule.ts
  src/util/entities/Categories.ts
  src/util/entities/Channel.ts
  src/util/entities/ConnectedAccount.ts
  src/util/entities/EmbedCache.ts
  src/util/entities/Guild.ts
  src/util/entities/Member.ts
  src/util/entities/Message.ts
  src/util/entities/Role.ts
  src/util/entities/Session.ts
  src/util/entities/Template.ts
  src/util/entities/ThreadMember.ts
  src/util/entities/User.ts
  src/util/entities/UserSettings.ts
  src/util/migration/postgres/1776204936000-JsonbForJsonColumns.ts
Due: eslint, prettier --write

No attachment URLs
  src/util/entities/Attachment.ts
  src/util/migration/postgres/1776270346000-DontStoreAttachmentUrls.ts
Due: eslint, prettier --write

Fix attachments
  assets/openapi.json
  assets/schemas.json
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/routes/channels/#channel_id/webhooks.ts
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
  src/api/util/handlers/Message.ts
  src/api/util/handlers/Webhook.ts
  src/cdn/Server.ts
  src/cdn/routes/attachments.ts
  src/schemas/api/messages/Attachments.ts
  src/schemas/api/messages/Message.ts
  src/util/entities/Attachment.ts
  src/util/entities/Message.ts
  src/util/util/Config.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix attachments 2
  src/cdn/Server.ts
  src/cdn/routes/attachments.ts
  src/webrtc/Server.ts
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
