Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Normalize embed footers at validation boundary
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/webhooks/#webhook_id/#token/index.ts
  src/api/util/handlers/route.ts
  src/api/util/utility/EmbedPayload.test.ts
  src/api/util/utility/EmbedPayload.ts
Due: eslint, prettier --write

Format files checked by style CI
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Cover invite unique route reuse
  assets/openapi.json
  src/api/routes/channels/#channel_id/invites.ts
  src/api/tests/ChannelInviteCreate.test.ts
  src/api/util/handlers/ChannelInviteCreate.ts
Due: eslint, prettier --write

Format files for style check
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Format style check offenders
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Format files checked by CI
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Address experiment review suggestions
  assets/openapi.json
  assets/schemas.json
  src/api/middlewares/Authentication.test.ts
  src/api/routes/experiments.ts
  src/api/util/utility/Experiments.test.ts
  src/api/util/utility/Experiments.ts
  src/schemas/responses/ExperimentsResponse.ts
  src/util/util/ExperimentRoutes.test.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Cover explicit non-unique invite reuse
  src/api/tests/ChannelInviteCreate.test.ts
Due: eslint, prettier --write

Regenerate experiment schema assets
  assets/openapi.json
  assets/schemas.json
Due: none

Normalize attachment CDN URLs before signing
  src/util/entities/Attachment.ts
  src/util/entities/Message.test.ts
Due: eslint, prettier --write

Model null webhook identity overrides
  assets/openapi.json
  assets/schemas.json
  src/schemas/Validator.test.ts
  src/schemas/uncategorised/WebhookExecuteSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Fix email normalization edge cases
  .lintstagedrc.mjs
  assets/openapi.json
  assets/schemas.json
  eslint.config.mjs
  src/api/routes/auth/register.ts
  src/api/routes/users/@me/index.ts
  src/cdn/util/Storage.ts
  src/schemas/uncategorised/UserModifySchema.test.ts
  src/schemas/uncategorised/UserModifySchema.ts
  src/util/entities/User.ts
  src/util/migration/postgres/1777999500000-NormalizeUserEmails.ts
  src/util/util/EmailAddress.test.ts
  src/util/util/EmailAddress.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Security: make sure the security key matches up with the user by last TOTP ticket
  src/api/routes/auth/mfa/webauthn.ts
Due: eslint, prettier --write

Security: ensure that a bot user is infact a bot when requesting a token reset
  src/api/routes/applications/#application_id/bot/index.ts
Due: eslint, prettier --write

Security: check bot ownership when resetting token
  src/api/routes/applications/#application_id/bot/index.ts
  src/util/entities/Application.ts
Due: eslint, prettier --write

Security: fix TOTP verification logic for bot update/delete
  src/api/routes/applications/#application_id/index.ts
Due: eslint, prettier --write

Security: fix TOTP verification logic for bot token reset
  src/api/routes/applications/#application_id/bot/index.ts
Due: eslint, prettier --write

Security/code safety: include all user properties on query by default
  src/util/entities/User.ts
Due: eslint, prettier --write

Security: validate token for webhook update
  src/api/routes/webhooks/#webhook_id/#token/index.ts
Due: eslint, prettier --write

Security: Dont allow other users to manage application commands
  src/api/routes/applications/#application_id/commands/#command_id/index.ts
  src/api/routes/applications/#application_id/commands/index.ts
Due: eslint, prettier --write

Security: stash changes
  src/api/routes/channels/preload-messages.ts
Due: eslint, prettier --write

Fix WebRTC server config import
  src/webrtc/Server.ts
Due: eslint, prettier --write

Regenerate API schema assets
  assets/openapi.json
  assets/schemas.json
Due: none

Update README.md
  README.md
Due: none

feat: monorepo apps + packages
  REPORT.md
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/index.ts
  apps/admin-dashboard/tsconfig.json
  eslint.config.mjs
  node-modules.nix
  package-lock.json
  package.json
  packages/automatic-reverse-engineering/package.json
  packages/automatic-reverse-engineering/src/index.ts
  packages/automatic-reverse-engineering/tsconfig.json
  tsconfig.base.json
Due: eslint, prettier --write

Record PR creation blocker
  docs/admin-api-next-dashboard-progress.md
Due: none

Update CS models
  extra/admin-api/Models/Spacebar.Models.Api/LoginRequest.cs
  extra/admin-api/Models/Spacebar.Models.Api/Spacebar.Models.Api.csproj
  extra/admin-api/Models/Spacebar.Models.Api/SpacebarApiError.cs
  extra/admin-api/Models/Spacebar.Models.Gateway/GatewayPayload.cs
  extra/admin-api/Models/Spacebar.Models.Gateway/IdentifyRequest.cs
  extra/admin-api/Models/Spacebar.Models.Gateway/QoSPayload.cs
  extra/admin-api/Models/Spacebar.Models.Gateway/ReadyResponse.cs
  extra/admin-api/Models/Spacebar.Models.Generic/Channel.cs
  extra/admin-api/Models/Spacebar.Models.Generic/Emoji.cs
  extra/admin-api/Models/Spacebar.Models.Generic/Guild.cs
  extra/admin-api/Models/Spacebar.Models.Generic/Role.cs
  extra/admin-api/Models/Spacebar.Models.Generic/Sticker.cs
  extra/admin-api/Spacebar.Offload/Controllers/IdentifyController.cs
Due: none

Offload compile fix
  extra/admin-api/Spacebar.UApi/Services/PermissionService.cs
Due: none

client: basic message parsing, gateway listening
  extra/admin-api/Models/Spacebar.Models.Gateway/GatewayPayload.cs
  extra/admin-api/Models/Spacebar.Models.Generic/Channel.cs
  extra/admin-api/Models/Spacebar.Models.Generic/Message.cs
  extra/admin-api/Utilities/Spacebar.Client/Components/ChannelMessageList.razor
  extra/admin-api/Utilities/Spacebar.Client/Components/ChannelMessageList.razor.cs
  extra/admin-api/Utilities/Spacebar.Client/Components/ChannelMessageList.razor.css
  extra/admin-api/Utilities/Spacebar.Client/Components/ClientManager.razor
  extra/admin-api/Utilities/Spacebar.Client/Core/MarkdownEnumerator.cs
  extra/admin-api/Utilities/Spacebar.Client/Core/SpacebarClient.cs
  extra/admin-api/Utilities/Spacebar.Client/Layout/NavMenu.razor
  extra/admin-api/Utilities/Spacebar.Client/Layout/NavMenu.razor.css
  extra/admin-api/Utilities/Spacebar.Client/Pages/Channels/@me.razor
  extra/admin-api/Utilities/Spacebar.Client/Pages/Channels/GuildChannel.razor
  extra/admin-api/Utilities/Spacebar.Client/Pages/Channels/GuildChannel.razor.css
  extra/admin-api/Utilities/Spacebar.Client/Pages/Discovery/GuildDiscovery.razor
  extra/admin-api/Utilities/Spacebar.Client/Spacebar.Client.csproj
  extra/admin-api/Utilities/Spacebar.Client/WebCore/Client/ClientStateContainer.cs
  extra/admin-api/Utilities/Spacebar.Client/wwwroot/css/app.css
Due: none

Side tangent: fix bug in cdn-cs nix module
  nix/modules/default/cs/cdn-cs.nix
Due: none

Update nix inputs
  flake.lock
Due: none

LazyRequest: dont pseudo-force users to be online
  src/gateway/opcodes/LazyRequest.ts
Due: eslint, prettier --write

npm minor package updates
  package-lock.json
  package.json
Due: none

npm: update amqplib to 2.0.1
  package-lock.json
  package.json
Due: none

npm: update node-zstd to 2.0.0
  package-lock.json
  package.json
Due: none

cs: bump Magick.NET
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16-HDRI.AnyCPU.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16-HDRI.aarch64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16-HDRI.x86_64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16.AnyCPU.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16.aarch64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16.x86_64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q8.AnyCPU.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q8.aarch64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q8.x86_64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q16-HDRI.AnyCPU.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q16-HDRI.aarch64.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q16-HDRI.x86_64.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q16.AnyCPU.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q16.aarch64.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q16.x86_64.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q8.AnyCPU.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q8.aarch64.json
  extra/admin-api/Spacebar.Cdn.Worker/deps.Q8.x86_64.json
  extra/admin-api/Spacebar.Cdn/Spacebar.Cdn.csproj
  extra/admin-api/Spacebar.Cdn/deps.json
Due: none

cs: bump microsoft/system.*
  extra/admin-api/Interop/Spacebar.Interop.Authentication.AspNetCore/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Authentication/Spacebar.Interop.Authentication.csproj
  extra/admin-api/Interop/Spacebar.Interop.Authentication/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Signing/Spacebar.Interop.Cdn.Signing.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/Spacebar.Interop.Replication.RabbitMq.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/Spacebar.Interop.Replication.UnixSocket.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/deps.json
  extra/admin-api/Spacebar.AdminApi/Spacebar.AdminApi.csproj
  extra/admin-api/Spacebar.AdminApi/deps.json
  extra/admin-api/Spacebar.Cdn/Spacebar.Cdn.csproj
  extra/admin-api/Spacebar.Cdn/deps.json
  extra/admin-api/Spacebar.Offload/Spacebar.Offload.csproj
  extra/admin-api/Spacebar.Offload/deps.json
  extra/admin-api/Spacebar.UApi/Spacebar.UApi.csproj
  extra/admin-api/Spacebar.UApi/deps.json
  extra/admin-api/Utilities/ConfigTest/ConfigTest.csproj
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Spacebar.AdminApi.TestClient.csproj
  extra/admin-api/Utilities/Spacebar.Cdn.Fsck/Spacebar.Cdn.Fsck.csproj
  extra/admin-api/Utilities/Spacebar.Cdn.Fsck/deps.json
  extra/admin-api/Utilities/Spacebar.Cdn.Migration/Spacebar.Cdn.Migration.csproj
  extra/admin-api/Utilities/Spacebar.CleanSettingsRows/Spacebar.CleanSettingsRows.csproj
  extra/admin-api/Utilities/Spacebar.CleanSettingsRows/deps.json
  extra/admin-api/Utilities/Spacebar.Client/Spacebar.Client.csproj
Due: none

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
