Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

fix minor error
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Message*Event: as->satisfies (WIP)
  src/api/routes/channels/#channel_id/greet.ts
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/messages/pins/index.ts
  src/api/routes/channels/#channel_id/pins.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/util/handlers/Message.ts
  src/api/util/handlers/Webhook.ts
  src/util/entities/Member.ts
Due: eslint, prettier --write

Message toJSON -> null vs undefined
  src/util/entities/Message.ts
Due: eslint, prettier --write

More schema stuff
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/schemas/uncategorised/MessageCreateSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add WIP PublicMessage schema
  src/schemas/api/messages/Message.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

make spacebar compile again
  src/api/routes/channels/#channel_id/greet.ts
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/messages/pins/index.ts
  src/api/routes/channels/#channel_id/pins.ts
  src/api/routes/channels/#channel_id/post-data.ts
  src/api/routes/channels/#channel_id/threads.ts
  src/api/routes/channels/preload-messages.ts
  src/api/util/handlers/Message.ts
  src/api/util/handlers/Webhook.ts
  src/util/entities/Member.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write

lambert-server: remove global namespace pollution for server
  src/util/util/lambert-server/Server.ts
Due: eslint, prettier --write

Fix schemas script
  assets/openapi.json
  assets/schemas.json
  package.json
  scripts/schema.js
  src/util/util/Database.ts
Due: eslint, prettier --write

lambert-server: dont overwrite express Router class
  src/util/util/lambert-server/Server.ts
Due: eslint, prettier --write

lambert-server: Remove unused jsonBody option
  src/api/Server.ts
  src/util/util/lambert-server/Server.ts
Due: eslint, prettier --write

lambert-server: Remove unused errorHandler option
  src/api/Server.ts
Due: eslint, prettier --write

add channel status migration
  src/util/migration/postgres/1772404321401-ChannelStatus.ts
Due: eslint, prettier --write

Fix voice state query trying to include member
  src/api/routes/guilds/#guild_id/voice-states/#user_id/index.ts
  src/gateway/events/Close.ts
  src/gateway/opcodes/StreamDelete.ts
Due: eslint, prettier --write

init modal stuffs
  src/api/routes/interactions/#interaction_id/#interaction_token/callback.ts
  src/api/routes/interactions/index.ts
  src/api/util/handlers/route.ts
  src/schemas/api/bots/InteractionCallbackSchema.ts
  src/schemas/api/bots/InteractionCreateSchema.ts
  src/schemas/api/messages/Components.ts
  src/util/entities/Application.ts
  src/util/entities/Message.ts
  src/util/imports/Interactions.ts
  src/util/interfaces/Event.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Embeds: factor out from postMessage
  src/api/util/handlers/Message.ts
  src/api/util/utility/EmbedHandlers.ts
  src/util/config/types/subconfigurations/limits/MessageLimits.ts
  src/util/entities/EmbedCache.ts
  src/util/migration/postgres/1772404321402-EmbedCacheCreatedAt.ts
  src/util/util/extensions/Array.ts
Due: eslint, prettier --write

User: use single query to determine taken discriminators
  src/util/entities/User.ts
Due: eslint, prettier --write

EmbedHandlers: use youtube handler for youtube music, use OrmUtils.mergeDeep for request options
  src/api/util/utility/EmbedHandlers.ts
Due: eslint, prettier --write

EmbedHandlers: more configuration for embeds, switch to storing all returned embeds
  nix/testVm/configuration.nix
  src/api/util/utility/EmbedHandlers.ts
  src/util/config/Config.ts
  src/util/config/types/EmbedConfiguration.ts
  src/util/config/types/index.ts
  src/util/migration/postgres/1772404321403-EmbedCacheMultiEmbed.ts
Due: eslint, prettier --write

Maybe fix an issue elisa had with discord.py
  src/util/entities/Channel.ts
Due: eslint, prettier --write

Added the @JsonRemoveEmpty decrorator to most of the fields in the message class. Hopefully shouldn't break anything.
  src/util/entities/Message.ts
Due: eslint, prettier --write

Refactor Identify : batch guild queries and parallelise relation fetches
  src/gateway/opcodes/Identify.ts
  src/gateway/opcodes/RequestGuildMembers.ts
  src/gateway/util/Utils.ts
Due: eslint, prettier --write

Add indexes to instance bans table
  src/util/migration/postgres/1772404321404-InstanceBansIndexes.ts
Due: eslint, prettier --write

use arrayGroupBy, include group time in query traces
  src/gateway/opcodes/Identify.ts
  src/util/util/ElapsedTime.ts
Due: eslint, prettier --write

indexes on instance_bans lookup columns
  src/util/entities/InstanceBan.ts
Due: eslint, prettier --write

revert the change on ElapsedTime read-only class
  src/gateway/opcodes/Identify.ts
  src/util/util/ElapsedTime.ts
Due: eslint, prettier --write

Attempt to switch test vm to musl?
  default.nix
  flake.lock
  nix/modules/default/cs/admin-api.nix
  nix/modules/default/cs/assert-has-connection-string.nix
  nix/modules/default/cs/cdn-cs.nix
  nix/modules/default/cs/offload-cs.nix
  nix/modules/default/cs/shared-config.nix
  nix/modules/default/cs/uapi.nix
  nix/modules/default/pion-sfu.nix
  nix/testVm/configuration.nix
  nix/testVm/default.nix
  nix/testVm/musl.nix
  nix/testVm/perlless.nix
  nix/testVm/vm.nix
Due: none

Update nix inputs
  flake.lock
Due: none

Update node packages
  package-lock.json
  package.json
Due: none

Update schemas
  assets/openapi.json
  assets/schemas.json
Due: none

Re-scaffold C# db
  extra/admin-api/Models/Spacebar.Models.Db/Contexts/SpacebarDbContext.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Channel.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/EmbedCache.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Member.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/ReadState.cs
  extra/admin-api/Models/Spacebar.Models.Db/Spacebar.Models.Db.csproj
  extra/admin-api/Models/Spacebar.Models.Db/deps.json
  extra/admin-api/scaffold-db
Due: none

Update dotnet deps
  extra/admin-api/DataMappings/Spacebar.DataMappings.Generic/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Authentication.AspNetCore/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Authentication/Spacebar.Interop.Authentication.csproj
  extra/admin-api/Interop/Spacebar.Interop.Authentication/deps.json
  extra/admin-api/Spacebar.AdminApi/deps.json
  extra/admin-api/Spacebar.Cdn/Spacebar.Cdn.csproj
  extra/admin-api/Spacebar.Cdn/deps.json
  extra/admin-api/Spacebar.Offload/deps.json
  extra/admin-api/Spacebar.UApi/deps.json
  extra/admin-api/Utilities/Spacebar.Cdn.Fsck/deps.json
  extra/admin-api/Utilities/Spacebar.CleanSettingsRows/deps.json
  extra/admin-api/outputs.nix
Due: none

Fix Typing event so that it returns undefined rather than null Added clean data to message entity so it respects json tags.
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/typing.ts
  src/util/entities/Channel.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write

Align Message object with API spec
  src/util/entities/Message.ts
Due: eslint, prettier --write

fix: make github webhooks embeds have `rich` type
  src/api/routes/webhooks/#webhook_id/#token/github.ts
Due: eslint, prettier --write

Minor test vm fixes
  nix/testVm/configuration.nix
Due: none

Introduce CDN worker skeleton
  extra/admin-api/Spacebar.Cdn.Worker/Controllers/ImageResizeController.cs
  extra/admin-api/Spacebar.Cdn.Worker/DefaultAvatarRenderer.cs
  extra/admin-api/Spacebar.Cdn.Worker/Mimes.cs
  extra/admin-api/Spacebar.Cdn.Worker/Program.cs
  extra/admin-api/Spacebar.Cdn.Worker/Properties/launchSettings.json
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16-HDRI.AnyCPU.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16-HDRI.aarch64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16-HDRI.x86_64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16.AnyCPU.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16.aarch64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q16.x86_64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q8.AnyCPU.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q8.aarch64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/Spacebar.Cdn.Worker.Q8.x86_64.csproj
  extra/admin-api/Spacebar.Cdn.Worker/appsettings.Development.json
  extra/admin-api/Spacebar.Cdn.Worker/appsettings.json
  extra/admin-api/SpacebarAdminAPI.slnx
  extra/admin-api/update-deps.cs
Due: none

CS-CDN changes from worker stuff
  extra/admin-api/Spacebar.Cdn/Extensions/ImageController.cs
  extra/admin-api/Spacebar.Cdn/Helpers/DefaultAvatarRenderer.cs
  extra/admin-api/Spacebar.Cdn/Mimes.cs
  extra/admin-api/Spacebar.Cdn/Properties/launchSettings.json
  extra/admin-api/Spacebar.Cdn/Spacebar.Cdn.csproj
Due: none
