Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Harden JSON worker pool handling
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
  src/util/util/json/JsonSerializer.test.ts
  src/util/util/json/JsonSerializer.ts
Due: eslint, prettier --write

Fix payment source response schemas
  .lintstagedrc.mjs
  assets/openapi.json
  assets/schemas.json
  eslint.config.mjs
  src/api/routes/users/@me/billing/payment-sources.ts
  src/api/util/utility/PaymentSources.test.ts
  src/api/util/utility/PaymentSources.ts
  src/cdn/util/Storage.ts
  src/schemas/responses/PaymentSourceResponse.test.ts
  src/schemas/responses/PaymentSourceResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Strengthen login MFA sms schema tests
  src/schemas/uncategorised/LoginResponse.test.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Drop unrelated storage formatting drift
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Fix automod response schema refs
  assets/openapi.json
  assets/schemas.json
  src/api/routes/guilds/#guild_id/auto-moderation/rules.ts
  src/schemas/uncategorised/AutomodRuleSchema.test.ts
  src/schemas/uncategorised/AutomodRuleSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Format files flagged by style check
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Tighten modal submit schema and style
  .lintstagedrc.mjs
  assets/openapi.json
  assets/schemas.json
  eslint.config.mjs
  src/cdn/util/Storage.ts
  src/schemas/api/bots/SendableModalSubmitDataSchema.test.ts
  src/schemas/api/bots/SendableModalSubmitDataSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Split automod request and response schemas
  assets/openapi.json
  assets/schemas.json
  src/api/routes/guilds/#guild_id/auto-moderation/rules.ts
  src/schemas/uncategorised/AutomodRuleSchema.test.ts
  src/schemas/uncategorised/AutomodRuleSchema.ts
  src/util/entities/AutomodRule.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Harden discovery category localization migrations
  assets/openapi.json
  scripts/openapi.js
  src/schemas/responses/DiscoveryCategoryResponse.test.ts
  src/util/entities/Categories.ts
  src/util/migration/postgres-initial.ts
  src/util/migration/postgres/1776204936000-JsonbForJsonColumns.ts
  src/util/migration/postgres/1776400000000-CategoryLocalizationsDefault.ts
  src/util/migration/postgres/__tests__/1776204936000-JsonbForJsonColumns.test.ts
  src/util/migration/postgres/__tests__/1776400000000-CategoryLocalizationsDefault.test.ts
  src/util/util/CategoryLocalizations.test.ts
  src/util/util/CategoryLocalizations.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Avoid loading automod creator relation
  src/api/routes/guilds/#guild_id/auto-moderation/rules.ts
Due: eslint, prettier --write

Fix whoami timestamp handling and test coverage
  .lintstagedrc.mjs
  eslint.config.mjs
  src/api/routes/auth/whoami.test.ts
  src/api/routes/auth/whoamiResponse.ts
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Require operators for Admin API authentication
  extra/admin-api/Spacebar.AdminApi/Middleware/AdminAuthenticationFailure.cs
  extra/admin-api/Spacebar.AdminApi/Middleware/AdminAuthenticationPolicy.cs
  extra/admin-api/Spacebar.AdminApi/Middleware/AuthenticationMiddleware.cs
  extra/admin-api/SpacebarAdminAPI.slnx
  extra/admin-api/Tests/Spacebar.AdminApi.Tests/AdminAuthenticationPolicyTests.cs
  extra/admin-api/Tests/Spacebar.AdminApi.Tests/Spacebar.AdminApi.Tests.csproj
Due: none

Type C# channel kinds
  extra/admin-api/Models/Spacebar.Models.Db/Models/Channel.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/ChannelType.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/TestControllers/EmptyDmsController.cs
  extra/admin-api/Spacebar.Offload/Controllers/ChannelStatusController.cs
  extra/admin-api/SpacebarAdminAPI.slnx
  extra/admin-api/Tests/Spacebar.Models.Db.Tests/ChannelTypeTests.cs
  extra/admin-api/Tests/Spacebar.Models.Db.Tests/Spacebar.Models.Db.Tests.csproj
Due: none

Clean up collectibles category schemas
  .lintstagedrc.mjs
  assets/openapi.json
  assets/schemas.json
  eslint.config.mjs
  src/cdn/util/Storage.ts
  src/schemas/responses/CollectiblesCategoriesResponse.test.ts
  src/schemas/responses/CollectiblesCategoriesResponse.ts
  src/schemas/responses/CollectiblesShopResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Allow app bot command management
  src/api/util/utility/ApplicationAuthorization.test.ts
  src/api/util/utility/ApplicationAuthorization.ts
  src/api/util/utility/ApplicationCommands.test.ts
  src/api/util/utility/ApplicationCommands.ts
Due: eslint, prettier --write

Fix guild widget page member count usage
  assets/public/widget.html
  src/api/routes/guilds/GuildWidgetPage.test.ts
  src/schemas/responses/GuildWidgetJsonResponse.test.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add C# email config model
  extra/admin-api/Models/Spacebar.Models.Config/EmailConfiguration.cs
  extra/admin-api/Models/Spacebar.Models.Config/ServerConfiguration.cs
  extra/admin-api/SpacebarAdminAPI.slnx
  extra/admin-api/Tests/Spacebar.Models.Config.Tests/EmailConfigurationTests.cs
  extra/admin-api/Tests/Spacebar.Models.Config.Tests/Spacebar.Models.Config.Tests.csproj
Due: none

Format files flagged by style check
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
  src/schemas/api/guilds/GuildWelcomeScreen.ts
  src/schemas/responses/GuildCreateResponse.test.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Format style workflow files
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Format files required by style check
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

test(auth): harden whoami schema coverage
  src/api/tests/auth/whoami.test.ts
Due: eslint, prettier --write

Parse OpenAPI additionalProperties
  extra/admin-api/SpacebarAdminAPI.slnx
  extra/admin-api/Tests/Spacebar.AdminApi.TestClient.Tests/OpenApiSchemaRefConverterTests.cs
  extra/admin-api/Tests/Spacebar.AdminApi.TestClient.Tests/Spacebar.AdminApi.TestClient.Tests.csproj
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Classes/OpenAPI/OpenAPISchema.cs
Due: none

Strengthen email config model tests
  extra/admin-api/Tests/Spacebar.Models.Config.Tests/EmailConfigurationTests.cs
Due: none

Format files for prettier check
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Narrow hub directory entry type
  .lintstagedrc.mjs
  assets/openapi.json
  assets/schemas.json
  eslint.config.mjs
  src/cdn/util/Storage.ts
  src/schemas/responses/HubDirectoryEntriesResponse.test.ts
  src/schemas/responses/HubDirectoryEntriesResponse.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

test(db): cover channel type relational mapping
  extra/admin-api/Tests/Spacebar.Models.Db.Tests/ChannelTypeTests.cs
Due: none

Cover Admin API auth middleware boundary
  .lintstagedrc.mjs
  eslint.config.mjs
  extra/admin-api/Interop/Spacebar.Interop.Authentication.AspNetCore/ISpacebarAspNetAuthenticationService.cs
  extra/admin-api/Interop/Spacebar.Interop.Authentication.AspNetCore/SpacebarAspNetAuthenticationService.cs
  extra/admin-api/Spacebar.AdminApi/Middleware/AuthenticationMiddleware.cs
  extra/admin-api/Spacebar.AdminApi/Program.cs
  extra/admin-api/Tests/Spacebar.AdminApi.Tests/AuthenticationMiddlewareTests.cs
  extra/admin-api/Tests/Spacebar.AdminApi.Tests/Spacebar.AdminApi.Tests.csproj
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

style: format files flagged by prettier
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Add webhook message routes
  src/api/routes/webhooks/#webhook_id/#token/messages/#message_id/index.ts
  src/api/util/handlers/WebhookMessage.test.ts
  src/api/util/handlers/WebhookMessage.ts
Due: eslint, prettier --write

fix(schema): tighten connection callback schema
  assets/openapi.json
  assets/schemas.json
  scripts/openapi.js
  src/schemas/uncategorised/ConnectionCallbackSchema.test.ts
  src/schemas/uncategorised/ConnectionCallbackSchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

fix(applications): scope owner MFA schemas
  assets/openapi.json
  assets/schemas.json
  src/api/routes/applications/#application_id/bot/index.ts
  src/api/routes/applications/#application_id/index.ts
  src/api/routes/applications/@me.ts
  src/schemas/ApplicationMfaSchema.test.ts
  src/schemas/api/developers/ApplicationOwnerModifySchema.ts
  src/schemas/api/developers/index.ts
  src/schemas/uncategorised/MfaCodeSchema.ts
  src/schemas/uncategorised/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Format style check offenders
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

style: format files checked by CI
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Strengthen OpenAPI additionalProperties tests
  extra/admin-api/Tests/Spacebar.AdminApi.TestClient.Tests/OpenApiSchemaRefConverterTests.cs
Due: none

Format files checked by style CI
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

test(mfa): cover selected totp secret validation
  src/api/util/utility/Totp.test.ts
  src/api/util/utility/Totp.ts
Due: eslint, prettier --write

Prune empty file storage directories
  src/cdn/util/FileStorage.test.ts
  src/cdn/util/FileStorage.ts
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  prettier --write: (any of: *.{j,t}s) or (any of: src/schemas/{*,**/*}.ts)
  tsc -b -v: any of: src/schemas/{*,**/*}.ts
  node scripts/schema.js: any of: src/schemas/{*,**/*}.ts
  node scripts/openapi.js: any of: src/schemas/{*,**/*}.ts
