Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

Update deps minor
  package-lock.json
  package.json
Due: none

Update nix
  flake.lock
Due: none

fix: relationshipsSelf are now actually self
  src/api/routes/users/#user_id/profile.ts
Due: eslint, prettier --write

fix: install sqlite3 for build workflow
  .github/workflows/build.yml
Due: none

fix: add missing config value for tests
  scripts/test.js
Due: eslint, prettier --write

CDN-CS stuff
  .husky/pre-commit
  extra/admin-api/Spacebar.AdminApi.Models/StickerModel.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/Media/StickerController.cs
  extra/admin-api/Spacebar.Cdn/Controllers/GetImageController.cs
  extra/admin-api/Spacebar.Cdn/Controllers/Internal/GetImageController.cs
  extra/admin-api/Spacebar.Cdn/Mimes.cs
  extra/admin-api/Spacebar.Cdn/Program.cs
  extra/admin-api/Spacebar.Cdn/Properties/launchSettings.json
  extra/admin-api/Spacebar.Cdn/Services/DiscordImageResizeService.cs
  extra/admin-api/Spacebar.Cdn/Services/IFileSource.cs
  extra/admin-api/Spacebar.Cdn/Services/LruFileCache.cs
  extra/admin-api/Spacebar.Cdn/Services/PixelArtDetectionService.cs
  extra/admin-api/Spacebar.Cdn/Services/ProxyFileSource.cs
  extra/admin-api/Spacebar.Cdn/Spacebar.Cdn.csproj
  extra/admin-api/Spacebar.Cdn/StreamingHttpClient.cs
  extra/admin-api/Spacebar.Cdn/appsettings.Development.json
  extra/admin-api/Spacebar.Cdn/appsettings.json
  extra/admin-api/Spacebar.Cdn/gcc-lib-lib
  extra/admin-api/Spacebar.Cdn/opencl-lib
  extra/admin-api/Spacebar.Cdn/result-lib
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Pages/Media/StickerCdnTest.razor
  flake.lock
Due: none

Whoami endpoint in api
  assets/openapi.json
  src/api/routes/auth/whoami.ts
Due: eslint, prettier --write

Sync CS db model
  extra/admin-api/Spacebar.Db/Contexts/SpacebarDbContext.cs
  extra/admin-api/Spacebar.Db/Models/Message.cs
  extra/admin-api/Spacebar.Db/Models/Session.cs
  extra/admin-api/Spacebar.Db/Models/User.cs
  extra/admin-api/SpacebarAdminAPI.sln
Due: none

Exclude captcha response schemas, KeySchema
  scripts/schemaExclusions.json
Due: none

Forgot to include assets
  assets/openapi.json
  assets/schemas.json
Due: none

Include request info in errors
  assets/openapi.json
  flake.nix
  src/api/Server.ts
  src/api/middlewares/ErrorHandler.ts
Due: eslint, prettier --write

Support API v10
  src/api/Server.ts
Due: eslint, prettier --write

Gateway close logging for 4002
  src/gateway/events/Connection.ts
  src/gateway/events/Message.ts
Due: eslint, prettier --write

fix: `FieldErrors` function returned array instead of an object
  src/util/util/FieldError.ts
Due: eslint, prettier --write

fest: throw an error if application name is empty
  src/api/routes/applications/#application_id/index.ts
Due: eslint, prettier --write

fest: throw an error if bot name is empty
  assets/openapi.json
  assets/schemas.json
  src/api/routes/applications/#application_id/bot/index.ts
  src/schemas/uncategorised/BotModifySchema.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Actually map all endpoints for getting report menus
  src/api/routes/reporting/menu/index.ts
Due: eslint, prettier --write

Enum for report menu types
  assets/openapi.json
  src/api/routes/reporting/menu.ts
  src/schemas/api/reports/ReportMenu.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add temp reporting menu responses
  assets/openapi.json
  assets/temp_report_menu_responses/application.json
  assets/temp_report_menu_responses/first_dm.json
  assets/temp_report_menu_responses/guild.json
  assets/temp_report_menu_responses/guild_directory_entry.json
  assets/temp_report_menu_responses/guild_discovery.json
  assets/temp_report_menu_responses/guild_scheduled_event.json
  assets/temp_report_menu_responses/message.json
  assets/temp_report_menu_responses/stage_channel.json
  assets/temp_report_menu_responses/user.json
  assets/temp_report_menu_responses/widget.json
  src/api/routes/reporting/menu.ts
  src/schemas/api/reports/ReportMenu.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Make this not use the whole session object
  src/gateway/opcodes/LazyRequest.ts
Due: eslint, prettier --write

fix: return public session instead of private (I hope)
  src/gateway/opcodes/LazyRequest.ts
  src/util/entities/Session.ts
Due: eslint, prettier --write

fix: it should still return private session
  src/gateway/opcodes/LazyRequest.ts
Due: eslint, prettier --write

Add stub POSt report endpoint
  assets/openapi.json
  assets/schemas.json
  src/api/routes/channels/preload-messages.ts
  src/api/routes/reporting/index.ts
  src/api/routes/reporting/menu.ts
  src/schemas/api/reports/CreateReport.ts
  src/util/entities/BaseClass.ts
  src/util/entities/ReportMenu.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Setting myself up for failure
  extra/admin-api/Interop/Spacebar.Interop.Replication.Abstractions/ISpacebarReplication.cs
  extra/admin-api/Interop/Spacebar.Interop.Replication.Abstractions/ReplicationMessage.cs
  extra/admin-api/Interop/Spacebar.Interop.Replication.Abstractions/Spacebar.Interop.Replication.Abstractions.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.Abstractions/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/RabbitMQConfiguration.cs
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/RabbitMQService.cs
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/RabbitMqSpacebarReplication.cs
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/Spacebar.Interop.Replication.RabbitMq.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/Spacebar.Interop.Replication.UnixSocket.csproj
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/UnixSocketSpacebarReplication.cs
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/deps.json
  extra/admin-api/Models/Spacebar.Models.Db/Spacebar.Models.Db.csproj
  extra/admin-api/Spacebar.AdminApi/Controllers/ConfigController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/GuildController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/Media/StickerController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/Media/UserMediaController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/UserController.cs
  extra/admin-api/Spacebar.AdminApi/Program.cs
  extra/admin-api/Spacebar.AdminApi/Spacebar.AdminApi.csproj
  extra/admin-api/Spacebar.Cdn/Spacebar.Cdn.csproj
  extra/admin-api/Spacebar.Cdn/deps.json
  extra/admin-api/SpacebarAdminAPI.sln
  extra/admin-api/Utilities/ConfigTest/ConfigTest.csproj
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/Spacebar.AdminApi.TestClient.csproj
  extra/admin-api/Utilities/Spacebar.CleanSettingsRows/Spacebar.CleanSettingsRows.csproj
  extra/admin-api/Utilities/Spacebar.RabbitMqUtilities/Spacebar.RabbitMqUtilities.csproj
  extra/admin-api/outputs.nix
  extra/admin-api/update-deps.cs
Due: none

Update nix nuget deps
  extra/admin-api/Interop/Spacebar.Interop.Replication.Abstractions/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Replication.RabbitMq/deps.json
  extra/admin-api/Interop/Spacebar.Interop.Replication.UnixSocket/deps.json
  extra/admin-api/Utilities/Spacebar.CleanSettingsRows/deps.json
Due: none

Add explicit dep on EFCore to resolve compiler error
  extra/admin-api/Interop/Spacebar.Interop.Replication.Abstractions/deps.json
  extra/admin-api/Models/Spacebar.Models.Db/Spacebar.Models.Db.csproj
Due: none

Update nix deps
  extra/admin-api/Models/Spacebar.Models.Db/deps.json
  extra/admin-api/Spacebar.AdminApi/deps.json
  extra/admin-api/Spacebar.Cdn/deps.json
  extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/deps.json
  extra/admin-api/Utilities/Spacebar.CleanSettingsRows/deps.json
  extra/admin-api/update-deps.cs
Due: none

Nix test VM, migrations helper script
  default.nix
  flake.nix
  nix/modules/default/default.nix
  nix/testVm/configuration.nix
  nix/testVm/default.nix
  nix/testVm/perlless.nix
  nix/testVm/postgres.nix
  nix/testVm/vm.nix
  src/apply-migrations.ts
Due: eslint, prettier --write

Fix NixOS tests, allow building via tsgo
  .gitignore
  assets/openapi.json
  default.nix
  flake.lock
  nix/modules/default/default.nix
  nix/tests/test-bundle-starts.nix
  nix/trimNodeModules.sh
  package-lock.json
  package.json
  src/apply-migrations.ts
Due: eslint, prettier --write

tsconfig: set srcDir, tsBuildInfoFile
  package.json
  tsconfig.json
Due: none

oops, left some .orig files in ajv patch
  patches/ajv+8.17.1.patch
Due: none

fix validations
  src/api/routes/reporting/index.ts
Due: eslint, prettier --write

Quick and dirty util scripts, trim node modules
  default.nix
  nix/trimNodeModules.sh
  scripts/countDirs.cs
  scripts/countExts.cs
Due: none

Fix tsconfig for tsgo
  tsconfig.json
Due: none

update user modify for unique usernames
  assets/locales/en/common.json
  src/api/routes/users/@me/index.ts
  src/schemas/uncategorised/UserModifySchema.ts
  src/util/config/types/UsersConfiguration.ts
  src/util/config/types/subconfigurations/limits/UserLimits.ts
  src/util/entities/User.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

lint
  src/util/entities/User.ts
Due: eslint, prettier --write

remove display_name
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/guilds/#guild_id/bans.ts
  src/api/routes/guilds/#guild_id/messages/search.ts
  src/api/routes/oauth2/authorize.ts
  src/api/routes/users/#user_id/relationships.ts
  src/connections/Discord/index.ts
  src/schemas/responses/GuildBansResponse.ts
  src/schemas/responses/GuildWidgetJsonResponse.ts
  src/schemas/responses/UserRelationsResponse.ts
  src/util/dtos/UserDTO.ts
  src/util/entities/User.ts
  src/util/util/email/index.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js
