Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

Rework status enum schema
  assets/openapi.json
  assets/schemas.json
  src/gateway/opcodes/PresenceUpdate.ts
  src/schemas/uncategorised/ActivitySchema.ts
  src/util/entities/Session.ts
  src/util/interfaces/Event.ts
  src/util/interfaces/Status.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Bundle tests: dont use gateway offload
  nix/tests/test-bundle-starts.nix
Due: none

Add internal status order enum
  assets/openapi.json
  assets/schemas.json
  src/gateway/opcodes/PresenceUpdate.ts
  src/schemas/uncategorised/ActivitySchema.ts
  src/util/interfaces/Status.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

test VM: expose pion port
  nix/testVm/vm.nix
Due: none

Fix patches
  patches/ajv+8.20.0.patch
  patches/typescript-json-schema+0.67.4.patch
Due: none

Update npm packages, patches
  package-lock.json
  package.json
  src/connections/Spotify/index.ts
  src/connections/Twitch/index.ts
Due: eslint, prettier --write

Fix github workflows
  .github/workflows/build-docker.yml
  .github/workflows/build.yml
Due: none

Clean up unused binding in cdn-cs nix module
  nix/modules/default/cs/cdn-cs.nix
Due: none

Side tangent: fix prettier complaints
  .lintstagedrc.mjs
  eslint.config.mjs
  src/cdn/util/Storage.ts
Due: eslint, prettier --write

Clean up erlpack types
  src/api/Server.ts
  src/gateway/events/Connection.ts
  src/gateway/events/Message.ts
  src/gateway/util/Send.ts
  src/util/imports/Erlpack.ts
  src/util/imports/index.ts
Due: eslint, prettier --write

*/start.ts: unify import order for module-alias and dotenv
  src/api/start.ts
  src/apply-migrations.ts
  src/bundle/start.ts
  src/cdn/start.ts
  src/gateway/start.ts
  src/webrtc/start.ts
Due: eslint, prettier --write

Fix some copyright headers
  src/util/util/extensions/index.ts
Due: eslint, prettier --write

Clean up unused imports in IPC code
  src/util/util/ipc/listener/BaseEventListener.ts
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/writer/BaseEventWriter.ts
Due: eslint, prettier --write

Split unix socket IPC to separate files, add interfaces
  src/util/util/Event.ts
  src/util/util/index.ts
  src/util/util/ipc/Event.ts
  src/util/util/ipc/listener/BaseEventListener.ts
  src/util/util/ipc/listener/UnixSocketListener.ts
  src/util/util/ipc/writer/BaseEventWriter.ts
  src/util/util/ipc/writer/UnixSocketWriter.ts
Due: eslint, prettier --write

Demote default rabbitmq behavior, implement init for all BaseEventWriter/Listener abstracted implementations
  src/util/util/ipc/Event.ts
Due: eslint, prettier --write

Nix: expose EVENT_TRANSMISSION as an option
  nix/modules/default/default.nix
Due: none

Move publishEvent to RabbitMQ.ts
  src/util/util/ipc/Event.ts
  src/util/util/ipc/RabbitMQ.ts
Due: eslint, prettier --write

Add untested rabbitmq single-channel IPC
  src/util/util/index.ts
  src/util/util/ipc/Event.ts
  src/util/util/ipc/RabbitMQ.ts
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/listener/UnixSocketListener.ts
  src/util/util/ipc/writer/RabbitMqSingleWriter.ts
  src/util/util/ipc/writer/UnixSocketWriter.ts
Due: eslint, prettier --write

Move rabbitListen to RabbitMQ.ts
  src/util/util/ipc/Event.ts
  src/util/util/ipc/RabbitMQ.ts
Due: eslint, prettier --write

Better error handling in rabbitmqsinglelistener/writer
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/writer/RabbitMqSingleWriter.ts
Due: eslint, prettier --write

Add NixOS test for starting with rabbitmq-single ipc
  default.nix
  nix/tests/test-bundle-starts.nix
  src/util/util/ipc/Event.ts
  src/util/util/ipc/listener/RabbitMqSingleListener.ts
  src/util/util/ipc/writer/RabbitMqSingleWriter.ts
Due: eslint, prettier --write

Add startup test for legacy rabbitmq setup
  default.nix
Due: none

Use forEach rather than .map.forEach
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Simplify some queries for handling mentions
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

No longer handle mention_count == null since its no longer nullable
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Move message mention handling to separate function
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Add full trace
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Bulk insert missing ReadStates
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Use sets for mention roles/users
  assets/openapi.json
  assets/schemas.json
  src/api/util/handlers/Message.ts
  src/schemas/api/messages/Message.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

User mentions: use `user_id IN (...)` rather than `user_id = ... OR user_id = ...`
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Trace fillInMissingIDs
  src/api/util/handlers/Message.ts
  src/util/interfaces/Event.ts
Due: eslint, prettier --write

Break up bulk inserts for read states to avoid postgres parameter exhaustion
  src/api/util/handlers/Message.ts
  src/util/util/extensions/Array.ts
  src/util/util/extensions/Math.ts
Due: eslint, prettier --write

Fix some copyright headers
  src/util/util/extensions/Math.ts
Due: eslint, prettier --write

fix migrations script
  src/apply-migrations.ts
Due: eslint, prettier --write

side tangent: update C# DB model, fix admin api auth
  extra/admin-api/Interop/Spacebar.Interop.Authentication/SpacebarAuthenticationService.cs
  extra/admin-api/Models/Spacebar.Models.AdminApi/DiscoverableGuildModel.cs
  extra/admin-api/Models/Spacebar.Models.AdminApi/GuildModel.cs
  extra/admin-api/Models/Spacebar.Models.AdminApi/UserModel.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Application.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/AutomodRule.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/ConnectedAccount.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Emoji.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Guild.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/Member.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/TeamMember.cs
  extra/admin-api/Models/Spacebar.Models.Db/Models/User.cs
  extra/admin-api/Models/Spacebar.Models.Db/Spacebar.Models.Db.csproj
  extra/admin-api/Models/Spacebar.Models.Db/deps.json
  extra/admin-api/Spacebar.AdminApi/Controllers/DiscoveryController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/UserController.cs
  extra/admin-api/Spacebar.AdminApi/Middleware/AuthenticationMiddleware.cs
Due: none
