Repository spacebarchat/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

.lintstagedrc:

{
	"*.{j,t}s": ["eslint", "prettier --write"],
    "src/schemas/{*,**/*}.ts": ["eslint", "prettier --write", "tsc -b -v", "node scripts/schema.js", "node scripts/openapi.js" ]
}

sechema changes+migrations
  assets/openapi.json
  assets/schemas.json
  src/schemas/api/channels/Channel.ts
  src/util/entities/Channel.ts
  src/util/entities/Message.ts
  src/util/migrations/postgres/1764609924756-threads.ts
  src/util/migrations/postgres/1764610059742-threadtypo.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

thread API start
  assets/openapi.json
  assets/schemas.json
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/util/handlers/Message.ts
  src/gateway/opcodes/Identify.ts
  src/schemas/api/messages/Message.ts
  src/schemas/uncategorised/MessageThreadCreationSchema.ts
  src/schemas/uncategorised/index.ts
  src/util/entities/Channel.ts
  src/util/entities/Message.ts
  src/util/interfaces/Event.ts
  src/util/migration/postgres/1764612754204-threads.ts
  src/util/migration/postgres/1764622231800-threadGoof.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

initial recipients work
  src/api/routes/channels/#channel_id/messages/#message_id/index.ts
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/util/handlers/Message.ts
  src/util/entities/Channel.ts
  src/util/entities/Message.ts
Due: eslint, prettier --write

thread stuff ig
  src/api/routes/channels/#channel_id/messages/index.ts
Due: eslint, prettier --write

Update channel type enum to un-erkinalp-ize it, and match discord
  src/schemas/api/channels/Channel.ts
  src/util/entities/Channel.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Add basic thread helper functions
  src/util/entities/Channel.ts
Due: eslint, prettier --write

Regenerate migrations for threads
  src/util/migration/postgres/1764622231800-threadGoof.ts
  src/util/migration/postgres/1769636200774-Threads.ts
  src/util/migrations/postgres/1764609924756-threads.ts
  src/util/migrations/postgres/1764610059742-threadtypo.ts
Due: eslint, prettier --write

Update message type enum
  src/schemas/api/messages/Message.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Thread members ported from #876
  src/util/entities/ThreadMember.ts
  src/util/entities/index.ts
  src/util/migration/postgres/1769653303971-ThreadMembers.ts
  src/util/migration/postgres/1769653303972-ThreadMembersIdx.ts
Due: eslint, prettier --write

Gateway event types ported from #876
  src/util/interfaces/Event.ts
Due: eslint, prettier --write

Channel/thread util methods ported from #876
  src/util/entities/Channel.ts
  src/util/entities/Member.ts
Due: eslint, prettier --write

READY changes for threads ported from #876
  src/gateway/opcodes/Identify.ts
  src/schemas/api/channels/Channel.ts
  src/schemas/uncategorised/ChannelModifySchema.ts
  src/schemas/uncategorised/MessageThreadCreationSchema.ts
  src/util/dtos/ReadyGuildDTO.ts
Due: eslint, prettier --write, tsc -b -v, node scripts/schema.js, node scripts/openapi.js

Thread membership routes
  src/api/routes/channels/#channel_id/index.ts
  src/api/routes/channels/#channel_id/messages/#message_id/threads.ts
  src/api/routes/channels/#channel_id/messages/index.ts
  src/api/routes/channels/#channel_id/thread-members.ts
  src/util/config/types/GuildConfiguration.ts
Due: eslint, prettier --write

schemas
  assets/openapi.json
  assets/schemas.json
Due: none

cs cdn interop stuff
  assets/openapi.json
  assets/schemas.json
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Abstractions/FilesystemFileSource.cs
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Abstractions/IFileSource.cs
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Abstractions/ProxyFileSource.cs
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Signing/CdnSignature.cs
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Signing/CdnSigningService.cs
  extra/admin-api/Interop/Spacebar.Interop.Cdn.Signing/Spacebar.Interop.Cdn.Signing.csproj
  extra/admin-api/Spacebar.Cdn/Services/DiscordImageResizeService.cs
Due: none

cdn-cs updates
  extra/admin-api/Spacebar.Cdn/Controllers/GetImageController.cs
  extra/admin-api/Spacebar.Cdn/Controllers/Internal/GetImageController.cs
  extra/admin-api/SpacebarAdminAPI.sln
  extra/admin-api/Utilities/Spacebar.Cdn.Fsck/Program.cs
  extra/admin-api/Utilities/Spacebar.Cdn.Migration/FsckService.cs
  extra/admin-api/Utilities/Spacebar.Cdn.Migration/MigrationFileStores.cs
  extra/admin-api/Utilities/Spacebar.Cdn.Migration/Program.cs
  extra/admin-api/Utilities/Spacebar.Cdn.Migration/Properties/launchSettings.json
  extra/admin-api/Utilities/Spacebar.Cdn.Migration/Spacebar.Cdn.Migration.csproj
  extra/admin-api/Utilities/Spacebar.Cdn.Migration/appsettings.Development.json
  extra/admin-api/Utilities/Spacebar.Cdn.Migration/appsettings.json
  extra/admin-api/Utilities/Spacebar.Cdn.Migration/deps.json
Due: none

Schema updates
  assets/openapi.json
  assets/schemas.json
Due: none

fix: don't return default role for user profiles
  src/api/routes/users/#user_id/profile.ts
Due: eslint, prettier --write

Identify: hold onto access token
  src/gateway/opcodes/Identify.ts
  src/gateway/util/WebSocket.ts
Due: eslint, prettier --write

Basic offload configuration
  src/util/config/Config.ts
  src/util/config/types/OffloadConfiguration.ts
  src/util/config/types/index.ts
Due: eslint, prettier --write

LazyRequest: minor cleanup
  src/gateway/opcodes/LazyRequest.ts
Due: eslint, prettier --write

Enforce numeric-only discriminators in PATCH /users/@me
  src/api/routes/users/@me/index.ts
Due: eslint, prettier --write

convert event listener iterations to Promise.all + map
  src/gateway/listener/listener.ts
Due: eslint, prettier --write

simplify reconnect delay and shorten time
  src/util/util/RabbitMQ.ts
Due: eslint, prettier --write

remove jitter from delay calculation altogether
  src/util/util/RabbitMQ.ts
Due: eslint, prettier --write

fix: find the user instead of creating it when replying to a message
  src/api/util/handlers/Message.ts
Due: eslint, prettier --write

Use describe for test grouping, more functions, less const arrows
  src/util/util/DateBuilder.test.ts
  src/util/util/ElapsedTime.test.ts
  src/util/util/JSON.ts
  src/util/util/Stopwatch.test.ts
  src/util/util/Timespan.test.ts
Due: eslint, prettier --write

temp unfinished json stuff in ts
  package.json
  src/util/util/json/JsonNode.ts
  src/util/util/json/JsonSerializer.test.ts
  src/util/util/json/JsonSerializer.ts
  src/util/util/json/JsonSerializerOptions.ts
  src/util/util/json/README.RST
  src/util/util/json/jsonWorker.ts
Due: eslint, prettier --write

Bump dependencies (node)
  package-lock.json
  package.json
Due: none

don't need this
  src/util/util/Event.ts
Due: eslint, prettier --write

fix: treat `guild_id=0` as no `guild_id` for discord mobile client (a.k.a. the mobile fuckery)
  src/api/routes/users/@me/mentions.ts
Due: eslint, prettier --write

try to enhance Unix socket handling
  src/util/util/Event.ts
Due: eslint, prettier --write

Add emit listener check and ghost file handling
  src/util/util/Event.ts
Due: eslint, prettier --write

Update cs admin api to use abstracted auth
  extra/admin-api/Spacebar.AdminApi/Controllers/ConfigController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/GuildController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/Media/StickerController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/Media/UserMediaController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/PingController.cs
  extra/admin-api/Spacebar.AdminApi/Controllers/UserController.cs
  extra/admin-api/Spacebar.AdminApi/Middleware/AuthenticationMiddleware.cs
  extra/admin-api/Spacebar.AdminApi/Program.cs
  extra/admin-api/Spacebar.AdminApi/Services/AuthenticationService.cs
  extra/admin-api/Spacebar.AdminApi/Services/Configuration.cs
  extra/admin-api/Spacebar.AdminApi/Spacebar.AdminApi.csproj
Due: none

Add member profile customisation fields to db
  src/util/entities/Member.ts
  src/util/migration/postgres/1770079838835-MemberProfileCustomisation.ts
Due: eslint, prettier --write

Clean up some scripts
  extra/admin-api/Models/db-patches/00-use-stream-class.patch
  extra/admin-api/Models/db-patches/01-ulong-user-rights.patch
  extra/admin-api/scaffold-db
  nix/trimNodeModules.sh
Due: none

Add user profile costomisation fields to db
  src/util/entities/User.ts
  src/util/migration/postgres/1770062009127-UserProfileCustomisation.ts
Due: eslint, prettier --write

update npm scripts to add a migration apply one
  package.json
Due: none
